@using System.Web.Optimization;

<link href="~/Content/css/login.css" rel="stylesheet" />

@{
    ViewBag.Title = "Inviami la Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="login-page">
    <div class="form">
        <form id="frmInviamiPassword" class="login-form" action="/Account/InviamiPassword" method="post">
            @Html.AntiForgeryToken()
            
            <div id="Alert" class="alert alert-danger hide">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
            <input id="matricola" name="matricola" type="text" class="form-control" placeholder="Matricola"/>
            @Html.ValidationMessage("matricola", new { @class = "text-danger" })

            <button>Invia</button>
        </form>
    </div>
</div>

@section scripts
{
    
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {            
            $("form").submit(function () {
                if ($("form").valid()) {
                    Blocca();
                }
            });
        });

    </script>
}
