@model NewISE.Models.AccountModel

<link href="~/Content/css/login.css" rel="stylesheet" />

@{
    ViewBag.Title = "Login";

    string returnUrl = (string)ViewBag.RetunUrl;
    int CountError = 0;
    if (ViewBag.ModelStateCount != null)
    {
        CountError = (int)ViewBag.ModelStateCount;
    }
}

<div class="login-page">
    <div class="form">
        <form class="login-form" action="/Account/Login" method="post">
            @Html.AntiForgeryToken()
            <input name="eMail" type="text" placeholder="e-mail" />
            <input name="password" type="password" placeholder="password" />
            <button>login</button>
            <p>
                <label>
                    @Html.EditorFor(model => model.ricordati)Ricordati di me
                </label>
            </p>
            <p class="message">Dimenticata la password? <a href="#">Inviami la password</a></p>
        </form>
    </div>
</div>