#divAttivitaTrasferimento {
    border-right: solid;
    border-right-width: 2px;
    border-right-color: #237069;
}

#divOperazioniAttivitaTrasf {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.col-xs-8 {
    /*padding-left: 15px;*/
}

.col-xs-4 {
    /*padding-right: 5px;*/
}
