* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    /*height: 99%;
    width: 99% !important;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;*/
}

body {
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    overflow: auto;
    margin: auto auto auto auto;
    width: 1200px;
    height: 100%;
}

#intestazioneLayout {
    background-color: whitesmoke;
    margin-top: 5px;
    height: 5%;
    margin-bottom:5px;
}

#RealeSimulazione {
    background-color: #696969;
    color: whitesmoke;
    margin-bottom: 5px;
    height: 20px;
}

#menuIse {
    border: solid;
    background-color: #00B04E;
    color: whitesmoke;
    height: 25px;
    font-weight: bold;
}

    #menuIse a:hover {
        background-color: #237069;
        cursor: pointer;
    }

.container {
   max-width: none !important;
   width: 1200px;
}

footer {
    left: 5px;
    right: 5px;
    bottom: 10px;
    height: 60px;
    width: 100%;
    border-top: ridge;
    border-top-color: #00B04E;
}



.DivSfondoBordo {
    box-shadow: 10px 10px 5px #808080;
}

.border_radius {
    border-radius: 10px 10px 10px 10px;
    border: 0px inset;
    background-color: gainsboro;
    padding-bottom: 10px;
}

.margineDestro15px {
    margin-right: 15px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: lightgray;
    font-weight: bold;
}

::-moz-placeholder { /* Firefox 19+ */
    color: lightgray;
    font-weight: bold;
}

:-ms-input-placeholder { /* IE 10+ */
    color: lightgray;
    font-weight: bold;
}

:-moz-placeholder { /* Firefox 18- */
    color: lightgray;
    font-weight: bold;
}

.DivSfondoBordo {
    box-shadow: 10px 10px 5px #808080;
}

.border_radius {
    border-radius: 10px 10px 10px 10px;
    border: 0px inset;
    background-color: gainsboro;
    padding-bottom: 10px;
}

.btn_link {
    text-decoration: none;
    color: white;
    background-color: #00B04E;
}

.btn_link:hover{
    color:mintcream;
    background-color:cadetblue;
    text-decoration: none;
}




hr{
    border-color:#00B04E;
}

a.disabled{
    cursor:not-allowed;
}

.SfondoBordoImg {
	box-shadow: 7px 4px 10px #808080; 
}﻿