
<div id="dialog" title="Riepilogo delle Operazioni Effettuate - Indennità di Sede Estera"></div>


<!--
<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Using Fade Out</h3>
                    
                    <span class="pull-right clickable" data-effect="fadeOut"><i class="fa fa-times"></i></span>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
                <div class="panel-footer">
                    Panel footer
                </div>
            </div>  
        </div>
</div>
-->



<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Riepilogo delle Operazioni Effettuate - Indennità di Sede Estera</b></div>
                <div class="panel-body">

                    <div class="col-xs-2 date">

                        <div class="input-group input-append date">
                            <input type="text" class="form-control" id="data1" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>

                    <div class="col-xs-2 date">

                        <div class="input-group input-append date">
                            <input type="text" class="form-control" id="data2" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>

                    <button class="btn btn-small btn-default" id="opener">
                        <i aria-hidden="true" class="fa fa-2x fa-print"></i>

                        Stampa
                    </button>

                    @*<div class="col-md-3">
                            <a href="#" onclick="callpartialRptOpIndSedeEstera()">Test </a>

                        </div>*@

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

     $(".form-control:input").datepicker();

     var windowWidth = $(window).width();
     var windowHeight = $(window).height();

    
         $("#dialog").dialog({
             autoOpen: false,
             show: {
                 //effect: "blind",
                 //duration: 1000
             },
             hide: {
                 //effect: "explode",
                 //duration: 1000
             },
             close: function (event, ui) {
                 $('.container').removeClass("NoOverflow");
             },
             height: windowHeight, width: windowWidth


         });

         $("#opener").on("click", function () {
             //debugger;

             $('.container').addClass("NoOverflow");

             $("#dialog").dialog("open");
             $("#dialog").css("background-color", "#ffffff");

             
             var rotta = "/Statistiche/RiepiloghiIseMensile/RptRiepiloghiIseMensile";

             var data1 = $("#data1").datepicker().val()
             var data2 = $("#data2").datepicker().val()


             $.ajax({
                 type: "POST",
                 url: rotta,
                 data: {
                     V_DATA1: data1,
                     V_DATA2: data2
                 },
                 dataType: 'html',
                 beforeSend: function () {
                     //debugger;
                     $("#dialog").empty();

                 },
                 success: function (result) {
                     //debugger;
                     $("#dialog").html(result);


                 },
                 complete: function () {
                     //$("#divEffettoLoadAutNoDoc").hide("slow");
                     //                $("#Centro").getNiceScroll().resize();
                 },
                 error: function (jqXHR, textStatus, errorThrow) {
                     //debugger;
                     var msg = errorThrow.err;
                     AlertDialog(msg);
                 }

             });

         });

         // Operazioni Effettuate - Indennità di Sede Estera (Nuovo ISE) - Test
         //function callpartialRptOpIndSedeEstera() {
         //    //debugger;

         //    rotta = "/Statistiche/RiepiloghiIseMensile/RptRiepiloghiIseMensile";

         //    var data = $("#datepicker").datepicker().val()
         //    var data = $("#datepicker").datepicker().val()

         //    $.ajax({
         //        type: "POST",
         //        url: rotta,
         //        data: {
         //            V_DATA: data,
         //            V_DATA1: data1
         //        },
         //        dataType: 'html',
         //        beforeSend: function () {

         //        },
         //        success: function (result) {
         //            //debugger;
         //            $("#divPartialView").empty();
         //            $("#divPartialView").html(result);
         //        },
         //        complete: function () {

         //        },
         //        error: function (jqXHR, textStatus, errorThrow) {
         //            //debugger;
         //            var msg = errorThrow.err;
         //            AlertDialog(msg);
         //        }
         //    });
         //}
     
</script>