<div class="row">
    <div class="form-group">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Riepilogo delle Operazioni Effettuate - Contributo Abitazione</b></div>
                <div class="panel-body">

                    <div class="col-xs-2 date">

                        <div class="input-group input-append date" id="datePicker">
                            <input type="text" class="form-control" name="date" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>

                    <div class="col-xs-2 date">

                        <div class="input-group input-append date" id="datePicker">
                            <input type="text" class="form-control" name="date" />
                            <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>

                    <button class="btn btn-default btn-sm" id="opener">
                        <i aria-hidden="true" class="fa fa-2x fa-print"></i>
                        Stampa
                    </button>

                </div>
                </div>
        </div>
    </div>
