@model NewISE.Models.DBModel.TrasferimentoModel

@{
    decimal idTrasferimento = Convert.ToDecimal(ViewData["idTrasferimento"]);
    var DescDocumento = ViewData["DescDocumento"];
}

@using System.Web.Optimization;

<style>
    .BordoRosso {
        border-style: double;
        border-color: red;
        border-width: 1px;
        display: inline-block;
    }
</style>

<div class="form-horizontal">

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idTrasferimento)

    <div class="form-group ">
        <div class="col-xs-12">
            <div class="text-center ">
                <h4><strong>@DescDocumento</strong></h4>
            </div>
            <hr />
            <input id="file" name="file" multiple type="file" class="file file-loading hidden" data-allowed-file-extensions='["pdf"]' data-show-preview="false" value="">
            <div id="divFile" style="display:inline-block;">
                <button class="btn btn-default" id="btUploadPassaporto" onclick="">
                    <i class="fa fa-2x fa-upload" aria-hidden="true"></i>
                    Seleziona file
                </button>
                <span id="spanNomeFile">Nessun documento selezionato</span>
            </div>
            <i class="fa fa-asterisk text-danger" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            <span id="spMsgError" class="text-danger col-xs-12" style="font-size:1.1em;"></span>
        </div>
    </div>
    <div class="form-group">
        <span class="text-danger col-xs-12" style="font-size:0.9em;">(*) Selezione obbligatoria.</span>
    </div>
</div>

<script type="text/javascript">
    $("#btAnnullaDocPassaporto").removeAttr("disabled");
    $("#btAnnullaDocPassaporto").removeClass("disabled");
    $("#btUploadDocPassaporto").removeAttr("disabled");
    $("#btUploadDocPassaporto").removeClass("disabled");

    $("#btUploadPassaporto").click(function () {
        $("#file").empty();
        $("#file").click();
    });

    $("#file").change(function () {
        //debugger;
        var file = $("#file").val();
        if (file != null && file != undefined) {
            var splitFile = file.split("\\");
            var nomeFile = splitFile[splitFile.length - 1];

            var estensioniValide = new Array(".pdf");
            var estensione = nomeFile.substring(nomeFile.lastIndexOf('.')).toLowerCase();
            if (estensioniValide.contiene(estensione)) {

                $("#NomeFile").val(nomeFile);

                $("#spanNomeFile").html(nomeFile);
                return true;
            } else {

                MsgErroreJson("L'estensione del documento che si vuole importare (" + estensione + ") non è supportata.\nL'estensione supportata è il .pdf");

                return false;
            }
        }

    });




</script>
