<link href="~/Areas/Statistiche/Content/Statistiche.css" rel="stylesheet" />


@model IEnumerable<NewISE.Models.LogAttivitaModel>

@{
    ViewBag.Title = "Statistiche";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div style="margin: 15px"></div>

<div class="row">
    <div class="col-xs-4">

        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#Primomenu">
                            <span class="glyphicon glyphicon-folder-close">
                            </span>&nbsp;&nbsp;LOG Attivita
                        </a>
                    </h4>
                </div>
                <div id="Primomenu" class="panel-collapse collapse">

                    <div class="list-group">
                        <a href="#" class="list-group-item" onclick="callpartial();">Log Attività</a>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#Secondomenu">
                            <span class="glyphicon glyphicon-file">
                            </span>Archivio Vecchio ISE
                        </a>
                    </h4>
                </div>
                <div id="Secondomenu" class="panel-collapse collapse">
                    <div class="list-group">
                        <a href="#" class="list-group-item" onclick="callpartialPresenze();">Presenze dei livelli in servizio all'estero</a>
                        <a href="#" class="list-group-item" onclick="callpartialSpese();">Spese diverse</a>
                        <a href="#" class="list-group-item" onclick="callpartialSpeseAvvicendamento();">Spese avvicendamento</a>
                        <a href="#" class="list-group-item" onclick="callpartialStoria();">Storia del dipendente</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpIndEstera();">Operazioni effettuate - Indennità di Sede Estera</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpContributoAbitazione();">Operazioni Effettuate - Contributo Abitazione</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpUsoAbitazione();">Operazioni Effettuate - Uso Abitazione</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpCanoneAnticipato();">Operazioni Effettuate - Canone Anticipato</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpSpeseDiverse();">Operazioni Effettuate - Spese Diverse</a>
                        <!--<a href="#" class="list-group-item" onclick="callpartialOpMaggAbitazione();">Riepilogo delle Operazioni Effettuate - Maggiorazione Abitazione</a>-->
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#Terzomenu">
                            <span class="glyphicon glyphicon-file">
                            </span>Nuovo ISE
                        </a>
                    </h4>
                </div>
                <div id="Terzomenu" class="panel-collapse collapse">
                    <div class="list-group">

                        <a href="#" class="list-group-item" onclick="">Consuntivo dei Costi</a>
                        <a href="#" class="list-group-item" onclick="">Consuntivo dei Costi per codice Co. An.</a>
                        <a href="#" class="list-group-item" onclick="">Consuntivo spese di Avvicendamento</a>
                        <a href="#" class="list-group-item" onclick="">Dipendenti all'Estero per Livello</a>
                        <a href="#" class="list-group-item" onclick="">Dislocazione dei dipendenti all'Estero</a>
                        <a href="#" class="list-group-item" onclick="">Riepilogo per Livello</a>
                        <a href="#" class="list-group-item" onclick="">Riepilogo Generale</a>
                        <a href="#" class="list-group-item" onclick="">Riepilogo per Ufficio</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpIndSedeEsteraNew();">Riepilogo delle operazioni effettuate - Indennità di sede estera</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpMaggAbitazioneNew();">Riepilogo delle operazioni effettuate - Maggiorazione Abitazione</a>
                        <a href="#" class="list-group-item" onclick="">Riepilogo delle operazioni effettuate - Spese Diverse</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpSospensioniNew();">Sospensioni</a>
                        <a href="#" class="list-group-item" onclick="">Spese Diverse</a>
                        <a href="#" class="list-group-item" onclick="">Storia del Dipendente</a>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="divPartialView" class="col-xs-8"></div>

</div>
       

        <script type="text/javascript">

            function callpartial() {
                //debugger;
                var rotta = "/Statistiche/LogAttivita/LogAttivita2";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: { idUtenteAutorizzato: 0 },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            function callpartial2() {
                //debugger;
                var rotta = "/Statistiche/AltreStatistiche/AltreStatistiche2";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: { idUtenteAutorizzato: 0 },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            function callpartial3() {
                //debugger;
                //var rotta = "/Statistiche/AltreStatistiche/Index";
                var rotta = "/Statistiche/ArchivioVecchioISE/Index";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: { idStampa: 0 },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            function callpartial4() {
                //debugger;
                var rotta = "/Statistiche/AltreStatistiche/AltreStatistiche4";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            function callpartial5() {
                //debugger;
                var rotta = "/Statistiche/Riepiloghi/Index";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            //ISE Mensile
            function callpartial6() {
                //debugger;

                rotta = "/Statistiche/RiepiloghiIseMensile/Index";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            function callpartial7() {
                //debugger;

                rotta = "/Statistiche/ArchivioVecchioISE/OpCanoneAnticipato";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            function callpartial8() {
                //debugger;

                rotta = "/Statistiche/PresenzeLivelliEstero/PresenzeLivelli";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            function callpartial9() {
                //debugger;

                rotta = "/Statistiche/OpIndEstera/OpIndennitaEstera";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Dislocazione Dipendenti Estero
            function callpartialDislocazione() {
                //debugger;

                rotta = "/Statistiche/DislocazioneDipEstero/Dislocazione";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Presenze Livelli Estero
            function callpartialPresenze() {
                //debugger;

                rotta = "/Statistiche/PresenzeLivelliEstero/PresenzeLivelli";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Spese Diverse
            function callpartialSpese() {
                //debugger;

                rotta = "/Statistiche/SpeseDiverse/SpeseDiverse";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Spese Avvicendamento
            function callpartialSpeseAvvicendamento() {
                //debugger;

                rotta = "/Statistiche/SpeseAvvicendamento/SpeseAvvicendamento";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Storia del Dipendente
            function callpartialStoria() {
                //debugger;

                rotta = "/Statistiche/StoriaDipendente/StoriaDipendente";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Operazioni Effettuate - Indennità di Sede Estera
            function callpartialOpIndEstera() {
                //debugger;

                rotta = "/Statistiche/OpIndEstera/OpIndennitaEstera";
                //rotta = "/Statistiche/OpIndEstera/Index";

                //var data = $("#datepicker").datepicker().val()
                //var data1 = $("#datepicker1").datepicker().val()

                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {
                        //V_DATA: data,
                        //V_DATA1: data1
                    },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Operazioni Effettuate - Canone Anticipato
            function callpartialOpCanoneAnticipato() {
                //debugger;

                rotta = "/Statistiche/OpCanoneAnticipato/OpCanoneAnticipato";

                //var data = $("#datepicker").datepicker().val()
                //var data1 = $("#datepicker1").datepicker().val()


                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {
                        //V_DATA: data,
                        //V_DATA1: data1
                    },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Operazioni Effettuate - Uso Abitazione
            function callpartialOpUsoAbitazione() {
                //debugger;

                rotta = "/Statistiche/OpUsoAbitazione/OpUsoAbitazione";

                //var data = $("#datepicker").datepicker().val()
                //var data1 = $("#datepicker1").datepicker().val()


                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {
                        //V_DATA: data,
                        //V_DATA1: data1
                    },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Operazioni Effettuate - Contributo Abitazione
            function callpartialOpContributoAbitazione() {
                //debugger;

                rotta = "/Statistiche/OpContributoAbitazione/OpContributoAbitazione";

                //var data = $("#datepicker").datepicker().val()
                //var data1 = $("#datepicker1").datepicker().val()


                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {
                        //V_DATA: data,
                        //V_DATA1: data1
                    },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Operazioni Effettuate - Spese diverse
            function callpartialOpSpeseDiverse() {
                //debugger;

                rotta = "/Statistiche/OpSpeseDiverse/OpSpeseDiverse";

                //var data = $("#datepicker").datepicker().val()
                //var data1 = $("#datepicker1").datepicker().val()


                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {
                        //V_DATA: data,
                        //V_DATA1: data1
                    },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Operazioni Effettuate - Maggiorazione Abitazione
            function callpartialOpMaggAbitazione() {
                //debugger;

                rotta = "/Statistiche/OpMaggiorazioneAbitazione/OpMaggiorazioneAbitazione";

                var data = $("#datepicker").datepicker().val()
                var data1 = $("#datepicker1").datepicker().val()

                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {
                        V_DATA: data,
                        V_DATA1: data1
                    },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Operazioni Effettuate - Indennità di Sede Estera (Nuovo ISE)
            function callpartialOpIndSedeEsteraNew() {
                //debugger;

                rotta = "/Statistiche/RiepiloghiIseMensile/Index";

                var data1 = $("#data1").datepicker().val()
                var data2 = $("#data2").datepicker().val()

                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {
                        V_DATA1: data1,
                        V_DATA2: data2
                    },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Operazioni Effettuate - Maggiorazione Abitazione (Nuovo ISE)
            function callpartialOpMaggAbitazioneNew() {
                //debugger;

                rotta = "/Statistiche/RiepiloghiMaggAbitazione/Index";

                var data1 = $("#data1").datepicker().val()
                var data2 = $("#data2").datepicker().val()

                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {
                        V_DATA1: data1,
                        V_DATA2: data2
                    },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Operazioni Effettuate - Sospensioni (Nuovo ISE)
            function callpartialOpSospensioniNew() {
                //debugger;

                rotta = "/Statistiche/RiepiloghiSospensioni/Index";

                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

        </script>
