<link href="~/Areas/Statistiche/Content/Statistiche.css" rel="stylesheet" />


@model IEnumerable<NewISE.Models.LogAttivitaModel>

@{
    ViewBag.Title = "Statistiche";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div style="margin: 15px"></div>
<div class="row">

    <div class="col-xs-5">

        <div id="divMsgUtente" class="DivSfondoBordo border_radius">
            <br /><br />
            <ul>
                <li><a href="#" onclick="callpartial();">LOG Attivita</a></li>
            </ul>
            <ul>
                <li>
                <a href="#" onclick="callpartial3();">Archivio Vecchio ISE </a>
                    <ul class="no-bullets">
                        <li><a href="#" onclick="callpartialDislocazione();">Dislocazione dei dipendenti all'estero</a></li>
                        <li><a href="#" onclick="callpartialPresenze();">Presenze dei livelli in servizio all'estero</a></li>
                        <li><a href="#" onclick="callpartialSpese();">Spese diverse</a></li>
                        <li><a href="#" onclick="callpartialStoria();">Storia del dipendente</a></li>
                        <li><a href="#" onclick="callpartialOpIndEstera();">Operazioni effettuate - Indennità di Sede Estera</a></li>
                        <li><a href="#" onclick="callpartialOpContributoAbitazione();">Operazioni Effettuate - Contributo Abitazione</a></li>
                        <li><a href="#" onclick="callpartialOpUsoAbitazione();">Operazioni Effettuate - Uso Abitazione</a></li>
                        <li><a href="#" onclick="callpartialOpCanoneAnticipato();">Operazioni Effettuate - Canone Anticipato</a></li>
                        <li><a href="#" onclick="callpartialOpSpeseDiverse();">Operazioni Effettuate - Spese Diverse</a></li>
                        <li><a href="#" onclick="callpartialOpMaggAbitazione();">Operazioni Effettuate - Maggiorazione Abitazione</a></li>
                    </ul>
                
                </li>

            </ul>
            <ul>
                <li>
                    <a href="#" onclick="callpartial();">ISE</a>
                    <ul class="no-bullets">
                        <li><a href="#">Interrogazione dipendente</a></li>
                        <li><a href="#" onclick="callpartial5();">Riepiloghi</a></li>
                        <li><a href="#">Altre Statistiche</a></li>
                    </ul>

                </li>
            </ul>
        </div>

        

    </div>

    <div id="divPartialView" class="col-xs-12">
        @Html.Hidden("codicedipendente")
    </div>

</div>

<script type="text/javascript">

    function callpartial() {
        //debugger;
        var rotta = "/Statistiche/LogAttivita/LogAttivita2";
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idUtenteAutorizzato: 0 },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartial2() {
        //debugger;
        var rotta = "/Statistiche/AltreStatistiche/AltreStatistiche2";
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idUtenteAutorizzato: 0 },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartial3() {
        //debugger;
        //var rotta = "/Statistiche/AltreStatistiche/Index";
        var rotta = "/Statistiche/ArchivioVecchioISE/Index";
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idStampa: 0 },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartial4() {
        //debugger;
        var rotta = "/Statistiche/AltreStatistiche/AltreStatistiche4";
        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartial5() {
        //debugger;
        var rotta = "/Statistiche/Riepiloghi/Index";
        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    //ISE Mensile
    function callpartial6() {
        debugger;
        
        rotta = "/Statistiche/RiepiloghiIseMensile/Index";
        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartial7() {
        //debugger;

        rotta = "/Statistiche/ArchivioVecchioISE/OpCanoneAnticipato";
        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartial8() {
        //debugger;

        rotta = "/Statistiche/PresenzeLivelliEstero/PresenzeLivelli";
        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartial9() {
        //debugger;

        rotta = "/Statistiche/OpIndEstera/OpIndennitaEstera";
        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    // Dislocazione Dipendenti Estero
    function callpartialDislocazione() {
        //debugger;

        rotta = "/Statistiche/DislocazioneDipEstero/Dislocazione";
        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    // Presenze Livelli Estero
    function callpartialPresenze() {
        //debugger;

        rotta = "/Statistiche/PresenzeLivelliEstero/PresenzeLivelli";
        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }
    
    // Spese Diverse
    function callpartialSpese() {
        //debugger;

        rotta = "/Statistiche/SpeseDiverse/SpeseDiverse";
        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }
    
    // Storia del Dipendente
    function callpartialStoria() {
        //debugger;

        rotta = "/Statistiche/StoriaDipendente/StoriaDipendente";
        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    // Operazioni Effettuate - Indennità di Sede Estera
    function callpartialOpIndEstera() {
        //debugger;

        rotta = "/Statistiche/OpIndEstera/OpIndennitaEstera";
        //rotta = "/Statistiche/OpIndEstera/Index";
        
        //var data = $("#datepicker").datepicker().val()
        //var data1 = $("#datepicker1").datepicker().val()
        
        $.ajax({
            type: "POST",
            url: rotta,
            data: {
                //V_DATA: data,
                //V_DATA1: data1
            },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    // Operazioni Effettuate - Canone Anticipato
    function callpartialOpCanoneAnticipato() {
        //debugger;

        rotta = "/Statistiche/OpCanoneAnticipato/OpCanoneAnticipato";

        //var data = $("#datepicker").datepicker().val()
        //var data1 = $("#datepicker1").datepicker().val()


        $.ajax({
            type: "POST",
            url: rotta,
            data: {
                //V_DATA: data,
                //V_DATA1: data1
            },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    // Operazioni Effettuate - Uso Abitazione
    function callpartialOpUsoAbitazione() {
        //debugger;

        rotta = "/Statistiche/OpUsoAbitazione/OpUsoAbitazione";

        //var data = $("#datepicker").datepicker().val()
        //var data1 = $("#datepicker1").datepicker().val()


        $.ajax({
            type: "POST",
            url: rotta,
            data: {
                //V_DATA: data,
                //V_DATA1: data1
            },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    // Operazioni Effettuate - Contributo Abitazione
    function callpartialOpContributoAbitazione() {
        //debugger;

        rotta = "/Statistiche/OpContributoAbitazione/OpContributoAbitazione";

        //var data = $("#datepicker").datepicker().val()
        //var data1 = $("#datepicker1").datepicker().val()


        $.ajax({
            type: "POST",
            url: rotta,
            data: {
                //V_DATA: data,
                //V_DATA1: data1
            },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }
    
    // Operazioni Effettuate - Spese diverse
    function callpartialOpSpeseDiverse() {
        //debugger;

        rotta = "/Statistiche/SpeseDiverse/SpeseDiverse";

        //var data = $("#datepicker").datepicker().val()
        //var data1 = $("#datepicker1").datepicker().val()


        $.ajax({
            type: "POST",
            url: rotta,
            data: {
                //V_DATA: data,
                //V_DATA1: data1
            },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    // Operazioni Effettuate - Maggiorazione Abitazione
    function callpartialOpMaggAbitazione() {
        //debugger;

        rotta = "/Statistiche/OpMaggiorazioneAbitazione/OpMaggiorazioneAbitazione";

        //var data = $("#datepicker").datepicker().val()
        //var data1 = $("#datepicker1").datepicker().val()

        $.ajax({
            type: "POST",
            url: rotta,
            data: {
                //V_DATA: data,
                //V_DATA1: data1
            },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }
    

</script>