<link href="~/Areas/Statistiche/Content/Statistiche.css" rel="stylesheet" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

@model IEnumerable<NewISE.Models.LogAttivitaModel>

@{
    ViewBag.Title = "Statistiche";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@*<table class="table table-hover">
    <thead>
        <tr>
            <th><a href="#" onclick="callpartial();">LOG Attivita</a></th>
            <th><a href="#" onclick="callpartial3();">Archivio Vecchio ISE </a></th>
            <th>ISE</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th></th>
            <td>Consuntivo dei Costi</td>
            <td>ISE Mensile</td>
            
        </tr>
        <tr>
            <th></th>
            <td>Consuntivo dei Costi per codice Coan</td>
            <td>Maggiorazione Abitazione</td>
            
        </tr>
        <tr>
            <th scope="row"></th>
            <td>Presenze dei livelli in servizio all'estero</td>
            <td>Altre Spese</td>
        </tr>
        <tr>
            <th></th>
            <td>Spese Diverse</td>
            <td>Altre Indennità</td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td>Spese di avvicendamento</td>

        <tr>
            <th scope="row"></th>
            <td>Storia del dipendente</td>
        <tr>
            <th scope="row"></th>
            
            <td>Operazioni effettuate - Indennità di Sede Estera</td>
        <tr>
            <th scope="row"></th>
            
            <td>Operazioni Effettuate - Contributo Abitazione</td>
        <tr>
            <th scope="row"></th>
            
            <td>Operazioni Effettuate - Uso Abitazione</td>
        <tr>
            <th scope="row"></th>
            
            <td>Operazioni Effettuate - Canone Anticipato</td>
        <tr>
            <th scope="row"></th>
            
            <td>Operazioni Effettuate - Spese Diverse</td>
        </tr>
        <tr>
            <th scope="row"></th>
            
            <td>Operazioni Effettuate - Maggiorazione Abitazione</td>
        </tr>
    </tbody>
</table>*@



<div style="margin: 15px"></div>
<div class="row">

    <div class="col-xs-3">
        <div id="divMsgUtente" class="DivSfondoBordo border_radius">
            <br /><br />
            <ul>
                <li><a href="#" onclick="callpartial();">LOG Attivita</a></li>
            </ul>
            <ul>
                <li><a href="#" onclick="callpartial3();">Archivio Vecchio ISE </a></li>
            </ul>
            <ul>
                <li>
                    <a href="#" onclick="callpartial();">ISE</a>
                    <ul class="no-bullets">
                        <li><a href="#">Interrogazione dipendente</a></li>
                        <li><a href="#" onclick="callpartial5();">Riepiloghi</a></li>
                        <li><a href="#">Altre Statistiche</a></li>
                    </ul>

                </li>
            </ul>
        </div>

        

    </div>

    <div id="divPartialView" class="col-xs-12">
        @Html.Hidden("codicedipendente")
    </div>

</div>





@*<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Dropdown Example
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" onclick="callpartial7();">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
    </ul>
</div>*@

<script type="text/javascript">
    function callpartial() {
        //debugger;
        var rotta = "/Statistiche/LogAttivita/LogAttivita2";
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idUtenteAutorizzato: 0 },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartial2() {
        //debugger;
        var rotta = "/Statistiche/AltreStatistiche/AltreStatistiche2";
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idUtenteAutorizzato: 0 },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartial3() {
        //debugger;
        //var rotta = "/Statistiche/AltreStatistiche/Index";
        var rotta = "/Statistiche/ArchivioVecchioISE/Index";
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idStampa: 0 },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartial4() {
        //debugger;
        var rotta = "/Statistiche/AltreStatistiche/AltreStatistiche4";
        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartial5() {
        //debugger;
        var rotta = "/Statistiche/Riepiloghi/Index";
        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    //ISE Mensile
    function callpartial6() {
        debugger;
        
        rotta = "/Statistiche/RiepiloghiIseMensile/Index";
        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }


    function callpartial7() {
        //debugger;

        rotta = "/Statistiche/ArchivioVecchioISE/OpIndennitaEstera";
        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }
</script>