<link href="~/Areas/Statistiche/Content/Statistiche.css" rel="stylesheet" />


@model IEnumerable<NewISE.Models.LogAttivitaModel>

@{
    ViewBag.Title = "Statistiche";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div style="margin: 15px"></div>
<div class="row">
  
    <div class="col-xs-3">
        <div id="divMsgUtente" class="DivSfondoBordo border_radius">
            <br /><br />
            <ul>
                <li><a href="#" onclick="callpartial();">Tabella Log Attivita</a></li>
            </ul>
            <ul>
                <li><a href="#" onclick="callpartial3();">Archivio Vecchio ISE </a></li>
            </ul>
            <ul>
                <li>
                    <a href="#" onclick="callpartial();">ISE</a>
                    <ul class="no-bullets">
                        <li><a href="#" onclick="callpartial();">Interrogazione dipendente</a></li>
                        <li><a href="#" onclick="callpartial3();">Riepiloghi</a></li>
                        <li><a href="#" onclick="callpartial2();">Altre Statistiche</a></li>
                        <li><a href="#" onclick="callpartial3();">Test</a></li>

                    </ul>

                </li>
            </ul>
        </div>
    </div>

    <div id="divPartialView" class="col-xs-12">
        @Html.Hidden("codicedipendente")
    </div>

</div>

<script type="text/javascript">
    function callpartial() {
        //debugger;
        var rotta = "/Statistiche/LogAttivita/LogAttivita2";
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idUtenteAutorizzato: 0 },
            dataType: 'html',
            beforeSend: function () {
                
            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {
                
            },
            error: function (jqXHR, textStatus, errorThrow) {
                debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartial2() {
        //debugger;
        var rotta = "/Statistiche/AltreStatistiche/AltreStatistiche2";
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idUtenteAutorizzato: 0 },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartial3() {
        //debugger;
        //var rotta = "/Statistiche/AltreStatistiche/Index";
        var rotta = "/Statistiche/ArchivioVecchioISE/Index";
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idStampa: 0 },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartial4() {
        //debugger;
        var rotta = "/Statistiche/AltreStatistiche/AltreStatistiche4";
        $.ajax({
            type: "POST",
            url: rotta,
            data: { },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }
</script>