<link href="~/Areas/Statistiche/Content/Statistiche.css" rel="stylesheet" />


@model IEnumerable<NewISE.Models.LogAttivitaModel>

@{
    ViewBag.Title = "Statistiche";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="col-xs-12">
    <div id="divAttivitaStatistiche">
    </div>
</div>


@*<div style="margin: 15px"></div>

<div class="row">
    <div class="col-xs-6">

        <div class="panel-group" id="accordion">                   
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:limegreen;color:white;font-weight:bold">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#Terzomenu" style="font-weight:bold;text-decoration:none">
                            <span class="glyphicon glyphicon-menu-hamburger">
                            </span>&nbsp;&nbsp;Nuovo ISE
                        </a>
                    </h4>
                </div>
                <div id="Terzomenu" class="panel-collapse collapse">
                    <div class="list-group">
                        <h5>
                        <a href="#" class="list-group-item" onclick="callpartialCosti()">Consuntivo dei Costi</a>
                        <a href="#" class="list-group-item" onclick="callpartialCostiCoan()">Consuntivo dei Costi per Codice CO.AN.</a>
                        <a href="#" class="list-group-item" onclick="callpartialCostiUfficio()">Consuntivo dei Costi per Ufficio</a>
                        <a href="#" class="list-group-item" onclick="callpartialSpeseAvvicendamentoNew()">Consuntivo Spese di Avvicendamento</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpDipEsteroLivelloNew();">Dipendenti all'Estero per Livello</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpDipEsteroNew();">Dislocazione dei Dipendenti all'Estero</a>
                        <a href="#" class="list-group-item" onclick="callpartialRiepilogoLivello()">Riepilogo per Livello</a>
                        <a href="#" class="list-group-item" onclick="callpartialRiepilogo()">Riepilogo Generale</a>
                        <a href="#" class="list-group-item" onclick="callpartialRiepilogoUfficio()">Riepilogo per Ufficio</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpIndSedeEsteraNew();">Riepilogo delle Operazioni Effettuate - Indennità di Sede Estera</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpMaggAbitazioneNew();">Riepilogo delle Operazioni Effettuate - Maggiorazione Abitazione</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpTrasportoEffettiNew();">Riepilogo delle Operazioni Effettuate - Trasporto Effetti</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpSospensioniNew();">Sospensioni</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpStoriaDipendenteNew()">Storia del Dipendente</a>
                        </h5>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div id="divPartialView" class="col-xs-6"></div>

</div>*@
       


<script type="text/javascript">
    AttivitaStatistiche();

    function AttivitaStatistiche() {
        //debugger;
        rotta = "/Statistiche/Statistiche/AttivitaStatistiche";

        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divAttivitaStatistiche").empty();
                $("#divAttivitaStatistiche").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartial() {
        //debugger;
        var rotta = "/Statistiche/LogAttivita/LogAttivita2";
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idUtenteAutorizzato: 0 },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

   

    // Operazioni Effettuate - Indennità di Sede Estera (Nuovo ISE)
    function callpartialOpIndSedeEsteraNew() {
        //debugger;

        rotta = "/Statistiche/RiepiloghiIseMensile/Index";

        var data1 = $("#data1").datepicker().val()
        var data2 = $("#data2").datepicker().val()

        $.ajax({
            type: "POST",
            url: rotta,
            data: {
                V_DATA1: data1,
                V_DATA2: data2
            },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    // Operazioni Effettuate - Maggiorazione Abitazione (Nuovo ISE)
    function callpartialOpMaggAbitazioneNew() {
        //debugger;

        rotta = "/Statistiche/RiepiloghiMaggAbitazione/Index";

        var data1 = $("#data1").datepicker().val()
        var data2 = $("#data2").datepicker().val()

        $.ajax({
            type: "POST",
            url: rotta,
            data: {
                V_DATA1: data1,
                V_DATA2: data2
            },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    // Trasporto Effetti (Nuovo ISE)
    function callpartialOpTrasportoEffettiNew() {
        //debugger;

        rotta = "/Statistiche/TrasportoEffettiNew/Index";

        var data1 = $("#data1").datepicker().val()
        var data2 = $("#data2").datepicker().val()

        $.ajax({
            type: "POST",
            url: rotta,
            data: {
                V_DATA1: data1,
                V_DATA2: data2
            },
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }


    // Operazioni Effettuate - Sospensioni (Nuovo ISE)
    function callpartialOpSospensioniNew() {
        //debugger;

        rotta = "/Statistiche/RiepiloghiSospensioni/Index";

        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    // Operazioni Effettuate - Storia del Dipendente (Nuovo ISE)
    function callpartialOpStoriaDipendenteNew() {
        //debugger;

        rotta = "/Statistiche/StoriaDipendenteNew/Index";

        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    // Operazioni Effettuate - Dipendenti all' Estero per Livello (Nuovo ISE)
    function callpartialOpDipEsteroLivelloNew() {
        //debugger;

        rotta = "/Statistiche/DipEsteroLivelloNew/Index";


        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }


    // Operazioni Effettuate - Dislocazione dei Dipendenti all'Estero (Nuovo ISE)
    function callpartialOpDipEsteroNew() {
        //debugger;

        rotta = "/Statistiche/OpDipEsteroNew/Index";

        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartialCostiCoan() {
        //debugger;
        rotta = "/Statistiche/CostiCoan/Index";

        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartialCosti() {
        //debugger;
        rotta = "/Statistiche/Costi/Index";
        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartialCostiUfficio() {
        //debugger;
        rotta = "/Statistiche/CostiUfficio/Index";

        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartialSpeseAvvicendamentoNew() {
        //debugger;
        rotta = "/Statistiche/SpeseAvvicendamentoNew/Index";

        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartialRiepilogoLivello() {
        //debugger;
        rotta = "/Statistiche/RiepilogoLivello/Index";

        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartialRiepilogo() {
        //debugger;
        rotta = "/Statistiche/RiepilogoGenerale/Index";

        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function callpartialRiepilogoUfficio() {
        //debugger;
        rotta = "/Statistiche/RiepilogoUfficio/Index";

        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }


    //
    function callpartialOpTrasportoEffettiNew() {
        //debugger;
        rotta = "/Statistiche/TrasportoEffettiNew/Index";

        $.ajax({
            type: "POST",
            url: rotta,
            data: {},
            dataType: 'html',
            beforeSend: function () {

            },
            success: function (result) {
                //debugger;
                $("#divPartialView").empty();
                $("#divPartialView").html(result);
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

</script>
