<link href="~/Areas/Statistiche/Content/Statistiche.css" rel="stylesheet" />


@model IEnumerable<NewISE.Models.LogAttivitaModel>

@{
    ViewBag.Title = "Statistiche";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@* Menu a discesa*@

@*<div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Apri menu <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li class="divider"></li>
            <li><a href="#">Link 4</a></li>
        </ul>
    </div>*@

<div style="margin: 15px"></div>


<div class="row">
    <div class="col-xs-5">

        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#Primomenu">
                            <span class="glyphicon glyphicon-folder-close">
                            </span>&nbsp;&nbsp;LOG Attivita
                        </a>
                    </h4>
                </div>
                <div id="Primomenu" class="panel-collapse collapse">

                    <div class="list-group">
                        <a href="#" class="list-group-item" onclick="callpartial();">Log Attività</a>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#Secondomenu">
                            <span class="glyphicon glyphicon-file">
                            </span>Archivio Vecchio ISE
                        </a>
                    </h4>
                </div>
                <div id="Secondomenu" class="panel-collapse collapse">
                    <div class="list-group">
                        <a href="#" class="list-group-item" onclick="callpartialPresenze();">Presenze dei livelli in servizio all'estero</a>
                        <a href="#" class="list-group-item" onclick="callpartialSpese();">Spese diverse</a>
                        <a href="#" class="list-group-item" onclick="callpartialSpeseAvvicendamento();">Spese avvicendamento</a>
                        <a href="#" class="list-group-item" onclick="callpartialStoria();">Storia del dipendente</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpIndEstera();">Operazioni effettuate - Indennità di Sede Estera</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpContributoAbitazione();">Operazioni Effettuate - Contributo Abitazione</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpUsoAbitazione();">Operazioni Effettuate - Uso Abitazione</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpCanoneAnticipato();">Operazioni Effettuate - Canone Anticipato</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpSpeseDiverse();">Operazioni Effettuate - Spese Diverse</a>
                        <a href="#" class="list-group-item" onclick="callpartialOpMaggAbitazione();">Riepilogo delle Operazioni Effettuate - Maggiorazione Abitazione</a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#Terzomenu">
                            <span class="glyphicon glyphicon-file">
                            </span>Nuovo ISE
                        </a>
                    </h4>
                </div>
                <div id="Terzomenu" class="panel-collapse collapse">
                    <div class="list-group">

                        <a href="#" class="list-group-item" onclick="">Consuntivo dei Costi</a>
                        <a href="#" class="list-group-item" onclick="">Consuntivo dei Costi per codice Co. An.</a>
                        <a href="#" class="list-group-item" onclick="">Dipendenti all'Estero per Livello</a>
                        <a href="#" class="list-group-item" onclick="">Dislocazione dei dipendenti all'Estero</a>
                        <a href="#" class="list-group-item" onclick="">Riepilogo per Livello</a>
                        <a href="#" class="list-group-item" onclick="">Riepilogo per Ufficio</a>
                        <a href="#" class="list-group-item" onclick="">Riepilogo delle operazioni effettuate - Indennità di sede estera</a>
                        <a href="#" class="list-group-item" onclick="">Riepilogo delle operazioni effettuate - Maggiorazione Abitazione</a>
                        <a href="#" class="list-group-item" onclick="">Sospensioni</a>
                        <a href="#" class="list-group-item" onclick="">Storia del Dipendente</a>
                        
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div>
        <div style="margin: 15px"></div>

        <!--
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Collapsible Group Item #1
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Collapsible Group Item #2
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Collapsible Group Item #3
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
        -->


        <div class="row">

            <div class="col-xs-5">
                <!--
                        <div id="divMsgUtente" class="DivSfondoBordo border_radius">
                            <br /><br />
                            <ul>
                                <li><a href="#" onclick="callpartial();">LOG Attivita</a></li>
                            </ul>
                            <ul>
                                <li>
                                    Archivio Vecchio ISE
                                    @*<a href="#" onclick="callpartial3();">Archivio Vecchio ISE </a>*@
                                    <ul class="no-bullets">
                                        <li>Consuntivo dei Costi * </li>
                                        @*<li><a href="#">Consuntivo dei Costi * </a></li>*@
                                        <li>Consuntivo dei Costi per codice CoAn * </li>
                                        @*<li><a href="#">Consuntivo dei Costi per codice CoAn * </a></li>*@
                                        @*<li><a href="#" onclick="callpartialDislocazione();">Dislocazione dei dipendenti all'estero</a></li>*@
                                        <li>Dislocazione dei dipendenti all'estero *</li>
                                        <li><a href="#" onclick="callpartialPresenze();">Presenze dei livelli in servizio all'estero</a></li>
                                        <li><a href="#" onclick="callpartialSpese();">Spese diverse</a></li>
                                        <li><a href="#" onclick="callpartialSpeseAvvicendamento();">Spese avvicendamento</a></li>
                                        <li><a href="#" onclick="callpartialStoria();">Storia del dipendente</a></li>
                                        <li><a href="#" onclick="callpartialOpIndEstera();">Operazioni effettuate - Indennità di Sede Estera</a></li>
                                        <li><a href="#" onclick="callpartialOpContributoAbitazione();">Operazioni Effettuate - Contributo Abitazione</a></li>
                                        <li><a href="#" onclick="callpartialOpUsoAbitazione();">Operazioni Effettuate - Uso Abitazione</a></li>
                                        <li><a href="#" onclick="callpartialOpCanoneAnticipato();">Operazioni Effettuate - Canone Anticipato</a></li>
                                        <li><a href="#" onclick="callpartialOpSpeseDiverse();">Operazioni Effettuate - Spese Diverse</a></li>
                                        <li><a href="#" onclick="callpartialOpMaggAbitazione();">Operazioni Effettuate - Maggiorazione Abitazione</a></li>
                                    </ul>

                                </li>

                            </ul>
                            <ul>
                                <li>
                                    ISE
                                    @*<a href="#" onclick="callpartial();">ISE</a>*@
                                    <ul class="no-bullets">
                                        <li>Interrogazione dipendente * </li>
                                        @*<li><a href="#">Interrogazione dipendente * </a></li>*@
                                        <li>Riepiloghi * </li>
                                        @*<li><a href="#" onclick="callpartial5();">Riepiloghi * </a></li>*@
                                        <li>Altre Statistiche * </li>
                                        @*<li><a href="#">Altre Statistiche * </a></li>*@
                                    </ul>

                                </li>
                            </ul>
                        </div>
                        -->


            </div>

            <div id="divPartialView" class="col-xs-12">
                @Html.Hidden("codicedipendente")
            </div>

        </div>

        <script type="text/javascript">

            function callpartial() {
                //debugger;
                var rotta = "/Statistiche/LogAttivita/LogAttivita2";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: { idUtenteAutorizzato: 0 },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            function callpartial2() {
                //debugger;
                var rotta = "/Statistiche/AltreStatistiche/AltreStatistiche2";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: { idUtenteAutorizzato: 0 },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            function callpartial3() {
                //debugger;
                //var rotta = "/Statistiche/AltreStatistiche/Index";
                var rotta = "/Statistiche/ArchivioVecchioISE/Index";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: { idStampa: 0 },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            function callpartial4() {
                //debugger;
                var rotta = "/Statistiche/AltreStatistiche/AltreStatistiche4";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            function callpartial5() {
                //debugger;
                var rotta = "/Statistiche/Riepiloghi/Index";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            //ISE Mensile
            function callpartial6() {
                //debugger;

                rotta = "/Statistiche/RiepiloghiIseMensile/Index";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            function callpartial7() {
                //debugger;

                rotta = "/Statistiche/ArchivioVecchioISE/OpCanoneAnticipato";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            function callpartial8() {
                //debugger;

                rotta = "/Statistiche/PresenzeLivelliEstero/PresenzeLivelli";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            function callpartial9() {
                //debugger;

                rotta = "/Statistiche/OpIndEstera/OpIndennitaEstera";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Dislocazione Dipendenti Estero
            function callpartialDislocazione() {
                //debugger;

                rotta = "/Statistiche/DislocazioneDipEstero/Dislocazione";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Presenze Livelli Estero
            function callpartialPresenze() {
                //debugger;

                rotta = "/Statistiche/PresenzeLivelliEstero/PresenzeLivelli";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Spese Diverse
            function callpartialSpese() {
                //debugger;

                rotta = "/Statistiche/SpeseDiverse/SpeseDiverse";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Spese Avvicendamento
            function callpartialSpeseAvvicendamento() {
                //debugger;

                rotta = "/Statistiche/SpeseAvvicendamento/SpeseAvvicendamento";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Storia del Dipendente
            function callpartialStoria() {
                //debugger;

                rotta = "/Statistiche/StoriaDipendente/StoriaDipendente";
                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {},
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Operazioni Effettuate - Indennità di Sede Estera
            function callpartialOpIndEstera() {
                //debugger;

                rotta = "/Statistiche/OpIndEstera/OpIndennitaEstera";
                //rotta = "/Statistiche/OpIndEstera/Index";

                //var data = $("#datepicker").datepicker().val()
                //var data1 = $("#datepicker1").datepicker().val()

                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {
                        //V_DATA: data,
                        //V_DATA1: data1
                    },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Operazioni Effettuate - Canone Anticipato
            function callpartialOpCanoneAnticipato() {
                //debugger;

                rotta = "/Statistiche/OpCanoneAnticipato/OpCanoneAnticipato";

                //var data = $("#datepicker").datepicker().val()
                //var data1 = $("#datepicker1").datepicker().val()


                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {
                        //V_DATA: data,
                        //V_DATA1: data1
                    },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Operazioni Effettuate - Uso Abitazione
            function callpartialOpUsoAbitazione() {
                //debugger;

                rotta = "/Statistiche/OpUsoAbitazione/OpUsoAbitazione";

                //var data = $("#datepicker").datepicker().val()
                //var data1 = $("#datepicker1").datepicker().val()


                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {
                        //V_DATA: data,
                        //V_DATA1: data1
                    },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Operazioni Effettuate - Contributo Abitazione
            function callpartialOpContributoAbitazione() {
                //debugger;

                rotta = "/Statistiche/OpContributoAbitazione/OpContributoAbitazione";

                //var data = $("#datepicker").datepicker().val()
                //var data1 = $("#datepicker1").datepicker().val()


                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {
                        //V_DATA: data,
                        //V_DATA1: data1
                    },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Operazioni Effettuate - Spese diverse
            function callpartialOpSpeseDiverse() {
                //debugger;

                rotta = "/Statistiche/OpSpeseDiverse/OpSpeseDiverse";

                //var data = $("#datepicker").datepicker().val()
                //var data1 = $("#datepicker1").datepicker().val()


                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {
                        //V_DATA: data,
                        //V_DATA1: data1
                    },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }

            // Operazioni Effettuate - Maggiorazione Abitazione
            function callpartialOpMaggAbitazione() {
                //debugger;

                rotta = "/Statistiche/OpMaggiorazioneAbitazione/OpMaggiorazioneAbitazione";

                var data = $("#datepicker").datepicker().val()
                var data1 = $("#datepicker1").datepicker().val()

                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {
                        V_DATA: data,
                        V_DATA1: data1
                    },
                    dataType: 'html',
                    beforeSend: function () {

                    },
                    success: function (result) {
                        //debugger;
                        $("#divPartialView").empty();
                        $("#divPartialView").html(result);
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            }


        </script>
