@using NewISE.Models.DBModel

@{
    decimal idTrasferimento = Convert.ToDecimal(ViewData["idTrasferimento"]);
    decimal idTitoliViaggio = Convert.ToDecimal(ViewData["idTitoliViaggio"]);
}

<link href="~/Content/css/CssCheckBox.css" rel="stylesheet" />



<div class="row" style="padding-right: 15px;">
    <div class="col-xs-12">
        <div id="divTitoliViaggio" style="padding-top: 5px;border-bottom:solid;border-width:1px;border-color:limegreen">
            @Html.Action("ElencoTitoliViaggio", "TitoliViaggio", new { idTitoliViaggio = idTitoliViaggio })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-7" style="margin-top: 10px; margin-bottom: 10px">
        <button class="btn btn-default btn-sm hidden disabled" hidden disabled id="btNotificaRichiestaTV" onclick="ModalNotificaRichiesta();">
            <table>
                <tr>
                    <td>
                        <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                    </td>
                    <td style="padding-left:5px">
                        Notifica richiesta
                    </td>
                </tr>
            </table>
        </button>
        <button class="btn btn-default btn-sm hidden disabled " hidden disabled id="btAttivaRichiestaTV" onclick="ModalAttivaRichiesta();">
            <table>
                <tr>
                    <td>
                        <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                    </td>
                    <td style="padding-left:5px">
                        Attiva richiesta
                    </td>
                </tr>
            </table>
        </button>
        <button class="btn btn-default btn-sm hidden disabled" hidden disabled id="btAnnullaRichiestaTV" onclick="ModalAnnullaRichiesta();">
            <table>
                <tr>
                    <td>
                        <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                    </td>
                    <td style="padding-left:5px">
                        Annulla richiesta
                    </td>
                </tr>
            </table>
        </button>
    </div>
</div>

<div class="modal fade" id="ModalNotificaRichiestaTV" tabindex="-1" role="dialog" aria-labelledby="ModalNotificaRichiestaTVLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="notificaModelLabel">Attenzione!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewNotificaRichiestaTV">
                    <label>Procedere con la notifica della richiesta?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaNotificaRichiestaTV" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaNotificaRichiestaTV();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAttivaRichiestaTV" tabindex="-1" role="dialog" aria-labelledby="ModalAttivaRichiestaTVLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="AttivaModelLabel">Attenzione!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewAttivaRichiestaTV">
                    <label>Procedere con l'attivazione della richiesta?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaAttivazioneRichiestaTV" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAttivaRichiestaTV();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAnnullaRichiestaTV" tabindex="-1" role="dialog" aria-labelledby="ModalAnnullaRichiestaTVLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="annullaModelLabel">Info!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewAnnullaRichiestaTV">
                    <label>Procedere con l'annullamento della richiesta?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaAnnullaRichiestaTV" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAnnullaRichiestaTV();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    GestionePulsantiNotificaAttivaAnnullaTitoliViaggio();

    function GestionePulsantiNotificaAttivaAnnullaTitoliViaggio() {
        //debugger;
        var rotta = "/TitoliViaggio/GestionePulsantiNotificaAttivaAnnulla";
        var idTitoliViaggio = parseInt('@idTitoliViaggio');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTitoliViaggio: idTitoliViaggio },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    var admin = result.admin;
                    var richiediNotifica = result.richiediNotifica;
                    var richiediAnnulla = result.richiediAnnulla;
                    var richiediAttivazione = result.richiediAttivazione;
                    var inLavorazione = result.inLavorazione;

                    $("#btNotificaRichiestaTV").attr("disabled", "disabled");
                    $("#btNotificaRichiestaTV").addClass("disabled");

                    $("#btAttivaRichiestaTV").attr("disabled", "disabled");
                    $("#btAttivaRichiestaTV").addClass("disabled");

                    $("#btAnnullaRichiestaTV").attr("disabled", "disabled");
                    $("#btAnnullaRichiestaTV").addClass("disabled");

                    //se amministratore vedo i pulsanti altrimenti solo notifica
                    if (admin) {
                        $("#btNotificaRichiestaTV").removeAttr("hidden");
                        $("#btNotificaRichiestaTV").removeClass("hidden");

                        $("#btAttivaRichiestaTV").removeAttr("hidden");
                        $("#btAttivaRichiestaTV").removeClass("hidden");

                        $("#btAnnullaRichiestaTV").removeAttr("hidden");
                        $("#btAnnullaRichiestaTV").removeClass("hidden");
                    } else {
                        $("#btNotificaRichiestaTV").removeAttr("hidden");
                        $("#btNotificaRichiestaTV").removeClass("hidden");
                    }

                    //Se risulta in lavorazione abilito la il pulsante notifica
                    if (inLavorazione && richiediNotifica) {
                        $("#btNotificaRichiestaTV").removeAttr("disabled");
                        $("#btNotificaRichiestaTV").removeClass("disabled");
                    } else {
                        if (richiediAttivazione) {
                            $("#btAttivaRichiestaTV").removeAttr("disabled");
                            $("#btAttivaRichiestaTV").removeClass("disabled");
                            $("#btAnnullaRichiestaTV").removeAttr("disabled");
                            $("#btAnnullaRichiestaTV").removeClass("disabled");
                        } else {
                            if (richiediNotifica) {
                                $("#btNotificaRichiestaTV").removeAttr("disabled");
                                $("#btNotificaRichiestaTV").removeClass("disabled");

                            }
                        }
                    }
                    GestioneAttivitaTrasferimento();
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }


    function ElencoTitoliViaggio() {
        //debugger;
        var rotta = "/TitoliViaggio/ElencoTitoliViaggio";
        var idTitoliViaggio = @idTitoliViaggio;

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idTitoliViaggio: idTitoliViaggio},
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                Blocca();
            },
            success: function (result) {
                //debugger;
                $("#divTitoliViaggio").empty();
                $("#divTitoliViaggio").html(result);
            },
            error: function (error) {
                //debugger;
                Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function ModalNotificaRichiesta() {
        //debugger;
        $('#ModalNotificaRichiestaTV').modal().show();
    }

    function ModalAnnullaRichiesta() {
        //debugger;
        $('#ModalAnnullaRichiestaTV').modal().show();
    }

    function ModalAttivaRichiesta() {
        //debugger;
        $('#ModalAttivaRichiestaTV').modal().show();
    }


    function ConfermaNotificaRichiestaTV() {
        //debugger;
        var rotta = "/TitoliViaggio/ConfermaNotificaRichiestaTV";
        var idTitoliViaggio = parseInt('@idTitoliViaggio');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTitoliViaggio: idTitoliViaggio },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    ElencoTitoliViaggio();
                    GestionePulsantiNotificaAttivaAnnullaTitoliViaggio();
                    InfoElaborazioneAjax(result.msg);


                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });
    }

    function ConfermaAnnullaRichiestaTV() {
        //debugger;
        var rotta = "/TitoliViaggio/ConfermaAnnullaRichiestaTV";
        var idTitoliViaggio = parseInt('@idTitoliViaggio');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTitoliViaggio: idTitoliViaggio },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    ElencoTitoliViaggio();
                    GestionePulsantiNotificaAttivaAnnullaTitoliViaggio();
                    InfoElaborazioneAjax(result.msg);
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function ConfermaAttivaRichiestaTV() {
        //debugger;
        var rotta = "/TitoliViaggio/ConfermaAttivaRichiestaTV";
        var idTitoliViaggio = parseInt('@idTitoliViaggio');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTitoliViaggio: idTitoliViaggio },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    ElencoTitoliViaggio();
                    GestionePulsantiNotificaAttivaAnnullaTitoliViaggio();
                    InfoElaborazioneAjax(result.msg);
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }


</script>
