@{
    decimal idTrasferimento = Convert.ToDecimal(ViewData["idTrasferimento"]);
    decimal idTitoloViaggio = Convert.ToDecimal(ViewData["idTitoloViaggio"]);
}

<link href="~/Content/css/CssCheckBox.css" rel="stylesheet" />


<h4>Richiesta Titoli di viaggio/Carta d'imbarco</h4>

<div class="row">
    <div class="col-xs-12" style="padding-right: 20px;">
        <div id="divRimborsoSuccessivo" style="padding-top: 5px;">
            @Html.Action("RimborsoSuccessivo", "TitoliViaggio", new { idTitoloViaggio = idTitoloViaggio })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div style="margin-right: 20px;">
            <hr />
        </div>

    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="padding-right: 20px;">
        <div id="divGestioneFormularioTitoliViaggio" style="padding-top: 5px;">
            @Html.Action("GestioneFormularioTitoliViaggio", "TitoliViaggio", new { idTitoloViaggio = idTitoloViaggio })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        <div id="divUploadTitoli">
            @Html.Action("UploadTitoliViaggio", "TitoliViaggio", new { idTitoloViaggio = idTitoloViaggio })
        </div>
    </div>
    <div class="col-xs-6">

    </div>
</div>

<div id="divPusantiNotificaAndConcludiTitoliViaggio">
    @Html.Action("GestPulsantiNotificaAndPraticaConclusa", "TitoliViaggio", new { idTitoloViaggio = idTitoloViaggio })
</div>

<script type="text/javascript">

    function GestioneFormularioTitoliViaggio() {
        debugger;
        var rotta = "/TitoliViaggio/GestioneFormularioTitoliViaggio";
        var idTitoloViaggio = parseInt('@idTitoloViaggio');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTitoloViaggio: idTitoloViaggio },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#divGestioneFormularioTitoliViaggio").empty();
                $("#divGestioneFormularioTitoliViaggio").html(result);

                //RicercaDocumenti();

            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });

    }

    function GestionePulsantiNotificaAndConcludiTitoliViaggio() {
        //debugger;
        var rotta = "/TitoliViaggio/GestPulsantiNotificaAndPraticaConclusa";
        var idTrasferimento = parseInt('@idTrasferimento');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#divPusantiNotificaAndConcludiTitoliViaggio").empty();
                $("#divPusantiNotificaAndConcludiTitoliViaggio").html(result);

                //RicercaDocumenti();

            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });

    }

    function NotificaRichiestaTitoliViaggi() {
        //debugger;
        var rotta = "/TitoliViaggio/NotificaRichiesta";
        var idTitoloViaggio = parseInt('@idTitoloViaggio');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTitoloViaggio: idTitoloViaggio },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    GestionePulsantiNotificaAndConcludiTitoliViaggio();
                    //GestioneChkEscludiPassaporto();
                    GestioneAttivitaTrasferimento();
                    InfoElaborazioneAjax(result.msg);

                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });
    }

    function ConcludiRichiestaTitoliViaggi() {
        //debugger;
        var rotta = "/TitoliViaggio/ConcludiPratica";
        var idTrasferimento = parseInt('@idTrasferimento');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    GestionePulsantiNotificaAndConcludiTitoliViaggio();
                    //GestioneChkEscludiPassaporto();
                    GestioneAttivitaTrasferimento();
                    InfoElaborazioneAjax(result.msg);

                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });
    }
</script>
