@{
    ViewBag.Title = "Parametri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Parametri/Contenuti/CSS/Parametri.css" rel="stylesheet" />


<div class="form-horizontal" id="divRiga1">

    <div class="form-group">
        @Html.Label("lblParametro", "Seleziona Tabella", new { @class = "control-label col-xs-2" })
        <div id="divCombo" class="col-xs-3 ">
            <div class="select2-container select2-container--classic">
                @Html.DropDownList("idParametro", ViewBag.ParametriList as IEnumerable<SelectListItem>, new { @class = "form-control select2 select2-select", @onchange = "prelevaPartiaViewParametri();", @onclick = "prelevaPartiaViewParametri();"  })
            </div>
            @Html.ValidationMessage("idParametro", "", new { @class = "text-danger" })
        </div>
        <div id="divChk" class="col-xs-5">
            <div style="display:inline-block;">
                <input type="checkbox" id="escludiAnnullati" checked="checked" value="Escludi" onclick="prelevaPartiaViewParametri();" />
            </div>
        <div style="vertical-align:middle; display:inline-block;">
                <label>Escludi annullati</label>
            </div></div>

    </div>

</div>

<div id="divContentpartial" class="row">
    <div id="divPViewParametri" class="col-xs-12">
    </div>
</div>

<div id="dialog-message" title="Attenzione!!!" style="display:none;">
    <div>
        <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span>
        <strong><span id="msgDialog"></span></strong>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(function () {
            $("#idParametro").select2({
                placeholder: "Seleziona il Parametro",
                allowClear: true,
                language: "it"
            });

        });

        function prelevaPartiaViewParametri() {
            //debugger;
            var rotta = "";

            var tabParam = parseInt($("#idParametro").select2('val'));
            var chk = true;
            if ($("#escludiAnnullati").is(":checked")) {
                chk = true;
            }
            else {
                chk = false;
            }

            if (isNaN(tabParam)) {
                //AlertDialog("Selezionare una tabella dei parametri.");
                $("#divPViewParametri").empty();
                return false;
            }
            switch (tabParam) {
                case 0:// Indennita di base
                    rotta = "/Parametri/ParamIndennitaBase/IndennitaBase";
                    break;
                case 1:// Riduzioni
                    rotta = "/Parametri/ParamRiduzioni/Riduzioni";
                    break;
                case 2: // Coefficiente di Sede
                    rotta = "/Parametri/CoefficientiSede/CoefficientiSede";
                    break;
                case 3: // Percentuale di Disagio
                    rotta = "/Parametri/ParamPercDisagio/PercentualeDisagio";
                    break;
                case 4:// Maggiorazione Coniuge
                    rotta = "/Parametri/ParamMaggConiuge/MaggiorazioniConiuge";
                    break;
                case 5:// Maggiorazione Figli
                    rotta = "/Parametri/ParamMaggFigli/MaggiorazioneFigli";
                    break;
                case 6:// Indennità Primo Segretario
                    rotta = "/Parametri/ParamPrimoIndSegr/PrimoSegretario";
                    break;
                case 7:// Indennità Sistemazione
                    rotta = "/Parametri/ParamIndSistemaz/IndennitaSistemazione";
                    break;
                case 8:// Aliquote Contributive
                    rotta = "/Parametri/ParamAliquoteContr/AliquoteContributive";
                    break;
                case 9:// Percentuale Maggiorazione Abitazione
                    rotta = "/Parametri/ParamPercMaggAbitaz/PercentualeMaggAbitazione";
                    break;
                case 10:// Indennità di Richiamo
                    rotta = "/Parametri/ParamIndRichiamo/IndennitaRichiamo";
                    break;
                case 11:// Valute
                    rotta = "/Parametri/ParamValute/Valute";
                    break;
                case 12:// Fascia Chilometrica
                    rotta = "/Parametri/ParamFasciaKm/FasciaKm";
                    break;
                case 13:// Coefficiente Fascia Chilometrica
                    rotta = "/Parametri/ParamCoeffFasciaKm/CoefficienteFasciaKm";
                    break;
                case 14:// Maggiorazioni Annuali
                    rotta = "/Parametri/ParamMaggAnnuali/MaggiorazioniAnnuali";
                    break;
                default:

            }

            $.ajax({
                type: "POST",
                url: rotta,
                data: { escludiAnnullati: chk },
                dataType: 'html',
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();
                    //$("#DialogNewDoc").dialog("destroy");
                    //$("#divEffettoLoadAutNoDoc").show("slow");
                },
                success: function (result) {
                    //debugger;
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    $("#divPViewParametri").empty();
                    $("#divPViewParametri").html(result);

                    //RicercaDocumenti();

                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });

        }



    </script>
}