@using NewISE.Models.DBModel
<link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />

<script src="~/Scripts/plugins/piexif.js"></script>
<script src="~/Scripts/plugins/sortable.js"></script>
<script src="~/Scripts/plugins/purify.js"></script>
<script src="~/Scripts/fileinput.min.js"></script>
<script src="~/Content/bootstrap-fileinput/themes/fa/theme.min.js"></script>
<script src="~/Scripts/locales/it.js"></script>

@{
    decimal idTipoDocumento = (decimal)ViewData["idTipoDocumento"];
    string titoloPagina = ViewData["titoloPagina"].ToString();
    decimal idTrasportoEffettiPartenza = (decimal)ViewData["idTrasportoEffettiPartenza"];
}

@Html.Hidden("titoloPagina", titoloPagina)

<div style="padding-left: 15px; padding-right: 10px;">
    <input id="files" name="files[]" type="file" multiple class="file-loading">
    <div id="divError" class="text-center text-error text-danger">
    </div>
</div>

@*<div class="form-group">
        <div class="col-xs-12">
            <span id="spMsgError" class="text-danger col-xs-12" style="font-size:1.1em;"></span>
        </div>
    </div>*@

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">

    //function MsgErroreJson(msg) {
    //    $("#spMsgError").html(msg);
    //}

    $("#files").change(function () {
        //debugger;
        var file = $("#files").val();
        if (file != null && file != undefined && file != "") {
            var splitFile = file.split("\\");
            var nomeFile = splitFile[splitFile.length - 1];
            var estensioniValide = new Array(".pdf");
            var estensione = nomeFile.substring(nomeFile.lastIndexOf('.')).toLowerCase();
            if (estensioniValide.contiene(estensione)) {
                return true;
            } else {
                //MsgErroreJson("L'estensione del documento che si vuole importare (" + estensione + ") non è supportata.\nL'estensione supportata è il pdf");

                return false;
            }
        }

    });

    $("#files").fileinput({
        language: "it",
        uploadUrl: "/TrasportoEffetti/SalvaDocumentoTEPartenza",
        uploadAsync: true,
        previewFileIcon: '<i class="fa fa-file"></i>',
        preferIconicPreview: true,
        previewFileIconSettings: {
            'pdf': '<i class="fa fa-file-pdf-o text-danger"></i>'
        },
        allowedFileExtensions: ["pdf"],
        minFileCount: 1,
        maxFileCount: 5,
        validateInitialCount: true,
        uploadExtraData: function () {
            return {
                idTipoDocumento: parseInt('@idTipoDocumento'),
                idTrasportoEffettiPartenza: parseInt('@idTrasportoEffettiPartenza'),
            };
        },
        msgInvalidFileExtension: "L'estensione del documento che si vuole importare ('{name}') non è supportata. L'estensione supportata è il '{extensions}'.",
        showBrowse: false,
        browseOnZoneClick: true,
        showAjaxErrorDetails: true,
        resizeImage: true,
        elErrorContainer: '#divError',
        required: true,
    });
    $('#files').on('fileuploaded', function (event, data, previewId, index) {
        //debugger;
    });

    $('#files').on('filebatchuploaderror', function (event, data, previewId, index) {
        //debugger;
    });

    $('#file').on('filebatchuploadcomplete', function (event, data, previewId, index) {
        //debugger;
    });
</script>
