@using NewISE.Models.DBModel

@{
    decimal idTrasferimento = Convert.ToDecimal(ViewData["idTrasferimento"]);
    decimal idTrasportoEffettiPartenza = Convert.ToDecimal(ViewData["idTrasportoEffettiPartenza"]);
}

<link href="~/Content/css/CssCheckBox.css" rel="stylesheet" />



<div class="row" style="padding-right: 15px;">
    <div class="col-xs-12">
        <div id="divTrasportoEffettiPartenza" style="padding-top: 5px;border-bottom:solid;border-width:1px;border-color:limegreen">
            @Html.Action("TrasportoEffettiPartenza", "TrasportoEffetti", new { idTrasportoEffettiPartenza = idTrasportoEffettiPartenza })
        </div>
    </div>
</div>

<div class="row">
    <div class="pull-right" style="margin-top: 10px; margin-bottom: 10px;margin-right:30px ">
        <button class="btn btn-default btn-sm hidden disabled" hidden disabled id="btNotificaRichiestaTE" onclick="ModalNotificaRichiestaTE();">
            <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
            Notifica richiesta
        </button>
        <button class="btn btn-default btn-sm hidden disabled " hidden disabled id="btAttivaRichiestaTE" onclick="ModalAttivaRichiestaTE();">
            <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
            Attiva richiesta
        </button>
        <button class="btn btn-default btn-sm hidden disabled" hidden disabled id="btAnnullaRichiestaTE" onclick="ModalAnnullaRichiestaTE();">
            <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
            Annulla richiesta
        </button>
    </div>
</div>

<div class="modal fade" id="ModalNotificaRichiestaTE" tabindex="-1" role="dialog" aria-labelledby="ModalNotificaRichiestaTELabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="notificaModelLabel">Attenzione!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewNotificaRichiestaTE">
                    <label>Procedere con la notifica della richiesta?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaNotificaRichiestaTE" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaNotificaRichiestaTE();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAttivaRichiestaTE" tabindex="-1" role="dialog" aria-labelledby="ModalAttivaRichiestaTELabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="AttivaModelLabel">Attenzione!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewAttivaRichiestaTE">
                    <label>Procedere con l'attivazione della richiesta?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaAttivazioneRichiestaTE" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAttivaRichiestaTE();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAnnullaRichiestaTE" tabindex="-1" role="dialog" aria-labelledby="ModalAnnullaRichiestaTELabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="annullaModelLabel">Info!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewAnnullaRichiestaTE">
                    <label>Procedere con l'annullamento della richiesta?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaAnnullaRichiestaTE" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAnnullaRichiestaTE();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    GestionePulsantiNotificaAttivaAnnullaTrasportoEffettiPartenza();

    function GestionePulsantiNotificaAttivaAnnullaTrasportoEffettiPartenza() {
        //debugger;
        var rotta = "/TrasportoEffetti/GestionePulsantiNotificaAttivaAnnullaTEPartenza";
        var idTrasportoEffettiPartenza = parseInt('@idTrasportoEffettiPartenza');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasportoEffettiPartenza: idTrasportoEffettiPartenza },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    var admin = result.admin;
                    var richiestaTE = result.richiestaTE;
                    var attivazioneTE = result.attivazioneTE;
                    var DocContributo = result.DocContributo;
                    var DocAttestazione = result.DocAttestazione;
                    var NumAttivazioni=result.NumAttivazioni;

                    $("#btNotificaRichiestaTE").attr("disabled", "disabled");
                    $("#btNotificaRichiestaTE").addClass("disabled");

                    $("#btNotificaRichiestaTE").removeAttr("hidden");
                    $("#btNotificaRichiestaTE").removeClass("hidden");


                    //se amministratore vedo i pulsanti altrimenti solo notifica
                    if (admin) {
                        $("#btAttivaRichiestaTE").removeAttr("hidden");
                        $("#btAttivaRichiestaTE").removeClass("hidden");

                        $("#btAnnullaRichiestaTE").removeAttr("hidden");
                        $("#btAnnullaRichiestaTE").removeClass("hidden");

                        $("#btAttivaRichiestaTE").attr("disabled", "disabled");
                        $("#btAttivaRichiestaTE").addClass("disabled");

                        $("#btAnnullaRichiestaTE").attr("disabled", "disabled");
                        $("#btAnnullaRichiestaTE").addClass("disabled");
                    }

                    //Se risulta in lavorazione con almeno un documento abilito la il pulsante notifica
                    if (
                        (NumAttivazioni==0 && richiestaTE==false && attivazioneTE==false && DocContributo) ||
                        (NumAttivazioni>0 && richiestaTE==false && attivazioneTE==false && DocAttestazione)
                        ) 
                    {
                        $("#btNotificaRichiestaTE").removeAttr("disabled");
                        $("#btNotificaRichiestaTE").removeClass("disabled");
                    } else {
                        if (admin) {
                            if (richiestaTE && attivazioneTE==false) {
                                $("#btAttivaRichiestaTE").removeAttr("disabled");
                                $("#btAttivaRichiestaTE").removeClass("disabled");
                                $("#btAnnullaRichiestaTE").removeAttr("disabled");
                                $("#btAnnullaRichiestaTE").removeClass("disabled");
                            }
                        }
                    }
                    GestioneAttivitaTrasferimento();
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function ModalNotificaRichiestaTE() {
        //debugger;
        $('#ModalNotificaRichiestaTE').modal().show();
    }

    function ModalAnnullaRichiestaTE() {
        //debugger;
        $('#ModalAnnullaRichiestaTE').modal().show();
    }

    function ModalAttivaRichiestaTE() {
        //debugger;
        $('#ModalAttivaRichiestaTE').modal().show();
    }


    function ConfermaNotificaRichiestaTE() {
        //debugger;
        var rotta = "/TrasportoEffetti/ConfermaNotificaRichiestaTEPartenza";
        var idTrasportoEffettiPartenza = parseInt('@idTrasportoEffettiPartenza');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasportoEffettiPartenza: idTrasportoEffettiPartenza },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    TrasportoEffettiPartenza();
                    GestionePulsantiNotificaAttivaAnnullaTrasportoEffettiPartenza();
                    InfoElaborazioneAjax(result.msg);
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });
    }

    function ConfermaAnnullaRichiestaTE() {
        //debugger;
        var rotta = "/TrasportoEffetti/ConfermaAnnullaRichiestaTEPartenza";
        var idTrasportoEffettiPartenza = parseInt('@idTrasportoEffettiPartenza');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasportoEffettiPartenza: idTrasportoEffettiPartenza },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    TrasportoEffettiPartenza();
                    GestionePulsantiNotificaAttivaAnnullaTrasportoEffettiPartenza();
                    InfoElaborazioneAjax(result.msg);
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function ConfermaAttivaRichiestaTE() {
        //debugger;
        var rotta = "/TrasportoEffetti/ConfermaAttivaRichiestaTEPartenza";
        var idTrasportoEffettiPartenza = parseInt('@idTrasportoEffettiPartenza');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasportoEffettiPartenza: idTrasportoEffettiPartenza },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    TrasportoEffettiPartenza();
                    GestionePulsantiNotificaAttivaAnnullaTrasportoEffettiPartenza();
                    InfoElaborazioneAjax(result.msg);
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }


    //aggiungere funzione che esegue TrasportoEffettiPartenza
    function TrasportoEffettiPartenza() {
        //debugger;
        var rotta = "/TrasportoEffetti/TrasportoEffettiPartenza";
        var idTrasportoEffettiPartenza = @idTrasportoEffettiPartenza;

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idTrasportoEffettiPartenza: idTrasportoEffettiPartenza},
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                Blocca();
            },
            success: function (result) {
                //debugger;
                $("#divTrasportoEffettiPartenza").empty();
                $("#divTrasportoEffettiPartenza").html(result);
            },
            error: function (error) {
                //debugger;
                Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

</script>

