@using NewISE.Models.DBModel

<link href="~/Content/Dipendenti.css" rel="stylesheet" />

@{
    ViewBag.Title = "Dipendenti";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool admin = Convert.ToBoolean(ViewBag.Amministratore);

}



<input type="hidden" id="hMatricola" value="" />
<input type="hidden" id="hAmministratore" value="@admin.ToString()" />

<input type="hidden" id="hMenuInLavorazione" value="" />

@Html.Hidden("hidTrasferimento")

<div class="row">
    <div id="divPanelDipendenti" class="col-xs-5">
        <div id="ContenitoreDipendentiGepe" class="animated fadeInLeft">
            @Html.Action("DipendentiGepe", "Dipendenti")
        </div>
    </div>
    <div class="col-xs-7">
        <div id="ContenitoreDatiTrasf">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 animated fadeInUpBig">
        <div id="tabIntestazione" class="nav nav-tabs nav-justified">
            <ul id="tabsGestioneTrasferimento" class="nav nav-tabs tabs-destro">
                @if (admin)
                {
                    <li class="disabled" id="mnNuovoTrasferimento"><a id="lkNuovoTrasferimento" disabled href="#tabNuovoTrasferimento" data-toggle="tab" onclick="NuovoTrasferimento();">Nuovo Trasferimento</a></li>
                }
                else
                {
                    <li class="disabled" id="mnNuovoTrasferimento"><a id="lkNuovoTrasferimento" disabled href="#tabNuovoTrasferimento" data-toggle="tab">Nuovo Trasferimento</a></li>
                }
                <li class="disabled" id="mnGestioneTrasferimento"><a id="lkGestioneTrasferimento" disabled href="#tabGestioneTrasferimento" data-toggle="tab">Gestione Trasferimento</a></li>

                <li class="dropdown">
                    <button class="btn btn-default dropdown-toggle disabled" style="font-size:1.2rem" disabled type="button" id="ddVariazioneTrasferimento" data-toggle="dropdown">
                        Variazioni Trasferimento
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation" class="disabled" id="mnMaggiorazioneFamiliare"><a role="menuitem" tabindex="-1" id="lkMaggiorazioneFamiliare" disabled href="#tabMaggiorazioneFamiliare" data-toggle="tab" style="font-size:1.2rem">Maggiorazione Familiare</a></li>
                        <li role="presentation" class="disabled" id="mnPassaporto"><a role="menuitem" tabindex="-1" id="lkPassaporto" disabled href="#tabPassaporto" data-toggle="tab" style="font-size:1.2rem">Richiesta Passaporto</a></li>
                        <li role="presentation" class="disabled" id="mnTitoliViaggio"><a role="menuitem" tabindex="-1" id="lkTitoliViaggio" disabled href="#tabTitoliViaggio" data-toggle="tab" style="font-size:1.2rem">Richiesta Titoli di Viaggio</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" class="disabled" id="mnSaldoTrasportoEffetti"><a role="menuitem" tabindex="-1" id="lkSaldoTrasportoEffetti" disabled href="#tabSaldoTrasportoEffetti" data-toggle="tab" style="font-size:1.2rem">Saldo Trasporto Effetti</a></li>
                        <li role="presentation" class="disabled" id="mnMaggiorazioneAbitazione"><a role="menuitem" tabindex="-1" id="lkMaggiorazioneAbitazione" disabled href="#tabMaggiorazioneAbitazione" data-toggle="tab" style="font-size:1.2rem">Maggiorazione Abitazione</a></li>
                    </ul>
                </li>


                @if (admin)
                {
                    <li class="disabled" id="mnCongediPermessi"><a id="lkCongediPermessi" disabled href="#tabCongediPermessi" data-toggle="tab" onclick="ViaggiCongedoPermesso();">Viaggi di Congedo</a></li>
                }
                else
                {
                    <li class="disabled" id="mnCongediPermessi"><a id="lkCongediPermessi" disabled href="#tabCongediPermessi" data-toggle="tab">Viaggi di Congedo</a></li>
                }
                @if (admin)
                {
                    <li class="disabled" id="mnSospensione"><a id="lkSospensione" disabled href="#tabSospensione" data-toggle="tab" onclick="Sospensione();">Sospensione</a></li>
                }
                else
                {
                    <li class="disabled" id="mnSospensione"><a id="lkSospensione" disabled href="#tabSospensione" data-toggle="tab">Sospensione</a></li>
                }
                @if (admin)
                {
                    @*<li class="disabled" id="mnRichiamo"><a id="lkRichiamo" disabled href="#tabRichiamo" data-toggle="tab" onclick="Richiamo();">Richiamo</a></li>*@
                    <li class="dropdown">
                        <button class="btn btn-default dropdown-toggle disabled" disabled type="button" id="ddRientro" data-toggle="dropdown" style="font-size:1.2rem">
                            Rientro
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation" class="disabled" id="mnRichiamo"><a role="menuitem" tabindex="-1" id="lkRichiamo" disabled href="#tabRichiamo" data-toggle="tab" style="font-size:1.2rem">Richiamo</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" class="disabled dropdown-header" id="mnHeaderTE" style="font-size:1.2rem"><b>Richiesta Trasporto Effetti</b></li>
                            <li role="presentation" class="disabled" id="mnTrasportoEffettiRientroAnticipo"><a role="menuitem" tabindex="-1" id="lkTrasportoEffettiRientroAnticipo" disabled href="#tabTrasportoEffettiRientroAnticipo" data-toggle="tab" style="font-size:1.2rem">Anticipo</a></li>
                            <li role="presentation" class="disabled" id="mnTrasportoEffettiRientroSaldo"><a role="menuitem" tabindex="-1" id="lkTrasportoEffettiRientroSaldo" disabled href="#tabTrasportoEffettiRientroSaldo" data-toggle="tab" style="font-size:1.2rem">Saldo</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    @*<li class="disabled" id="ddRientro"><a id="lkRientro" disabled href="#tabRichiamo" data-toggle="tab">Rientro</a></li>*@
                    <li class="dropdown">
                        <button class="btn btn-default dropdown-toggle disabled" disabled type="button" id="ddRientro" data-toggle="dropdown" style="font-size:1.2rem">
                            Rientro
                            <span class="caret"></span>
                        </button>
                    </li>
                }

                <li class="disabled" id="mnIndennita"><a id="lkIndennita" disabled href="#tabIndennita" data-toggle="tab" onclick="GestioneIndennita();">Indennità</a></li>
                @if (admin)
                {
                    <li class="disabled" id="mnRiepilogoVoci"><a id="lkRiepilogoVoci" disabled href="#tabRiepilogoVoci" data-toggle="tab" onclick="RiepilogoVoci();">Riepilogo Voci</a></li>
                }
                else
                {
                    <li class="disabled" id="mnRiepilogoVoci"><a id="lkRiepilogoVoci" disabled href="#tabRiepilogoVoci" data-toggle="tab">Riepilogo Voci</a></li>

                }
                <li class="disabled" id="mnProvvidenzeScolastiche"><a id="lkProvvidenzeScolastiche" disabled href="#tabProvvidenzeScolastiche" data-toggle="tab" onclick="ProvvidenzeScolastiche();">Provv. Socio Scolastiche</a></li>
            </ul>
        </div>
        <div id="tabContenuti" class="tab-content">
            <div class="tab-pane active" id="tabNuovoTrasferimento"></div>
            <div class="tab-pane" id="tabGestioneTrasferimento"></div>
            <div class="tab-pane" id="tabMaggiorazioneFamiliare"></div>
            <div class="tab-pane" id="tabMaggiorazioneAbitazione"></div>
            <div class="tab-pane" id="tabSaldoTrasportoEffetti"></div>
            <div class="tab-pane" id="tabPassaporto"></div>
            <div class="tab-pane" id="tabTitoliViaggio"></div>
            <div class="tab-pane" id="tabCongediPermessi"></div>
            <div class="tab-pane" id="tabSospensione"></div>
            <div class="tab-pane" id="tabRichiamo"></div>
            <div class="tab-pane" id="tabTrasportoEffettiRientroAnticipo"></div>
            <div class="tab-pane" id="tabTrasportoEffettiRientroSaldo"></div>
            <div class="tab-pane" id="tabIndennita"></div>
            <div class="tab-pane" id="tabRiepilogoVoci"></div>
            <div class="tab-pane" id="tabProvvidenzeScolastiche"></div>

        </div>
    </div>
</div>



<div class="modal fade" id="eliminaModal" tabindex="-2" role="dialog" aria-labelledby="eliminaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="eliminaModelLabel">Eliminazione del Trasferimento</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1.5em;">
                <p>Procedere con l'eliminazione del trasferimento?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" onclick="EliminaTrasferimento();">Conferma Eliminazione</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    jQuery(document).ready(function ($) {
        $('#tabsGestioneTrasferimento').tab();

        $("#hMenuInLavorazione").val("mnNuovoTrasferimento");
    });

    function NuovoTrasferimento() {
        //debugger;

        var idTrasferimento = $("#hidTrasferimento").val();
        var matricola = $('#hMatricola').val();

        rotta = "/Trasferimento/NuovoTrasferimento";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento, matricola: matricola },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabNuovoTrasferimento").empty();
                $("#tabNuovoTrasferimento").html(result);

                //RicercaDocumenti();

            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });

    }

    function GestioneTrasferimento() {
        var idTrasferimento = $("#hidTrasferimento").val();
        rotta = "/Trasferimento/GestioneTrasferimento";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabGestioneTrasferimento").empty();
                $("#tabGestioneTrasferimento").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                $("#hMenuInLavorazione").val("mnGestioneTrasferimento");
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function GestioneIndennita() {
        //debugger;
        var idTrasferimento = $("#hidTrasferimento").val();
        rotta = "/Indennita/GestioneIndennita";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabIndennita").empty();
                $("#tabIndennita").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                $("#hMenuInLavorazione").val("mnIndennita");
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function MaggiorazioneFamiliare() {
        var idTrasferimento = $("#hidTrasferimento").val();
        rotta = "/VariazioneMaggiorazioniFamiliari/AttivitaMaggiorazioneFamiliare";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabMaggiorazioneFamiliare").empty();
                $("#tabMaggiorazioneFamiliare").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                $("#hMenuInLavorazione").val("mnMaggiorazioneFamiliare");
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function MaggiorazioneAbitazione() {
        var idTrasferimento = $("#hidTrasferimento").val();
        rotta = "/VariazioneMaggiorazioneAbitazione/VariazioneMaggiorazioneAbitazione";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //svuoto il contenitore di gestione trasferimento per evitare conflitti di oggetti
                $("#tabGestioneTrasferimento").empty();
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabMaggiorazioneAbitazione").empty();
                $("#tabMaggiorazioneAbitazione").html(result);
            },
            complete: function () {
                $("#hMenuInLavorazione").val("mnMaggiorazioneAbitazione");
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function SaldoTrasportoEffetti() {
        //debugger;
        var idTrasferimento = $("#hidTrasferimento").val();
        rotta = "/VariazioneTrasportoEffetti/VariazioneTE";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //svuoto il contenitore di gestione trasferimento per evitare conflitti di oggetti
                $("#tabGestioneTrasferimento").empty();
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabSaldoTrasportoEffetti").empty();
                $("#tabSaldoTrasportoEffetti").html(result);
            },
            complete: function () {
                $("#hMenuInLavorazione").val("mnSaldoTrasportoEffetti");
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function Passaporto() {
        var idTrasferimento = $("#hidTrasferimento").val();
        rotta = "/VariazionePassaporto/VariazionePassaporto";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //svuoto il contenitore di gestione trasferimento per evitare conflitti di oggetti
                //$("#tabGestioneTrasferimento").empty();
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabPassaporto").empty();
                $("#tabPassaporto").html(result);

            },
            complete: function () {
                $("#hMenuInLavorazione").val("mnPassaporto");
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function TitoliViaggio() {
        var idTrasferimento = $("#hidTrasferimento").val();
        rotta = "/VariazioneTitoliViaggio/VariazioneTV";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //svuoto il contenitore di gestione trasferimento per evitare conflitti di oggetti
                //$("#tabGestioneTrasferimento").empty();
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabTitoliViaggio").empty();
                $("#tabTitoliViaggio").html(result);

            },
            complete: function () {
                $("#hMenuInLavorazione").val("mnTitoliViaggio");
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function Sospensione() {
        //debugger;
        var idTrasferimento = $("#hidTrasferimento").val();
        rotta = "/Sospensione/AttivitaSospensione";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabSospensione").empty();
                $("#tabSospensione").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                $("#hMenuInLavorazione").val("mnSospensione");
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function Richiamo() {
        //debugger;
        var idTrasferimento = $("#hidTrasferimento").val();
        //var dataPartenza = $("#hiddataPartenza").val();
        var dataRichiamo;
        rotta = "/Richiamo/Richiamo";
        var nuovo = 0;
        var idFKm = 0;
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento, idFKm: idFKm, nuovo: nuovo, dataRichiamo: dataRichiamo },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                $("#tabGestioneTrasferimento").empty();
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabRichiamo").empty();
                $("#tabRichiamo").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                $("#hMenuInLavorazione").val("mnRichiamo");
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function TrasportoEffettiRientroAnticipo() {
        //debugger;
        var idTrasferimento = $("#hidTrasferimento").val();
        rotta = "/TrasportoEffetti/TERientro";
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                $("#tabGestioneTrasferimento").empty();
                $("#tabTrasportoEffettiRientroAnticipo").empty();
                $("#tabTrasportoEffettiRientroAnticipo").html(result);
            },
            complete: function () {
                $("#hMenuInLavorazione").val("mnTrasportoEffettiRientroAnticipo");
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function TrasportoEffettiRientroSaldo() {
        //debugger;
        var idTrasferimento = $("#hidTrasferimento").val();
        rotta = "/VariazioneTrasportoEffetti/VariazioneTERientro";
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                $("#tabGestioneTrasferimento").empty();
                $("#tabTrasportoEffettiRientroSaldo").empty();
                $("#tabTrasportoEffettiRientroSaldo").html(result);
            },
            complete: function () {
                $("#hMenuInLavorazione").val("mnTrasportoEffettiRientroSaldo");
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function ProvvidenzeScolastiche() {
        //debugger;
        var idTrasferimento = $("#hidTrasferimento").val();
        rotta = "/ProvvidenzeScolastiche/AttivitaProvvidenze";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabProvvidenzeScolastiche").empty();
                $("#tabProvvidenzeScolastiche").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                $("#hMenuInLavorazione").val("mnProvvidenzeScolastiche");
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function RiepilogoVoci() {
        //debugger;
        var idTrasferimento = $("#hidTrasferimento").val();
        rotta = "/RiepilogoVoci/AttivitaRiepilogoVoci";
        //rotta = "/RiepilogoVoci/GestioneRiepilogoVoci";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabRiepilogoVoci").empty();
                $("#tabRiepilogoVoci").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                $("#hMenuInLavorazione").val("mnRiepilogoVoci");
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function MenuDaVisualizzare() {
        //debugger;
        var mnuV = $("#hMenuInLavorazione").val();

        switch (mnuV) {
            case "mnNuovoTrasferimento":
                $("#lkNuovoTrasferimento").click();
                break;
            case "mnGestioneTrasferimento":
                $("#lkGestioneTrasferimento").click();
                break;
        }
    }

    function InfoTrasferimento(idTrasf) {
        //debugger;
        var idTrasferimento = 0;

        if (!isNaN(idTrasf)) {
            idTrasferimento = idTrasf;
        } else {
            idTrasferimento = $("#hidTrasferimento").val();
        }


        var rotta = "/Trasferimento/InfoTrasferimento";

        if (idTrasferimento > 0) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'html',
                beforeSend: function () {
                    //debugger;

                },
                success: function (result) {
                    //debugger;
                    $("#ContenitoreDatiTrasf").empty();
                    $("#ContenitoreDatiTrasf").html(result);

                    //RicercaDocumenti();

                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        } else {
            $("#ContenitoreDatiTrasf").empty();
        }
    }

    function FiltraDipendente() {
        //debugger;
        var rotta = "/Dipendenti/DipendentiGepe";
        var matricola = $("#Nominativo").val();

        if (matricola != "" && matricola != undefined) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { matricola: matricola },
                dataType: 'html',
                beforeSend: function () {
                    //debugger;
                },
                success: function (result) {
                    //debugger;
                    $("#ContenitoreDipendentiGepe").empty();
                    $("#ContenitoreDipendentiGepe").html(result);
                    ElencoTrasferimento();
                    
                },
                complete: function () {
                    MenuDaVisualizzare();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }
    }

    function GestioneMenu() {
        //debugger;
        var idTrasferimento = $("#hidTrasferimento").val();
        var admin = '@admin';

        if (idTrasferimento != undefined && idTrasferimento != "" && idTrasferimento > 0) {
            SvuotaTab();
            if (admin == 'True') {
                $("#lkNuovoTrasferimento").removeAttr("disabled");
                $("#mnNuovoTrasferimento").removeClass("disabled");
            }

            GestioneAbilitazioneMenu(idTrasferimento);
        }
        else {
            //debugger;

            SvuotaTab();

            //$("#lkNuovoTrasferimento").attr("disabled", "disabled");
            //$("#mnNuovoTrasferimento").addClass("disabled");

            $("#lkGestioneTrasferimento").attr("disabled", "disabled");
            $("#mnGestioneTrasferimento").attr("disabled", "disabled");
            $("#mnGestioneTrasferimento").addClass("disabled");


            $("#ddVariazioneTrasferimento").attr("disabled", "disabled");
            $("#ddVariazioneTrasferimento").addClass("disabled");

            $("#lkMaggiorazioneFamiliare").attr("disabled", "disabled");
            $("#mnMaggiorazioneFamiliare").addClass("disabled");

            $("#lkMaggiorazioneAbitazione").attr("disabled", "disabled");
            $("#mnMaggiorazioneAbitazione").addClass("disabled");

            $("#lkSaldoTrasportoEffetti").attr("disabled", "disabled");
            $("#mnSaldoTrasportoEffetti").addClass("disabled");

            $("#lkPassaporto").attr("disabled", "disabled");
            $("#mnPassaporto").addClass("disabled");

            $("#lkTitoliViaggio").attr("disabled", "disabled");
            $("#mnTitoliViaggio").addClass("disabled");

            $("#lkCongediPermessi").attr("disabled", "disabled");
            $("#mnCongediPermessi").addClass("disabled");

            $("#lkSospensione").attr("disabled", "disabled");
            $("#mnSospensione").addClass("disabled");

            $("#lkRichiamo").attr("disabled", "disabled");
            $("#mnRichiamo").addClass("disabled");

            $("#lkTrasportoEffettiRientroAnticipo").attr("disabled", "disabled");
            $("#mnTrasportoEffettiRientroAnticipo").addClass("disabled");

            $("#lkTrasportoEffettiRientroSaldo").attr("disabled", "disabled");
            $("#mnTrasportoEffettiRientroSaldo").addClass("disabled");

            $("#lkIndennita").attr("disabled", "disabled");
            $("#mnIndennita").addClass("disabled");

            $("#lkRiepilogoVoci").attr("disabled", "disabled");
            $("#mnRiepilogoVoci").addClass("disabled");

            $("#lkProvvidenzeScolastiche").attr("disabled", "disabled");
            $("#mnProvvidenzeScolastiche").addClass("disabled");

        }

    }

    function GestioneAbilitazioneMenu(idTrasferimento) {
        //debugger;

        if (MenuGestioneTrasferimento(idTrasferimento) == 1) {
            $("#lkGestioneTrasferimento").removeAttr("disabled");
            $("#mnGestioneTrasferimento").removeClass("disabled");
            $('#lkGestioneTrasferimento').attr('onClick', 'GestioneTrasferimento();');
        }
        else {
            $("#lkGestioneTrasferimento").attr("disabled", "disabled");
            $("#mnGestioneTrasferimento").addClass("disabled");
            $("#lkGestioneTrasferimento").removeAttr("onClick");
        }

        if (MenuVariazioneTrasferimento(idTrasferimento) == 1) {
            $("#ddVariazioneTrasferimento").removeAttr("disabled");
            $("#ddVariazioneTrasferimento").removeClass("disabled");
        }
        else {
            $("#ddVariazioneTrasferimento").attr("disabled", "disabled");
            $("#ddVariazioneTrasferimento").addClass("disabled");
        }

        if (MenuMaggiorazioneFamiliare(idTrasferimento) == 1) {
            $("#lkMaggiorazioneFamiliare").removeAttr("disabled");
            $("#mnMaggiorazioneFamiliare").removeClass("disabled");
            $('#lkMaggiorazioneFamiliare').attr('onClick', 'MaggiorazioneFamiliare();');
        }
        else {
            $("#lkMaggiorazioneFamiliare").attr("disabled", "disabled");
            $("#mnMaggiorazioneFamiliare").addClass("disabled");
            $("#lkMaggiorazioneFamiliare").removeAttr("onClick");
        }

        if (MenuMaggiorazioneAbitazione(idTrasferimento) == 1) {
            $("#lkMaggiorazioneAbitazione").removeAttr("disabled");
            $("#mnMaggiorazioneAbitazione").removeClass("disabled");
            $('#lkMaggiorazioneAbitazione').attr('onClick', 'MaggiorazioneAbitazione();');
        }
        else {
            $("#lkMaggiorazioneAbitazione").attr("disabled", "disabled");
            $("#mnMaggiorazioneAbitazione").addClass("disabled");
            $("#lkMaggiorazioneAbitazione").removeAttr("onClick");
        }

        if (MenuSaldoTrasportoEffetti(idTrasferimento) == 1) {
            $("#lkSaldoTrasportoEffetti").removeAttr("disabled");
            $("#mnSaldoTrasportoEffetti").removeClass("disabled");
            $('#lkSaldoTrasportoEffetti').attr('onClick', 'SaldoTrasportoEffetti();');
        }
        else {
            $("#lkSaldoTrasportoEffetti").attr("disabled", "disabled");
            $("#mnSaldoTrasportoEffetti").addClass("disabled");
            $("#lkSaldoTrasportoEffetti").removeAttr("onClick");
        }

        if (MenuPassaporto(idTrasferimento) == 1) {
            $("#lkPassaporto").removeAttr("disabled");
            $("#mnPassaporto").removeClass("disabled");
            $('#lkPassaporto').attr('onClick', 'Passaporto();');
        }
        else {
            $("#lkPassaporto").attr("disabled", "disabled");
            $("#mnPassaporto").addClass("disabled");
            $("#lkPassaporto").removeAttr("onClick");
        }

        if (MenuTitoliViaggio(idTrasferimento) == 1) {
            $("#lkTitoliViaggio").removeAttr("disabled");
            $("#mnTitoliViaggio").removeClass("disabled");
            $('#lkTitoliViaggio').attr('onClick', 'TitoliViaggio();');
        }
        else {
            $("#lkTitoliViaggio").attr("disabled", "disabled");
            $("#mnTitoliViaggio").addClass("disabled");
            $("#lkTitoliViaggio").removeAttr("onClick");
        }

        if (MenuSospensione(idTrasferimento) == 1) {
            $("#lkSospensione").removeAttr("disabled");
            $("#mnSospensione").removeClass("disabled");
            $('#lkSospensione').attr('onClick', 'Sospensione();');
        }
        else {
            $("#lkSospensione").attr("disabled", "disabled");
            $("#mnSospensione").addClass("disabled");
            $("#lkSospensione").removeAttr("onClick");
        }

        if (MenuViaggiCongedo(idTrasferimento) == 1) {
            //  debugger;
            $("#lkCongediPermessi").removeAttr("disabled");
            $("#mnCongediPermessi").removeClass("disabled");
            $('#lkCongediPermessi').attr('onClick', 'ViaggiCongedoPermesso();');
        }
        else {
            //debugger;
            $("#lkCongediPermessi").attr("disabled", "disabled");
            $("#mnCongediPermessi").addClass("disabled");
            $("#lkCongediPermessi").removeAttr("onClick");
        }

        if (MenuRientro(idTrasferimento) == 1) {
            $("#ddRientro").removeAttr("disabled");
            $("#ddRientro").removeClass("disabled");
        }
        else {
            $("#ddRientro").attr("disabled", "disabled");
            $("#ddRientro").addClass("disabled");
        }


        if (MenuRichiamo(idTrasferimento) == 1) {
            $("#lkRichiamo").removeAttr("disabled");
            $("#mnRichiamo").removeClass("disabled");
            $('#lkRichiamo').attr('onClick', 'Richiamo();');
        }
        else {

            $("#lkRichiamo").attr("disabled", "disabled");
            $("#mnRichiamo").addClass("disabled");
            $("#lkRichiamo").removeAttr("onClick");
        }

        if (MenuTERientroAnticipo(idTrasferimento) == 1) {
            $("#lkTrasportoEffettiRientroAnticipo").removeAttr("disabled");
            $("#mnTrasportoEffettiRientroAnticipo").removeClass("disabled");
            $('#lkTrasportoEffettiRientroAnticipo').attr('onClick', 'TrasportoEffettiRientroAnticipo();');
        }
        else {

            $("#lkTrasportoEffettiRientroAnticipo").attr("disabled", "disabled");
            $("#mnTrasportoEffettiRientroAnticipo").addClass("disabled");
            $("#lkTrasportoEffettiRientroAnticipo").removeAttr("onClick");
        }

        if (MenuTERientroSaldo(idTrasferimento) == 1) {
            $("#lkTrasportoEffettiRientroSaldo").removeAttr("disabled");
            $("#mnTrasportoEffettiRientroSaldo").removeClass("disabled");
            $('#lkTrasportoEffettiRientroSaldo').attr('onClick', 'TrasportoEffettiRientroSaldo();');
        }
        else {

            $("#lkTrasportoEffettiRientroSaldo").attr("disabled", "disabled");
            $("#mnTrasportoEffettiRientroSaldo").addClass("disabled");
            $("#lkTrasportoEffettiRientroSaldo").removeAttr("onClick");
        }

        if (MenuProvvidenzeScolastiche(idTrasferimento) == 1) {
            $("#lkProvvidenzeScolastiche").removeAttr("disabled");
            $("#mnProvvidenzeScolastiche").removeClass("disabled");
            $('#lkProvvidenzeScolastiche').attr('onClick', 'ProvvidenzeScolastiche();');
        }
        else {
            $("#lkProvvidenzeScolastiche").attr("disabled", "disabled");
            $("#mnProvvidenzeScolastiche").addClass("disabled");
            $("#lkProvvidenzeScolastiche").removeAttr("onClick");
        }

        if (MenuRiepilogoVoci(idTrasferimento) == 1) {
            $("#lkRiepilogoVoci").removeAttr("disabled");
            $("#mnRiepilogoVoci").removeClass("disabled");
            $('#lkRiepilogoVoci').attr('onClick', 'RiepilogoVoci();');
        }
        else {
            $("#lkRiepilogoVoci").attr("disabled", "disabled");
            $("#mnRiepilogoVoci").addClass("disabled");
            $("#lkRiepilogoVoci").removeAttr("onClick");
        }

        if (MenuIndennita(idTrasferimento) == 1) {
            //debugger;
            $("#lkIndennita").removeAttr("disabled");
            $("#mnIndennita").removeClass("disabled");
            $('#lkIndennita').attr('onClick', 'GestioneIndennita();');
        }
        else {
            //debugger;
            $("#lkIndennita").attr("disabled", "disabled");
            $("#mnIndennita").addClass("disabled");
            $("#lkIndennita").removeAttr("onClick");
        }

    }

    function SvuotaTab() {
        //debugger;

        $("#tabNuovoTrasferimento").empty();
        $("#tabGestioneTrasferimento").empty();
        $("#tabMaggiorazioneFamiliare").empty();
        $("#tabMaggiorazioneAbitazione").empty();
        $("#tabSaldoTrasportoEffetti").empty();
        $("#tabPassaporto").empty();
        $("#tabTitoliViaggio").empty();
        $("#tabCongediPermessi").empty();
        $("#tabSospensione").empty();
        $("#tabRichiamo").empty();
        $("#tabTrasportoEffettiRientroAnticipo").empty();
        $("#tabTrasportoEffettiRientroSaldo").empty();
        $("#tabIndennita").empty();
        $("#tabRiepilogoVoci").empty();
        $("#tabProvvidenzeScolastiche").empty();

    }

    function MenuGestioneTrasferimento(idTrasferimento) {
        //debugger;
        var rotta = "/Trasferimento/VerificaNotificaTrasferimento";
        var valoreRitorno = 0;

        if (idTrasferimento != "" && idTrasferimento != undefined) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();

                },
                success: function (result) {
                    //debugger;

                    if (result.err == "" || result.err == undefined) {
                        if (result.notificaTrasferimento == 1) {
                            valoreRitorno = 1;
                        }
                        else {
                            valoreRitorno = 0;
                        }
                    }

                    //InfoTrasferimento(matricola);
                    //GestioneMenu();
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }

        return valoreRitorno;
    }

    function MenuVariazioneTrasferimento(idTrasferimento) {
        //debugger;
        var rotta = "/Trasferimento/VerificaStatoStrasferimentoJsonResult";
        var valoreRitorno = 0;

        if (idTrasferimento != "" && idTrasferimento != undefined) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();

                },
                success: function (result) {
                    //debugger;

                    if (result.err == "" || result.err == undefined) {
                        if (result.StatoTrasferimento == 1) {
                            valoreRitorno = 1;
                        }
                        else {
                            valoreRitorno = 0;
                        }
                    }

                    //InfoTrasferimento(matricola);
                    //GestioneMenu();
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }

        return valoreRitorno;
    }

    function MenuRientro(idTrasferimento) {
        //debugger;
        var rotta = "/Trasferimento/VerificaRientro";
        var valoreRitorno = 0;

        if (idTrasferimento != "" && idTrasferimento != undefined) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();

                },
                success: function (result) {
                    //debugger;

                    if (result.err == "" || result.err == undefined) {
                        if (result.RientroAbilitato == 1) {
                            valoreRitorno = 1;
                        }
                        else {
                            valoreRitorno = 0;
                        }
                    }

                    //InfoTrasferimento(matricola);
                    //GestioneMenu();
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }

        return valoreRitorno;
    }


    function MenuMaggiorazioneFamiliare(idTrasferimento) {
        //debugger;
        //var rotta = "/Trasferimento/VerificaMaggiorazioneFamiliare";
        //da sostituire con
        var rotta = "/Trasferimento/VerificaMaggiorazioneFamiliareByStatoTrasferimento";
        var valoreRitorno = 0;

        if (idTrasferimento != "" && idTrasferimento != undefined) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();

                },
                success: function (result) {
                    //debugger;

                    if (result.err == "" || result.err == undefined) {
                        if (result.idmaggiorazione != 0) {
                            valoreRitorno = 1;
                        }
                        else {
                            valoreRitorno = 0;
                        }
                    }

                    //InfoTrasferimento(matricola);
                    //GestioneMenu();
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }

        return valoreRitorno;
    }

    function MenuMaggiorazioneAbitazione(idTrasferimento) {
        //debugger;
        var rotta = "/Trasferimento/VerificaMaggiorazioneAbitazione";
        var valoreRitorno = 0;

        if (idTrasferimento != "" && idTrasferimento != undefined) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();

                },
                success: function (result) {
                    //debugger;

                    if (result.err == "" || result.err == undefined) {
                        if (result.idMAB != 0) {
                            valoreRitorno = 1;
                        }
                        else {
                            valoreRitorno = 0;
                        }
                    }

                    //InfoTrasferimento(matricola);
                    //GestioneMenu();
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }

        return valoreRitorno;
    }

    function MenuSaldoTrasportoEffetti(idTrasferimento) {
        //debugger;
        var rotta = "/Trasferimento/VerificaSaldoTEPartenza";
        var valoreRitorno = 0;

        if (idTrasferimento != "" && idTrasferimento != undefined) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();

                },
                success: function (result) {
                    //debugger;

                    if (result.err == "" || result.err == undefined) {
                        if (result.idTEPartenza != 0) {
                            valoreRitorno = 1;
                        }
                        else {
                            valoreRitorno = 0;
                        }
                    }

                    //InfoTrasferimento(matricola);
                    //GestioneMenu();
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }

        return valoreRitorno;
    }

    function MenuPassaporto(idTrasferimento) {
        //debugger;
        var rotta = "/Trasferimento/VerificaPassaporto";
        var valoreRitorno = 0;

        if (idTrasferimento != "" && idTrasferimento != undefined) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();

                },
                success: function (result) {
                    //debugger;

                    if (result.err == "" || result.err == undefined) {
                        if (result.idPassaporto != 0) {
                            valoreRitorno = 1;
                        }
                        else {
                            valoreRitorno = 0;
                        }
                    }

                    //InfoTrasferimento(matricola);
                    //GestioneMenu();
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }

        return valoreRitorno;
    }

    function MenuTitoliViaggio(idTrasferimento) {
        //debugger;
        var rotta = "/Trasferimento/VerificaTitoliViaggio";
        var valoreRitorno = 0;

        if (idTrasferimento != "" && idTrasferimento != undefined) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();

                },
                success: function (result) {
                    //debugger;

                    if (result.err == "" || result.err == undefined) {
                        if (result.idTitoloViaggio != 0) {
                            valoreRitorno = 1;
                        }
                        else {
                            valoreRitorno = 0;
                        }
                    }

                    //InfoTrasferimento(matricola);
                    //GestioneMenu();
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }

        return valoreRitorno;
    }

    function MenuSospensione(idTrasferimento) {
        //debugger;
        var rotta = "/Sospensione/VerificaSospensione";

        var valoreRitorno = 0;

        if (idTrasferimento != "" && idTrasferimento != undefined) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();

                },
                success: function (result) {
                    // debugger;

                    if (result.err == "" || result.err == undefined) {
                        if (result.VerificaSospensione != 0) {
                            valoreRitorno = 1;
                        }
                        else {
                            valoreRitorno = 0;
                        }
                    }

                    //InfoTrasferimento(matricola);
                    //GestioneMenu();
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }

        return valoreRitorno;
    }

    function MenuRichiamo(idTrasferimento) {
        //debugger;
        var rotta = "/Richiamo/VerificaRichiamo";

        var valoreRitorno = 0;

        if (idTrasferimento != "" && idTrasferimento != undefined) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();

                },
                success: function (result) {
                    //debugger;

                    if (result.err == "" || result.err == undefined) {
                        if (result.VerificaRichiamo != 0) {
                            valoreRitorno = 1;
                        }
                        else {
                            valoreRitorno = 0;
                        }
                    }

                    //InfoTrasferimento(matricola);
                    //GestioneMenu();
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }

        return valoreRitorno;
    }

    function MenuTERientroAnticipo(idTrasferimento) {
        //debugger;
        var rotta = "/TrasportoEffetti/VerificaTERientroAnticipo";

        var valoreRitorno = 0;

        if (idTrasferimento != "" && idTrasferimento != undefined) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();

                },
                success: function (result) {
                    //debugger;

                    if (result.err == "" || result.err == undefined) {
                        if (result.VerificaTERientroAnticipo != 0) {
                            valoreRitorno = 1;
                        }
                        else {
                            valoreRitorno = 0;
                        }
                    }

                    //InfoTrasferimento(matricola);
                    //GestioneMenu();
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }

        return valoreRitorno;
    }

    function MenuTERientroSaldo(idTrasferimento) {
        //debugger;
        var rotta = "/VariazioneTrasportoEffetti/VerificaTERientroSaldo";

        var valoreRitorno = 0;

        if (idTrasferimento != "" && idTrasferimento != undefined) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();

                },
                success: function (result) {
                    // debugger;

                    if (result.err == "" || result.err == undefined) {
                        if (result.VerificaTERientroSaldo != 0) {
                            valoreRitorno = 1;
                        }
                        else {
                            valoreRitorno = 0;
                        }
                    }

                    //InfoTrasferimento(matricola);
                    //GestioneMenu();
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }

        return valoreRitorno;
    }

    function MenuViaggiCongedo(idTrasferimento) {
        //debugger;
        var rotta = "/ViaggiCongedo/VerificaViaggiCongedo";

        var valoreRitorno = 0;

        if (idTrasferimento != "" && idTrasferimento != undefined) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();

                },
                success: function (result) {
                    //debugger;

                    if (result.err == "" || result.err == undefined) {
                        if (result.VerificaViaggiCongedo != 0) {
                            valoreRitorno = 1;
                        }
                        else {
                            valoreRitorno = 0;
                        }
                    }

                    //InfoTrasferimento(matricola);
                    //GestioneMenu();
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }

        return valoreRitorno;
    }

    function ViaggiCongedoPermesso() {
        //debugger;
        var idTrasferimento = $("#hidTrasferimento").val();
        rotta = "/ViaggiCongedo/ElencoPreventiviDiViaggio";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                // debugger;

                $("#tabCongediPermessi").empty();
                $("#tabCongediPermessi").html(result);

            },
            complete: function () {
                $("#hMenuInLavorazione").val("mnCongediPermessi");
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function MenuProvvidenzeScolastiche(idTrasferimento) {
        //debugger;
        var rotta = "/ProvvidenzeScolastiche/VerificaProvvidenze";

        var valoreRitorno = 0;

        if (idTrasferimento != "" && idTrasferimento != undefined) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();

                },
                success: function (result) {
                    // debugger;

                    if (result.err == "" || result.err == undefined) {
                        if (result.VerificaProvvidenze != 0) {
                            valoreRitorno = 1;
                        }
                        else {
                            valoreRitorno = 0;
                        }
                    }

                    //InfoTrasferimento(matricola);
                    //GestioneMenu();
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }

        return valoreRitorno;
    }

    function MenuRiepilogoVoci(idTrasferimento) {
        //debugger;
        var rotta = "/RiepilogoVoci/VerificaRiepilogoVoci";

        var valoreRitorno = 0;

        if (idTrasferimento != "" && idTrasferimento != undefined) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();

                },
                success: function (result) {
                    // debugger;

                    if (result.err == "" || result.err == undefined) {
                        if (result.VerificaRiepilogoVoci != 0) {
                            valoreRitorno = 1;
                        }
                        else {
                            valoreRitorno = 0;
                        }
                    }

                    //InfoTrasferimento(matricola);
                    //GestioneMenu();
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }

        return valoreRitorno;
    }

    function MenuIndennita(idTrasferimento) {
        //debugger;
        var rotta = "/Indennita/VerificaIndennita";
        var valoreRitorno = 0;

        if (idTrasferimento != "" && idTrasferimento != undefined) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idTrasferimento: idTrasferimento },
                dataType: 'json',
                async: false,
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();

                },
                success: function (result) {
                    //debugger;

                    if (result.err == "" || result.err == undefined) {
                        if (result.VerificaIndennita != 0) {
                            valoreRitorno = 1;
                        }
                        else {
                            valoreRitorno = 0;
                        }
                    }

                    //InfoTrasferimento(matricola);
                    //GestioneMenu();
                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }

        return valoreRitorno;
    }

</script>
