<link href="~/Content/Dipendenti.css" rel="stylesheet" />

@*<link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-fileinput/css/fileinput-rtl.min.css" rel="stylesheet" />
<script src="~/Scripts/fileinput.min.js"></script>
<script src="~/Scripts/locales/it.js"></script>*@

<link href="~/bower_components/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
<link href="~/bower_components/bootstrap-fileinput/css/fileinput-rtl.min.css" rel="stylesheet" />
<script src="~/bower_components/bootstrap-fileinput/js/fileinput.min.js"></script>
<script src="~/bower_components/bootstrap-fileinput/js/locales/it.js"></script>


@{
    ViewBag.Title = "Dipendenti";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool admin = Convert.ToBoolean(ViewBag.Amministratore);


}

<input type="hidden" id="hMatricola" value=""/>

<div class="row">
    <div id="divPanelDipendenti" class="col-xs-5">
        <div id="ContenitoreDipendentiGepe">
            @Html.Action("DipendentiGepe", "Dipendenti")
        </div>
    </div>
    <div class="col-xs-7">
        <div id="ContenitoreDatiTrasf">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="tabIntestazione" class="nav nav-tabs nav-justified">
            <ul id="tabsGestioneTrasferimento" class="nav nav-tabs tabs-destro">
                @if (admin)
                {
                    <li><a href="#tabNuovoTrasferimento" data-toggle="tab" onclick="NuovoTrasferimento();">Nuovo Trasferimento</a></li>
                }
                else
                {
                    <li class="disabled"><a href="#tabNuovoTrasferimento" data-toggle="tab" >Nuovo Trasferimento</a></li>
                }
                <li><a href="#tabGestioneTrasferimento" data-toggle="tab">Gestione Trasferimento</a></li>
                <li><a href="#tabMaggiorazioneFamiliare" data-toggle="tab">Maggiorazione Familiare</a></li>
                <li><a href="#tabMaggiorazioneAbitazione" data-toggle="tab">Maggiorazione Abitazione</a></li>
                <li><a href="#tabCongediPermessi" data-toggle="tab">Congedi e Permessi</a></li>
                <li><a href="#tabSospensione" data-toggle="tab">Sospensione</a></li>
                <li><a href="#tabRichiamo" data-toggle="tab">Richiamo</a></li>
                <li><a href="#tabIndennita" data-toggle="tab">Indennità</a></li>
                <li><a href="#RiepilogoVoci" data-toggle="tab">Riepilogo Voci</a></li>
            </ul>
        </div>
        <div id="tabContenuti" class="tab-content">
            <div class="tab-pane active" id="tabNuovoTrasferimento"></div>
            <div class="tab-pane" id="tabGestioneTrasferimento"></div>
            <div class="tab-pane" id="tabMaggiorazioneFamiliare"></div>
            <div class="tab-pane" id="tabMaggiorazioneAbitazione"></div>
            <div class="tab-pane" id="tabCongediPermessi"></div>
            <div class="tab-pane" id="tabSospensione"></div>
            <div class="tab-pane" id="tabRichiamo"></div>
            <div class="tab-pane" id="tabIndennita"></div>
            <div class="tab-pane" id="RiepilogoVoci"></div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#tabsGestioneTrasferimento').tab();
        });

        function NuovoTrasferimento() {
            //debugger;

            var matricola = $("#hMatricola").val();
            rotta = "/Trasferimento/NuovoTrasferimento";

            $.ajax({
                type: "POST",
                url: rotta,
                data: { matricola: matricola },
                dataType: 'html',
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();
                    //$("#DialogNewDoc").dialog("destroy");
                    //$("#divEffettoLoadAutNoDoc").show("slow");
                },
                success: function (result) {
                    //debugger;
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    $("#tabNuovoTrasferimento").empty();
                    $("#tabNuovoTrasferimento").html(result);

                    //RicercaDocumenti();

                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });

        }
    </script>
}

