<link href="~/Content/Dipendenti.css" rel="stylesheet" />

@{
    ViewBag.Title = "Dipendenti";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool admin = Convert.ToBoolean(ViewBag.Amministratore);

}

<input type="hidden" id="hMatricola" value="" />
<input type="hidden" id="hAmministratore" value="@admin.ToString()" />

<input type="hidden" id="hMenuInLavorazione" value="" />

<div class="row">
    <div id="divPanelDipendenti" class="col-xs-5">
        <div id="ContenitoreDipendentiGepe">
            @Html.Action("DipendentiGepe", "Dipendenti")
        </div>
    </div>
    <div class="col-xs-7">
        <div id="ContenitoreDatiTrasf">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="tabIntestazione" class="nav nav-tabs nav-justified">
            <ul id="tabsGestioneTrasferimento" class="nav nav-tabs tabs-destro">
                @if (admin)
                {
                    <li class="disabled" id="mnNuovoTrasferimento"><a id="lkNuovoTrasferimento" disabled href="#tabNuovoTrasferimento" data-toggle="tab" onclick="NuovoTrasferimento();">Nuovo Trasferimento</a></li>
                }
                else
                {
                    <li class="disabled" id="mnNuovoTrasferimento"><a id="lkNuovoTrasferimento" disabled href="#tabNuovoTrasferimento" data-toggle="tab">Nuovo Trasferimento</a></li>
                }
                <li class="disabled" id="mnGestioneTrasferimento"><a id="lkGestioneTrasferimento" disabled href="#tabGestioneTrasferimento" data-toggle="tab">Gestione Trasferimento</a></li>
                <li class="disabled" id="mnMaggiorazioneFamiliare"><a id="lkMaggiorazioneFamiliare" disabled href="#tabMaggiorazioneFamiliare" data-toggle="tab">Maggiorazione Familiare</a></li>
                <li class="disabled" id="mnMaggiorazioneAbitazione"><a id="lkMaggiorazioneAbitazione" disabled href="#tabMaggiorazioneAbitazione" data-toggle="tab">Maggiorazione Abitazione</a></li>
                <li class="disabled" id="mnCongediPermessi"><a id="lkCongediPermessi" disabled href="#tabCongediPermessi" data-toggle="tab">Congedi e Permessi</a></li>
                @if (admin)
                {
                    <li class="disabled" id="mnSospensione"><a id="lkSospensione" disabled href="#tabSospensione" data-toggle="tab" onclick="Sospensione();">Sospensione</a></li>
                }
                else
                {
                    <li class="disabled" id="mnSospensione"><a id="lkSospensione" disabled href="#tabSospensione" data-toggle="tab">Sospensione</a></li>
                }

                <li class="disabled" id="mnRichiamo"><a id="lkRichiamo" disabled href="#tabRichiamo" data-toggle="tab">Richiamo</a></li>
                <li class="disabled" id="mnIndennità"><a id="lkIndennità" disabled href="#tabIndennita" data-toggle="tab">Indennità</a></li>
                <li class="disabled" id="mnRiepilogoVoci"><a id="lkRiepilogoVoci" disabled href="#RiepilogoVoci" data-toggle="tab">Riepilogo Voci</a></li>
            </ul>
        </div>
        <div id="tabContenuti" class="tab-content">
            <div class="tab-pane active" id="tabNuovoTrasferimento"></div>
            <div class="tab-pane" id="tabGestioneTrasferimento"></div>
            <div class="tab-pane" id="tabMaggiorazioneFamiliare"></div>
            <div class="tab-pane" id="tabMaggiorazioneAbitazione"></div>
            <div class="tab-pane" id="tabCongediPermessi"></div>
            <div class="tab-pane" id="tabSospensione"></div>
            <div class="tab-pane" id="tabRichiamo"></div>
            <div class="tab-pane" id="tabIndennita"></div>
            <div class="tab-pane" id="RiepilogoVoci"></div>
        </div>
    </div>
</div>


<script type="text/javascript">

    jQuery(document).ready(function ($) {
        $('#tabsGestioneTrasferimento').tab();

        $("#hMenuInLavorazione").val("mnNuovoTrasferimento");
    });



    function NuovoTrasferimento() {
        //debugger;

        var matricola = $("#hMatricola").val();
        rotta = "/Trasferimento/NuovoTrasferimento";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { matricola: matricola },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabNuovoTrasferimento").empty();
                $("#tabNuovoTrasferimento").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });

    }

    function GestioneTrasferimento() {
        var matricola = $("#hMatricola").val();
        rotta = "/Trasferimento/GestioneTrasferimento";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { matricola: matricola },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabGestioneTrasferimento").empty();
                $("#tabGestioneTrasferimento").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                $("#hMenuInLavorazione").val("mnGestioneTrasferimento");
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function MaggiorazioneFamiliare() {
        var matricola = $("#hMatricola").val();
        rotta = "/VariazioneMaggiorazioniFamiliari/AttivitaMaggiorazioneFamiliare";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { matricola: matricola },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabMaggiorazioneFamiliare").empty();
                $("#tabMaggiorazioneFamiliare").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                $("#hMenuInLavorazione").val("mnMaggiorazioneFamiliare");
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function Sospensione() {
       // debugger;
        var matricola = $("#hMatricola").val();
        rotta = "/Sospensione/ElencoSospensioni";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { matricola: matricola },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabSospensione").empty();
                $("#tabSospensione").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                $("#hMenuInLavorazione").val("mnSospensione");
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }


    function MenuDaVisualizzare() {
        //debugger;
        var mnuV = $("#hMenuInLavorazione").val();

        switch (mnuV) {
            case "mnNuovoTrasferimento":
                $("#lkNuovoTrasferimento").click();
                break;
            case "mnGestioneTrasferimento":
                $("#lkGestioneTrasferimento").click();
                break;
        }
    }



</script>
