@model NewISE.Models.DBModel.MaggiorazioniFamiliariModel

@{
    //bool callConiuge = Convert.ToBoolean(ViewData["callConiuge"]);
    //decimal idMafFam = Model.idMaggiorazioniFamiliari;
 //   decimal idMagFam = ViewBag.idTrasferimento;
    //  decimal matricola = ViewBag.matricola;
    decimal matricola = Convert.ToDecimal(ViewData["matricola"]);
    //decimal idMafFam = ViewBag.idMagFam;
}

<div class="row">
    <div class="col-xs-12" style="padding-left: 10px; padding-right:25px; margin: 10px; border:0">
        <div class="tab-content" id="tabContenuti_Var" style="border:1px;border-color:red">
            <div class="active tab-pane" id="tabElencoSospensioni"></div>
            <div class="tab-pane" id="tabFormulari_Var"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#tabsAttivitaSospensioni').tab();

    ElencoSospensioni();

    function ElencoSospensioni() {
        //debugger;
        var rotta = "/Sospensione/ElencoSospensioni";
        var matricola = parseInt('@matricola');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { matricola: matricola },
            dataType: 'html',
            beforeSend: function (result) {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
              //  debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //$('#inviaDocModalsosp').modal('hide');
                $("#tabElencoSospensioni").empty();
                $("#tabElencoSospensioni").html(result);

                //RicercaDocumenti();

            },
            complete: function (result) {
                // TEST
                //PulsantiNotificaAttivaMagFam();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });

    }

   


</script>


