@using NewISE.Models.DBModel

@{
    
    decimal idTrasferimento = (decimal)ViewData["idTrasferimento"];    
    bool solaLettura = false;
}

    <p style="padding-left: 15px; margin-top: 10px; padding-right:25px">
        @if (solaLettura)
        {
            <button href="#" class="btn btn-default disabled" distabSospensioniabled="disabled">Nuova Sospensione</button>
        }
        else
        {
            @Ajax.ActionLink("Nuova Sospensione", "NuovaSospensione", "Sospensione", new { idTrasferimento = idTrasferimento }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "tabElencoSospensioni", OnFailure = "ErroreElaborazioneAjax", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-success", @title = "Inserisci nuova Sospensione", @id = "linkNuovaSospensione" })
        }
    </p>

    <div id="divElencoSosp">
        @Html.Action("DatiTabElencoSospensione", "Sospensione", new { idTrasferimento = idTrasferimento })
    </div>


<div class="modal fade" id="inviaDocModalsosp" tabindex="-1" role="dialog" aria-labelledby="inviaDocModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style="text-align:center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title alert alert-info text-info" id="notificaModelLabel" >Conferma Eliminazione Sospensione</h3>
                </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <div id="viewDocumentoDettaglisosp">
                    <img src="~/Immagini/Loading/ajax-loader (1).gif" />
                </div>
            </div>
            <div class="modal-footer" style="background-color:white;text-align:center">
                <div>
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //function DocumentoModal2(matr) {
        $(".anchorDetailDelete").click(function () {
          //  debugger;
            var rotta = "/Sospensione/DeleteSospensione";
            var $buttonClicked = $(this);
            var idSospensione = $buttonClicked.attr('id_Sosp');
            var idTrasferimento = parseInt('@idTrasferimento');
            $.ajax({
                url: rotta,
                type: "post", //Le info testuali saranno passate in POST
                data: { idSospensione: idSospensione, idTrasferimento: idTrasferimento },
                dataType: 'html',
                async: false,
                beforeSend: function () {
                    // debugger;
                   // $('#inviaDocModalsosp').modal('show');
                    //Blocca();
                },
                success: function (result) {
                   //  debugger;
                    //$("#viewDocumentoDettaglisosp").empty();
                    //$("#viewDocumentoDettaglisosp").html(result);          
                    $("#tabElencoSospensioni").empty();
                    $("#tabElencoSospensioni").html(result);
                },
                error: function (error) {
                 //   debugger;
                    //Sblocca();
                    var msg = error.responseText;
                    ErroreElaborazioneAjax(msg);
                    $('#inviaDocModalsosp').modal('hide');
                }
            });
        });
   // }

        $(".anchorDetailEdit").click(function () {
            // debugger;
              var rotta = "/Sospensione/EditSospensione";
            var $buttonClicked = $(this);
            var idSospensione = $buttonClicked.attr('idSosp');
            var idTrasferimento = parseInt('@idTrasferimento');

            $.ajax({
                url: rotta,
                type: "post", //Le info testuali saranno passate in POST
                data: { idSospensione: idSospensione, idTrasferimento: idTrasferimento },
                dataType: 'html',
                async: false,
                beforeSend: function () {
                   //  debugger;
                    //Blocca();
                },
                success: function (result) {
                    // debugger;                   
                    $("#tabElencoSospensioni").empty();
                    $("#tabElencoSospensioni").html(result);                    
                },
                error: function (error) {
                //    debugger;
                    //Sblocca();
                    var msg = error.responseText;
                    ErroreElaborazioneAjax(msg);
                }
            });
        });

    $("#tabListaSospensioni").DataTable({
        "ordering": false,
        "language": {
            "sEmptyTable": "Nessun dato presente nella tabella",
            "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
            "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
            "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
            "sInfoPostFix": "",
            "sInfoThousands": ".",
            "sLengthMenu": "Visualizza _MENU_ elementi",
            "sLoadingRecords": "Caricamento...",
            "sProcessing": "Elaborazione...",
            "sSearch": "Cerca:",
            "sZeroRecords": "La ricerca non ha portato alcun risultato.",
            "oPaginate": {
                "sFirst": "Inizio",
                "sPrevious": "Precedente",
                "sNext": "Successivo",
                "sLast": "Fine"
            },
            "oAria": {
                "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
            }
        },
        "info": false,
        "lengthChange": false,
        "pageLength": 6,
        "searching": false,
        "paging": true,
        "bJQueryUI": true,
        "sDom": 'lfrtip',
    });

    
</script>
