@using NewISE.Models.DBModel
@model IEnumerable<NewISE.Models.ViewModel.SospensioneModel>
@{
    ViewBag.Title = "Lista Sospensioni";
    bool admin = Convert.ToBoolean(ViewBag.Amministratore);
    var errori = ViewData.ModelState;
}
<h2>Ciao Sospensione</h2>