


<table class="table">
    <thead>

    </thead>
    <tbody>
        <tr>
            <td>-</td>
            <td><label>Istruzioni compilazione formulari maggiorazioni familiari</label></td>
            <td>
                <a href="~/FormulariMaster/FormularioMF/formulario 1.pdf" target="_blank">
                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30px;" />
                </a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td><label>Domanda di attribuzione delle quote di aggiunta di famiglia</label></td>
            <td>
                <a href="~/FormulariMaster/FormularioMF/formulario 1.pdf" target="_blank">
                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30px;" />
                </a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td><label>Dichiarazione ai sensi degli articoli 46 e 47 del D.P.R. 28 Dicembre 2000, N. 445</label></td>
            <td>
                <a href="~/FormulariMaster/FormularioMF/formulario 2.pdf" target="_blank">
                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30px;" />
                </a>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td><label>Dichiarazione resa ai sensi degli articoli 46 e 47 del D.P.R. 28 Dicembre 2000, N. 445 attestante l'arrivo in sede dei familiari a carico del dipendente</label></td>
            <td>
                <a href="~/FormulariMaster/FormularioMF/formulario 3.pdf" target="_blank">
                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30px;" />
                </a>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td><label>Dichiarazione resa ai sensi degli articoli 46 e 47 del D.P.R. 28 Dicembre 2000, N. 445 attestante la frequenza dei figli presso istituto scolastico</label></td>
            <td>
                <a href="~/FormulariMaster/FormularioMF/formulario 4.pdf" target="_blank">
                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30px;" />
                </a>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td><label>Dichiarazione resa ai sensi degli articoli 46 e 47 del D.P.R. 28 Dicembre 2000, N. 445 attestante gravi ragioni di salute</label></td>
            <td>
                <a href="~/FormulariMaster/FormularioMF/formulario 5.pdf" target="_blank">
                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30px;" />
                </a>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td><label>Dichiarazione resa ai sensi degli articoli 46 e 47 del D.P.R. 28 Dicembre 2000, N. 445 attestante le assenze dei familiari a carico</label></td>
            <td>
                <a href="~/FormulariMaster/FormularioMF/formulario 6.pdf" target="_blank">
                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30px;" />
                </a>
            </td>
        </tr>
        <tr>
            <td>7</td>
            <td><label>Istanza del genitore affidatario/collocatario</label></td>
            <td>
                <a href="~/FormulariMaster/FormularioMF/formulario 7.pdf" target="_blank">
                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30px;" />
                </a>
            </td>
        </tr>
        @*<tr>
            <td colspan="3">
                <div class="col-xs-3">
                    <div id="divPulsanteMostra" style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px;">
                        <button class="btn btn-default btn-sm" onclick="MostraDocFormularioPS();">
                            <i aria-hidden="true" class="fa fa-2x fa-file-pdf-o"></i>
                            Mostra Elenco Formulari Provvidenze Scolastiche
                        </button>
                    </div>
                    <div id="divPulsanteNascondi" hidden style="margin-top: 10px; margin-bottom: 10px; margin-left: 10px;">
                        <button class="btn btn-default btn-sm" onclick="NascondiDocFormularioPS();">
                            <i aria-hidden="true" class="fa fa-2x fa-file-pdf-o"></i>
                            Chiudi Elenco Formulari Provvidenze Scolastiche
                        </button>
                    </div>
                </div>
                <div id="ElencoPS" hidden>

                    <table class="table">
                        <tr>
                            <td>1</td>
                            <td><label>Domanda di rimborso spese scolastiche ai sensi del comma 1 art. 10 della "Disciplina del trattamento del personale di ruolo in servizio all'estero dell'ICE-Agenzia" (in servizio all'estero)</label></td>
                            <td>
                                <a href="~/FormulariMaster/FormularioMF/ProvvScolastiche/formulario 1.pdf" target="_blank">
                                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><label>Domanda di rimborso spese scolastiche ai sensi del comma 1 art. 10 della "Disciplina del trattamento del personale di ruolo in servizio all'estero dell'ICE-Agenzia" (richiamato in Italia)</label></td>
                            <td>
                                <a href="~/FormulariMaster/FormularioMF/ProvvScolastiche/formulario 2.pdf" target="_blank">
                                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30" />
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><label>Dichiarazione (da allegare alla domanda per ogni figlio/a)</label></td>
                            <td>
                                <a href="~/FormulariMaster/FormularioMF/ProvvScolastiche/formulario 3.pdf" target="_blank">
                                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30" />
                                </a>
                            </td>
                        </tr>
                    </table>

                </div>
            </td>
        </tr>*@
    </tbody>
</table>


<script type="text/javascript">

    function MostraDocFormularioPS() {
        document.getElementById('ElencoPS').style.display = 'block';
        document.getElementById('divPulsanteMostra').style.display = 'none';
        document.getElementById('divPulsanteNascondi').style.display = 'block';
    }

    function NascondiDocFormularioPS() {
        document.getElementById('ElencoPS').style.display = 'none';
        document.getElementById('divPulsanteMostra').style.display = 'block';
        document.getElementById('divPulsanteNascondi').style.display = 'none';
    }

</script>