
@{
    decimal idTrasferimento = Convert.ToDecimal(ViewBag.idTrasferimento);
}

<div class="row">
    <div class="col-xs-12" style="padding-right:34px;">
        <div class="nav nav-tabs nav-justified">
            <ul id="tabsMaggiorazioniFamiliari" class="nav nav-tabs tabs-destro">
                <li id="mnConiuge"><a id="lkConiuge" href="#tabCoiuge" data-toggle="tab" onclick="ElencoConiuge();">Coniuge</a></li>
                <li id="mnFigli"><a id="lkFigli" href="#tabFigli" data-toggle="tab">Figli</a></li>
            </ul>
        </div>
        <div id="tabContenuti" class="tab-content">
            <div class="tab-pane active" id="tabCoiuge"></div>
            <div class="tab-pane" id="tabFigli"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#tabsMaggiorazioniFamiliari').tab();

    function ElencoConiuge() {
        //debugger;
        var rotta = "/MaggiorazioniFamiliari/ElencoConiuge";
        var idTrasferimento = parseInt('@idTrasferimento');


        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabCoiuge").empty();
                $("#tabCoiuge").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });

    }
</script>