@model NewISE.Models.DBModel.DocumentiModel

<div class="form-horizontal">
    <div class="form-group ">
        <div class="col-xs-9">
            <input id="file" name="file" multiple type="file" class="file file-loading hidden" data-allowed-file-extensions='["pdf"]' data-show-preview="false" value="">
            <div id="divFile" style="display:inline-block;">
                <button class="btn btn-default  " id="btUploadFMF">
                    <i class="fa fa-2x fa-upload" aria-hidden="true"></i>
                    Seleziona il formulario
                </button>
                <span id="spanNomeFile">Seleziona il formulario</span>
            </div>
            <i class="fa fa-asterisk text-danger" aria-hidden="true"></i>
            @Html.ValidationMessageFor(model => model.file, "", new { @class = "text-danger" })
        </div>
    </div>
</div>


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/ValidationWithBoot.js"></script>

<script type="text/javascript">
    $("#btUploadFMF").click(function () {
        //debugger;
        $("#file").empty();
        $("#file").click();
    });
</script>