<div id="dialog "></div>


<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:lightgrey"><h4><b>Storia del Dipendente</b></h4></div>
                <div class="panel-body" style="font-size:1.2em">
                    <div class="row">
                        <div class="col-xs-4">
                            <strong>Nominativo</strong>
                        </div>
                        <div class="col-xs-4">
                        </div>
                        <div class="col-xs-4">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 date">
                            <div class="input-group input-append date">
                                @Html.DropDownList("matricola", ViewBag.ListDipendentiGepeNominativo as IEnumerable<SelectListItem>, new { @id = "Nominativo", @class = "form-control select2 select2-select" })
                            </div>
                            <div id="divNominativo" hidden>
                                <i class="fa fa-asterisk text-danger"></i>
                                <span class="text-danger">Campo obbligatorio</span>
                            </div>         
                        </div>

                        <div class="col-xs-4 date">
                            <div class="input-group input-append date">
                            </div>
                        </div>

                        <div class="col-xs-4 date">
                            <div class="input-group input-append date">
                                <button class="btn btn-small btn-success" id="opener">
                                    <i aria-hidden="true" class="fa fa-2x fa-print"></i>
                                    Stampa
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">


    var windowWidth = $(window).width();
    var windowHeight = $(window).height();


    $("#dialog").dialog({
        autoOpen: false,
        show: {
            //effect: "blind",
            //duration: 1000
        },
        hide: {
            //effect: "explode",
            //duration: 1000
        },
        close: function (event, ui) {
            $('.container').removeClass("NoOverflow");
        },
        height: windowHeight, width: windowWidth


    });

    function Validazione() {
        //debugger;

        var ret = false;
        var c1 = false;

        var nominativo = $("#Nominativo").val();

        if (nominativo != "" && nominativo != undefined) {
            $("#divNominativo").hide();
            c1 = true;
        }
        else {
            $("#divNominativo").show();
            c1 = false;
        }

        if (c1 == false) {
            ret = false;
        }
        else {
            ret = true;
        }

        return ret;
    }


    $("#opener").on("click", function () {
        //debugger;
        if (Validazione()) {
            $('.container').addClass("NoOverflow");

            $("#dialog").dialog("open");
            $("#dialog").css("background-color", "#ffffff");


            var rotta = "/Statistiche/StoriaDipendenteNew/RptStoriaDipendenteNew";

            var Nominativo = $("#Nominativo").val();

            $.ajax({
                type: "POST",
                url: rotta,
                data: {
                    Nominativo: Nominativo
                },
                dataType: 'html',
                beforeSend: function () {
                    //debugger;
                    $("#dialog").empty();

                },
                success: function (result) {
                    //debugger;
                    $("#dialog").html(result);


                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });
        }
    });

    $("#Nominativo").select2({
        placeholder: "Seleziona il Nominativo",
        allowClear: true,
        language: "it",
        width: '250',
        allowClear: false

    });

   

</script>


