
@{
    ViewBag.Title = "Elaborazioni";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool admin = Convert.ToBoolean(ViewBag.Amministratore);
}

<div class="row">
    <div class="col-xs-2">
        <div id="ContSelezioneAnno">

        </div>
    </div>
    <div class="col-xs-2">
        <div id="ContSelezionaMese">

        </div>
    </div>
</div>

