

@{
    ViewBag.Title = "Elaborazioni";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool admin = Convert.ToBoolean(ViewBag.Amministratore);
}

<link href="~/Content/css/Elaborazioni.css" rel="stylesheet" />


<div class="row">
    <div class="col-xs-4">
        <div id="ContSelezioneMeseAnno">
            @Html.Action("SelezionaMeseAnno", "Elaborazioni")
        </div>
    </div>
    <div class="col-xs-8">
        <div class="row margineTop5px">
            <div class="col-xs-12">
                <div id="ContElencoElaborazioniMensili">
                    <img src="http://placehold.it/800x350/" alt="" />
                </div>
            </div>
        </div>
        <div class="row margineTop15px">
            <div class="col-xs-12">
                <div id="ContElencoElaborazioniDirette">
                    @*<img src="http://placehold.it/800x250/" alt="" />*@
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    ValorizzazioneIniziale();

    function DatiLiquidazioniDirette(idAnnoMeseElaborato) {
        //debugger;
        var rotta = "/Elaborazioni/DatiLiquidazioniDirette";


        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idAnnoMeseElaborato: idAnnoMeseElaborato },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$('#inviaDocModal').modal('show');
                //Blocca();

            },
            success: function (result) {
                //debugger;
                $("#ContElencoElaborazioniDirette").empty();
                $("#ContElencoElaborazioniDirette").html(result);

            },
            error: function (error) {
                //debugger;
                //Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function DatiLiquidazioniMensili(idAnnoMeseElaborato) {
        //debugger;
        var rotta = "/Elaborazioni/DatiLiquidazioneMensile";


        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idAnnoMeseElaborato: idAnnoMeseElaborato },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$('#inviaDocModal').modal('show');
                //Blocca();

            },
            success: function (result) {
                //debugger;
                $("#ContElencoElaborazioniMensili").empty();
                $("#ContElencoElaborazioniMensili").html(result);

            },
            error: function (error) {
                //debugger;
                //Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });
    }
</script>
