@model NewISE.Models.DBModel.MaggiorazioniFamiliariModel

@{
    decimal idMagFam = Convert.ToDecimal(ViewData["idTrasferimento"]);
    decimal ValRinunciaMagFam = Convert.ToDecimal(ViewData["rinunciaMagFam"]);
    string dataText = Convert.ToString(ViewData["DataOdierna"]);
}

@Html.Hidden("hi_idTrasferimento", idMagFam)
@Html.Hidden("hi_idConiuge")
<div class="row">
    <div class="col-xs-12" style="text-align:center">
        <h4><strong>MAGGIORAZIONE FAMILIARE</strong></h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12" style="padding-left: 15px; padding-right:35px; margin-right: 10px; margin-left:10px; border:0">
        <div class="nav nav-justified nav-tabs">
            <ul class="nav nav-tabs tabs-destro" id="tabsAttivitaMaggiorazioniFamiliari_var">
                <li id="mnFamiliari">
                    <a data-toggle="tab" href="#tabFamiliari" id="lkFamiliari" onclick="ElencoFamiliari();">Familiari</a>
                </li>
                <li id="mnFormulariVar">
                    <a data-toggle="tab" href="#tabFormulari_Var" id="lkFormulariVar" onclick="ElencoFormulariInseriti();">Formulari</a>
                </li>
            </ul>
        </div>
        <div class="tab-content" id="tabContenuti_Var" style="border:1px;border-color:red">
            <div class="active tab-pane" id="tabFamiliari"></div>
            <div class="tab-pane" id="tabFormulari_Var"></div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div style="padding-right: 10px;padding-left:15px">
            <hr />
            <div class="pull-right" style="margin-top: 0px; margin-bottom: 10px;margin-right:0px ">
                <button class="btn btn-default btn-sm  disabled" disabled id="btNotificaRichiestaMagFam_Var" onclick="ModelNotificaRichiesta();">
                    <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                    Notifica richiesta
                </button>
                <button class="btn btn-default btn-sm hidden disabled" hidden disabled id="btAttivaMagFam_Var" onclick="ModelAttivaRichiesta();">
                    <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                    Attiva maggiorazioni
                </button>
                <button class="btn btn-default btn-sm hidden disabled" hidden disabled id="btAnnullaMagFam_Var" onclick="ModalAnnullaRichiesta();">
                    <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                    Annulla richiesta
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalNotificaRichiesta_Var" tabindex="-1" role="dialog" aria-labelledby="ModalNotificaRichiestaLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="notificaModelLabel">Attenzione!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewNotificaRichiesta">
                    <label>Procedere con la notifica della richiesta?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaNotifica_Var" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaNotificaRichiesta();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAttivaRichiesta_Var" tabindex="-1" role="dialog" aria-labelledby="ModalAttivaRichiestaLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="AttivaModelLabel">Attenzione!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewAttivaRichiesta">
                    <label>Procedere con l'attivazione della richiesta?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaAttivazione_Var" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAttivazioneRichiesta();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAnnullaRichiesta_Var" tabindex="-1" role="dialog" aria-labelledby="ModalAnnullaRichiestaLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="annullaModelLabel">Info!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewAnnullaRichiesta">
                    @*<label>Procedere con l'annullamento della richiesta?</label>*@
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaAnnulla_Var" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAnnullaRichiesta();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AnnullaModifichePensioneModal" tabindex="-1" role="dialog" aria-labelledby="ModalAnnullaModifichePensioneLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="notificaModelLabel">Attenzione!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewAnnullaModifichePensione">
                    <label>
                        Sei sicuro di voler annullare le correnti modifiche apportate alla pensione del coniuge <span id="spanAnnullaModifichePensione"></span><label>&nbsp;?</label>
                    </label>
                <p>
                    <label>
                        (Verranno ripristinati gli importi attualmente validi.)
                    </label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btAnnullaModifichePensione" type="button" class="btn btn-info" onclick="ConfermaAnnullaModifichePensioneConiuge();">Conferma</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CessazionePensioneModal" tabindex="-1" role="dialog" aria-labelledby="ModalCessazionePensioneLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="notificaModelLabel">Cessazione Pensione</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <div class="row">
                    <div class="col-xs-3 text-right" style="padding-right:15px;font-weight:bold;padding-top:5px">
                        Data cessazione :
                    </div>

                    <div class="col-xs-2">
                        <input type="text" id="dataCessazionePensione" class="form-control" placeholder="@dataText" />
                        @*@Html.TextBox("dataCessazionePensione", dataCessazione, htmlAttributes: new { @class = "form-control" })*@
                    </div>
                    <div class="col-xs-5" id="divValidazioneCessazione">
                        <p class="text-danger">(*) Data Cessazione obbligatoria.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btCessazionePensione" type="button" class="btn btn-info" onclick="ConfermaCessazionePensione();">Conferma</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#tabsAttivitaMaggiorazioniFamiliari_Var').tab();

    ElencoFamiliari();

    PulsantiNotificaAttivaMagFam();

    function ElencoFormulariInseriti() {
        var rotta = "/VariazioneMaggiorazioniFamiliari/ElencoFormulariInseriti";
        var idMagFam = parseInt('@idMagFam');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idMaggiorazioniFamiliari: idMagFam },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                $("#tabFormulari_Var").empty();
                $("#tabFormulari_Var").html(result);
            },
            complete: function () {
                PulsantiNotificaAttivaMagFam();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }


    function ElencoFamiliari() {
        //debugger;
        var rotta = "/VariazioneMaggiorazioniFamiliari/ElencoFamiliari";
        var idMagFam = parseInt('@idMagFam');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idMaggiorazioniFamiliari: idMagFam },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                $("#tabFamiliari").empty();
                $("#tabFamiliari").html(result);
            },
            complete: function () {
                //debugger;
                PulsantiNotificaAttivaMagFam();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    }

    function ModelAttivaRichiesta() {
        //debugger;
        $('#ModalAttivaRichiesta_Var').modal().show();
    }

    function ConfermaAttivazioneRichiesta() {
        var rotta = "/VariazioneMaggiorazioniFamiliari/ConfermaAttivaRichiestaVariazione";
        var idMagFam = parseInt('@idMagFam');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idMaggiorazioniFamiliari: idMagFam },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    PulsantiNotificaAttivaMagFam();
                    ElencoFamiliari();
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function ModelNotificaRichiesta() {
        //debugger;
        $('#ModalNotificaRichiesta_Var').modal().show();
    }

    function ModalAnnullaRichiesta() {
        //debugger;
        MessaggioAnnullaVariazioneMagFam();
        $('#ModalAnnullaRichiesta_Var').modal().show();
    }

    function ConfermaNotificaRichiesta() {
        var rotta = "/VariazioneMaggiorazioniFamiliari/ConfermaNotificaRichiestaVariazione";
        var idMagFam = parseInt('@idMagFam');
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idMaggiorazioniFamiliari: idMagFam },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    PulsantiNotificaAttivaMagFam();
                    ElencoFamiliari();
                    ElencoFormulariInseriti();
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function PulsantiNotificaAttivaMagFam() {
        //debugger;
        var rotta = "/VariazioneMaggiorazioniFamiliari/PulsantiNotificaAttivaMagFam";
        var idMagFam = parseInt('@idMagFam');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idMaggiorazioniFamiliari: idMagFam },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    var admin = result.admin;
                    var rinuncia = result.rinuncia;
                    var richiesta = result.richiesta;
                    var attivazione = result.attivazione;
                    var datiConiuge = result.datiConiuge;
                    var datiParzialiConiuge = result.datiParzialiConiuge;
                    var datiParziali = result.datiParziali;
                    var datiFigli = result.datiFigli;
                    var datiParzialiFigli = result.datiParzialiFigli;
                    var siDocConiuge = result.siDocConiuge;
                    var siDocFigli = result.siDocFigli;
                    var siDoc = result.siDoc;
                    var docFormulario = result.docFormulario;
                    var inLavorazione = result.inLavorazione;
                    var checkNotifica = result.CheckNotifica;
                    var trasfSolaLettura = result.trasfSolaLettura;

                    $("#btAttivaMagFam_Var").attr("disabled", "disabled");
                    $("#btAttivaMagFam_Var").addClass("disabled");

                    $("#btAnnullaMagFam_Var").attr("disabled", "disabled");
                    $("#btAnnullaMagFam_Var").addClass("disabled");

                    if (admin) {
                        $("#btAttivaMagFam_Var").removeAttr("hidden");
                        $("#btAttivaMagFam_Var").removeClass("hidden");

                        $("#btAnnullaMagFam_Var").removeAttr("hidden");
                        $("#btAnnullaMagFam_Var").removeClass("hidden");

                        $("#btAttivaMagFam_Var").attr("disabled", "disabled");
                        $("#btAttivaMagFam_Var").addClass("disabled");

                        $("#btAnnullaMagFam_Var").attr("disabled", "disabled");
                        $("#btAnnullaMagFam_Var").addClass("disabled");
                    }


                    //Se risulta in lavorazione abilito la il pulsante notifica
                    if (inLavorazione && checkNotifica) {
                        $("#btNotificaRichiestaMagFam_Var").removeAttr("disabled");
                        $("#btNotificaRichiestaMagFam_Var").removeClass("disabled");
                    }
                    else {
                        /////Impostare a vero rinuncia significa impostare in automatico a vero anche richiesta di attivazione
                        //if (rinuncia && richiesta)
                        //{
                        //    $("#btNotificaRichiestaMagFam_Var").attr("disabled", "disabled");
                        //    $("#btNotificaRichiestaMagFam_Var").addClass("disabled");

                        //    if (attivazione)
                        //    {
                        //        $("#btAttivaMagFam_Var").attr("disabled", "disabled");
                        //        $("#btAttivaMagFam_Var").addClass("disabled");
                        //    }
                        //}
                        //else
                        //{
                        if (richiesta) {
                            $("#btNotificaRichiestaMagFam_Var").attr("disabled", "disabled");
                            $("#btNotificaRichiestaMagFam_Var").addClass("disabled");

                            if (attivazione) {
                                $("#btAttivaMagFam_Var").attr("disabled", "disabled");
                                $("#btAttivaMagFam_Var").addClass("disabled");
                            }
                            else {
                                if (admin) {
                                    $("#btAttivaMagFam_Var").removeAttr("disabled");
                                    $("#btAttivaMagFam_Var").removeClass("disabled");

                                    $("#btAnnullaMagFam_Var").removeAttr("disabled");
                                    $("#btAnnullaMagFam_Var").removeClass("disabled");
                                }
                                else {
                                    $("#btAttivaMagFam_Var").attr("disabled", "disabled");
                                    $("#btAttivaMagFam_Var").addClass("disabled");

                                    $("#btAnnullaMagFam_Var").attr("disabled", "disabled");
                                    $("#btAnnullaMagFam_Var").addClass("disabled");
                                }
                            }
                        }
                        else {
                            $("#btNotificaRichiestaMagFam_Var").attr("disabled", "disabled");
                            $("#btNotificaRichiestaMagFam_Var").addClass("disabled");

                            $("#btAttivaMagFam_Var").attr("disabled", "disabled");
                            $("#btAttivaMagFam_Var").addClass("disabled");

                            $("#btAnnullaMagFam_Var").attr("disabled", "disabled");
                            $("#btAnnullaMagFam_Var").addClass("disabled");
                        }
                        //}
                    }
                    //se il trasferimento è terminato o annullato disabilito i pulsanti
                    if (trasfSolaLettura) {
                        $("#btAttivaMagFam_Var").attr("disabled", "disabled");
                        $("#btAttivaMagFam_Var").addClass("disabled");

                        $("#btAnnullaMagFam_Var").attr("disabled", "disabled");
                        $("#btAnnullaMagFam_Var").addClass("disabled");

                        $("#btNotificaRichiestaMagFam_Var").attr("disabled", "disabled");
                        $("#btNotificaRichiestaMagFam_Var").addClass("disabled");
                    }

                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function ConfermaAnnullaRichiesta() {
        //debugger;
        var rotta = "/VariazioneMaggiorazioniFamiliari/ConfermaAnnullaRichiestaVariazione";
        var idMagFam = parseInt('@idMagFam');
        var testoAnnullaMAB = $('#FullDescription').val();
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idMaggiorazioniFamiliari: idMagFam, msg: testoAnnullaMAB },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    PulsantiNotificaAttivaMagFam();
                    ElencoFamiliari();
                    ElencoFormulariInseriti();
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function MessaggioAnnullaVariazioneMagFam() {
        //debugger;
        var rotta = "/VariazioneMaggiorazioniFamiliari/MessaggioAnnullaVariazioneMagFam";
        var idTrasferimento = parseInt($('#hi_idTrasferimento').val());
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                $("#viewAnnullaRichiesta").empty();
                $("#viewAnnullaRichiesta").html(result);
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function AggiornaElencoPensioni(idConiuge) {
        Pensione(idConiuge);
    }

    function ConfermaAnnullaModifichePensioneConiuge() {
        //debugger;
        var rotta = "/VariazioneMaggiorazioniFamiliari/ConfermaAnnullaModifichePensioneConiuge";
        var idConiuge = parseInt($('#hi_idConiuge').val());

        $.ajax({
            type: "POST",
            url: rotta,

            data: {
                idConiuge: idConiuge
            },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    $('#AnnullaModifichePensioneModal').modal('hide');
                    AggiornaElencoPensioni(idConiuge);
                    
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {
                //debugger;
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function ConfermaCessazionePensione() {
        //debugger;
        var rotta = "/VariazioneMaggiorazioniFamiliari/ConfermaCessazionePensione";
        var idConiuge = parseInt($('#hi_idConiuge').val());
        var strDataCessazionePensione = $('#dataCessazionePensione').val();
        if (strDataCessazionePensione != "") {

            $.ajax({
                type: "POST",
                url: rotta,

                data: {
                    idConiuge: idConiuge,
                    strDataCessazionePensione: strDataCessazionePensione
                },
                dataType: 'json',
                beforeSend: function () {
                    //debugger;
                    VerificaAutenticazione();
                },
                success: function (result) {
                    //debugger;
                    if (result.err == "") {
                        $('#CessazionePensioneModal').modal('hide');
                        AggiornaElencoPensioni(idConiuge);
                    
                    } else {
                        ErroreElaborazioneAjax(result.err);
                    }

                    //AggiornaElencoPensioni(idConiuge);

                },
                complete: function () {
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    ErroreElaborazioneAjax(msg);
                }
            });
        } else {
            $("#divValidazioneCessazione").show();
        }
    }

</script>

