<table class="table">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>-</td>
            <td><label>Istruzioni compilazione formulari maggiorazioni familiari</label></td>
            <td>
                <a href="~/FormulariMaster/FormularioMF/formulario 1.pdf" target="_blank">
                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30" />
                </a>
            </td>
        </tr>
        <tr>
            <td>1</td>
            <td><label>Domanda di attribuzione delle quote di aggiunta di famiglia</label></td>
            <td>
                <a href="~/FormulariMaster/FormularioMF/formulario 1.pdf" target="_blank">
                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30" />
                </a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td><label>Dichiarazione ai sensi degli articoli 46 e 47 del D.P.R. 28 Dicembre 2000, N. 445</label></td>
            <td>
                <a href="~/FormulariMaster/FormularioMF/formulario 2.pdf" target="_blank">
                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30" />
                </a>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td><label>Dichiarazione resa ai sensi degli articoli 46 e 47 del D.P.R. 28 Dicembre 2000, N. 445 attestante l'arrivo in sede dei familiari a carico del dipendente</label></td>
            <td>
                <a href="~/FormulariMaster/FormularioMF/formulario 3.pdf" target="_blank">
                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30" />
                </a>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td><label>Dichiarazione resa ai sensi degli articoli 46 e 47 del D.P.R. 28 Dicembre 2000, N. 445 attestante la frequenza dei figli presso istituto scolastico</label></td>
            <td>
                <a href="~/FormulariMaster/FormularioMF/formulario 4.pdf" target="_blank">
                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30" />
                </a>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td><label>Dichiarazione resa ai sensi degli articoli 46 e 47 del D.P.R. 28 Dicembre 2000, N. 445 attestante gravi ragioni di salute</label></td>
            <td>
                <a href="~/FormulariMaster/FormularioMF/formulario 5.pdf" target="_blank">
                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30" />
                </a>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td><label>Dichiarazione resa ai sensi degli articoli 46 e 47 del D.P.R. 28 Dicembre 2000, N. 445 attestante le assenze dei familiari a carico</label></td>
            <td>
                <a href="~/FormulariMaster/FormularioMF/formulario 6.pdf" target="_blank">
                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30" />
                </a>
            </td>
        </tr>
        <tr>
            <td>7</td>
            <td><label>Istanza del genitore affidatario/collocatario</label></td>
            <td>
                <a href="~/FormulariMaster/FormularioMF/formulario 7.pdf" target="_blank">
                    <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30" />
                </a>
            </td>
        </tr>
    </tbody>
</table>