@{
//decimal idMaggiorazioniFamiliari = Convert.ToDecimal(ViewData["idMaggiorazioniFamiliari"]);
//bool solaLettura = Convert.ToBoolean(ViewData["solaLettura"]);
}

<div style="padding-left: 15px;padding-right:50px">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-xs-3">
                <h4>Dati precedenti Familiare</h4>
            </div>
            <div class="col-xs-1">
                <div  style="text-align:center;border-bottom:solid;border-bottom-width:4px;border-color:yellow">
                    <h5>Anagrafica</h5>
                </div>
            </div>
            <div class="col-xs-1">
                <div style="text-align:center;border-bottom:solid;border-bottom-width:4px;border-color:yellow">
                    <h5>Pensione</h5>
                </div>
            </div>
            <div class="col-xs-1">
                <div style="text-align:center">
                    <h5>Altri dati </h5>
                </div>
            </div>
            <div class="col-xs-1">
                <div style="text-align:center;border-bottom:solid;border-bottom-width:4px;border-color:yellow">
                    <h5>Documenti</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<script type="text/javascript">
 



</script>

