@{
//decimal idMaggiorazioniFamiliari = Convert.ToDecimal(ViewData["idMaggiorazioniFamiliari"]);
//bool solaLettura = Convert.ToBoolean(ViewData["solaLettura"]);
}

<div style="padding-left: 15px;padding-right:50px">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-xs-2">
                <button id="btModificheFiglioAdf" type="button" class="btn btn-success" data-dismiss="modal" onclick="VisualizzaDettaglioAdfFiglio();">Altri Dati Familiari</button>
            </div>
            <div class="col-xs-2">
                <button id="btModificheFiglioDocumenti" type="button" class="btn btn-success" data-dismiss="modal" onclick="ConfermaAttivazioneRichiesta();">Documenti</button>
            </div>
        </div>
    </div>
</div>
<hr />




<script type="text/javascript">
 



</script>

