@model NewISE.Models.DBModel.VariazioneFigliModel

@{
//decimal idMaggiorazioniFamiliari = Convert.ToDecimal(ViewData["idMaggiorazioniFamiliari"]);
//bool solaLettura = Convert.ToBoolean(ViewData["solaLettura"]);
}

<div style="padding-left: 15px;padding-right:50px">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-xs-3">
                <h4>Dati precedenti Figlio</h4>
            </div>
            <div class="col-xs-1">
                <div  style="text-align:center @Model.ev_anagrafica">
                    <h5>Anagrafica</h5>
                </div>
            </div>
            <div class="col-xs-1">
                <div style="text-align:center @Model.ev_altridati">
                    <h5>Altri dati</h5>
                </div>
            </div>
            <div class="col-xs-1">
                <div style="text-align:center @Model.ev_documenti">
                    <h5>Documenti</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<script type="text/javascript">
 



</script>

