@{
//decimal idMaggiorazioniFamiliari = Convert.ToDecimal(ViewData["idMaggiorazioniFamiliari"]);
//bool solaLettura = Convert.ToBoolean(ViewData["solaLettura"]);
}

<div style="padding-left: 15px;padding-right:50px">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-xs-3">
                <button id="btMoodificheConiugePensione" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAttivazioneRichiesta();">Pensione</button>
            </div>
            <div class="col-xs-1">
                <button id="btMoodificheConiugeAdf" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAttivazioneRichiesta();">Pensione</button>
            </div>
            <div class="col-xs-1">
                <button id="btMoodificheConiugeDocumenti" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAttivazioneRichiesta();">Pensione</button>
            </div>
        </div>
    </div>
</div>
<hr />




<script type="text/javascript">
 



</script>

