@using NewISE.Controllers

@{
    //decimal idTrasferimento = (decimal)ViewData["idTrasferimento"];

    decimal idTrasferimento = Convert.ToDecimal(ViewData["idTrasferimento"]);
    decimal idTrasportoEffettiPartenza = Convert.ToDecimal(ViewData["idTrasportoEffettiPartenza"]);
    decimal idTrasfProvScolastiche = Convert.ToDecimal(ViewData["idTrasferimento"]);
}

@Html.Hidden("idTrasferimento", idTrasferimento)



<div class="row">
    <div class="col-xs-12" style="padding-left: 10px; padding-right:25px; margin: 10px; border:0">
        <div class="tab-content" id="tabContenuti_Var" style="border:1px;border-color:red">
            <div class="active tab-pane" id="tabElencoProvvidenze"></div>
            <div class="tab-pane" id="tabFormulari_Var"></div>
        </div>
    </div>
</div>

<!-- Inserire la chiamata in un altra pagina -->
<div class="row" hidden>

    <div class="col-xs-3">
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <button class="btn btn-default btn-sm" onclick=" DownloadFormulario(); ">
                <i aria-hidden="true" class="fa fa-2x fa-file-pdf-o"></i>
                Download formulario
            </button>

        </div>
    </div>

    <div class="col-xs-2">
        <div style="margin-top: 10px; margin-bottom: 10px;">

            <button class="btn btn-default btn-sm" onclick="NuovoFormulario();">
                <i aria-hidden="true" class="fa fa-2x fa-file-pdf-o"></i>
                Inserisci formulario
            </button>

        </div>

    </div>


</div>

<div class="row">
        <div class="pull-right" style="margin-top: 10px; margin-bottom: 10px;margin-right:35px ">
            <button class="btn btn-default btn-sm disabled" disabled id="btNotificaRichiestaMagFam" onclick="ModalNotificaRichiesta();">
                <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                Notifica richiesta
            </button>

            <button class="btn btn-default btn-sm disabled" disabled id="btAttivaMagFam" onclick="ModalAttivaRichiesta(); ">
                <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                Attiva maggiorazioni
            </button>

            <button class="btn btn-default btn-sm disabled" disabled id="btAnnullaMagFam" onclick="ModalAnnullaRichiesta();">
                <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                Annulla richiesta
            </button>
        </div>
    </div>

<div class="modal fade" id="ModalNotificaRichiesta" tabindex="-1" role="dialog" aria-labelledby="ModalNotificaRichiestaLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document" style="width:350px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title alert alert-info text-info" id="notificaModelLabel">Info!!!</h3>
                </div>
                <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                    <p id="viewNotificaRichiesta">
                        <label>Procedere con la notifica della richiesta?</label>
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="btConfermaNotifica" type="button" class="btn btn-info" data-dismiss="modal" onclick=" ConfermaNotificaRichiesta(); ">Procedi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="ModalAttivaRichiesta" tabindex="-1" role="dialog" aria-labelledby="ModalAttivaRichiestaLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title alert alert-info text-info" id="AttivaModelLabel">Info!!!</h3>
                </div>
                <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                    <p id="viewAttivaRichiesta">
                        <label>Procedere con l'attivazione della richiesta?</label>
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="btConfermaAttivazione" type="button" class="btn btn-info" data-dismiss="modal" onclick=" ConfermaAttivazioneRichiesta(); ">Procedi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="ModalAnnullaRichiesta" tabindex="-1" role="dialog" aria-labelledby="ModalAnnullaRichiestaLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title alert alert-info text-info" id="annullaModelLabel">Messaggio di annullamento richiesta Maggiorazioni Familiari</h3>
                </div>
                <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                    <p id="viewAnnullaRichiesta">
                        @*<label>Procedere con l'annullamento della richiesta?</label>*@
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="btConfermaAnnulla" type="button" class="btn btn-info" data-dismiss="modal" onclick=" ConfermaAnnullaRichiesta(); ">Procedi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript">

    ElencoFormulariInseriti();

    function ElencoFormulariInseriti() {
        //debugger;
        var rotta = "/ProvvidenzeScolastiche/ElencoFormulariInseriti";
        var idTrasferimento = parseInt($('#idTrasferimento').val());

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabElencoProvvidenze").empty();
                $("#tabElencoProvvidenze").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                //PulsantiNotificaAttivaMagFam();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function ElencoDocumentiPS(idTipoDocumento) {
        //debugger;
        var idTrasfProvScolastiche = parseInt('@idTrasfProvScolastiche');
        var rotta = "/ProvvidenzeScolastiche/ElencoDocumentiPS";

        $.ajax({
            type: "POST",
            url: rotta,
            data: {
                idTipoDocumento: idTipoDocumento,
                idTrasfProvScolastiche: idTrasfProvScolastiche
            },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#divTrasportoEffettiPartenza").empty();
                $("#divTrasportoEffettiPartenza").html(result);

                //RicercaDocumenti();

            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });

    }


</script>

