@using NewISE.Controllers

@{

    bool richiestaPS = Convert.ToBoolean(ViewData["richiestaPS"]);
    bool attivazionePS = Convert.ToBoolean(ViewData["attivazionePS"]);
    bool DocProvvidenzeScolastiche = Convert.ToBoolean(ViewData["DocProvvidenzeScolastiche"]);
    decimal idTrasferimento = Convert.ToDecimal(ViewData["idTrasferimento"]);
    decimal idTrasfProvScolastiche = Convert.ToDecimal(ViewData["idTrasferimento"]);
    decimal idProvScolastiche = Convert.ToDecimal(ViewData["idProvScolastiche"]);
    
}

@Html.Hidden("idTrasferimento", idTrasferimento)

<div class="row">
    <div class="col-xs-12" style="padding-left: 10px; padding-right:25px; margin: 10px; border:0">
        @*<div class="tab-content" id="tabContenuti_Var" style="border:1px;border-color:red">
            <div class="active tab-pane" id="tabElencoProvvidenze"></div>
            <div class="tab-pane" id="tabFormulari_Var"></div>
        </div>*@
        <div class="tab-content" id="tabElencoProvvidenze" style="border:1px;border-color:red">
            
        </div>
    </div>
</div>

<div class="row" hidden>

    <div class="col-xs-3">
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <button class="btn btn-default btn-sm" onclick=" DownloadFormulario(); ">
                <i aria-hidden="true" class="fa fa-2x fa-file-pdf-o"></i>
                Download formulario
            </button>

        </div>
    </div>

    <div class="col-xs-2">
        <div style="margin-top: 10px; margin-bottom: 10px;">

            <button class="btn btn-default btn-sm" onclick="NuovoFormulario();">
                <i aria-hidden="true" class="fa fa-2x fa-file-pdf-o"></i>
                Inserisci formulario
            </button>

        </div>

    </div>


</div>

<div class="row">
        <div class="pull-right" style="margin-top: 10px; margin-bottom: 10px;margin-right:35px ">
            <button class="btn btn-default btn-sm hidden disabled" hidden disabled id="btNotificaRichiestaPS" onclick="ModalNotificaRichiestaPS();">
                <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                Notifica richiesta
            </button>

            <button class="btn btn-default btn-sm hidden disabled" hidden disabled id="btAttivaRichiestaPS" onclick="ModalAttivaRichiestaPS(); ">
                <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                Attiva provvidenze
            </button>

            <button class="btn btn-default btn-sm hidden disabled" hidden disabled id="btAnnullaRichiestaPS" onclick="ModalAnnullaRichiestaPS();">
                <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                Annulla richiesta
            </button>
        </div>
    </div>

<div class="modal fade" id="ModalNotificaRichiestaPS" tabindex="-1" role="dialog" aria-labelledby="ModalNotificaRichiestaPSLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document" style="width:350px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title alert alert-info text-info" id="notificaModelLabel">Info!!!</h3>
                </div>
                <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                    <p id="viewNotificaRichiesta">
                        <label>Procedere con la notifica della richiesta?</label>
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="btConfermaNotifica" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaNotificaRichiestaPS();">Procedi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="ModalAttivaRichiestaPS" tabindex="-1" role="dialog" aria-labelledby="ModalAttivaRichiestaPSLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title alert alert-info text-info" id="AttivaModelLabel">Info!!!</h3>
                </div>
                <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                    <p id="viewAttivaRichiesta">
                        <label>Procedere con l'attivazione della richiesta?</label>
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="btConfermaAttivazione" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAttivazioneRichiestaPS();">Procedi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="ModalAnnullaRichiestaPS" tabindex="-1" role="dialog" aria-labelledby="ModalAnnullaRichiestaPSLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title alert alert-info text-info" id="annullaModelLabel">Messaggio di annullamento richiesta Provvidenze Scolastiche</h3>
                </div>
                <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                    <p id="viewAnnullaRichiestaPS">
                        <label>Procedere con l'annullamento della richiesta?</label>
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="btConfermaAnnulla" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAnnullaRichiestaPS();">Procedi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript">
    GestionePulsantiNotificaAttivaAnnullaProvvidenzeScolastiche();
    ElencoFormulariInseriti();

    function GestionePulsantiNotificaAttivaAnnullaProvvidenzeScolastiche() {
        //debugger;
        var rotta = "/ProvvidenzeScolastiche/GestionePulsantiNotificaAttivaAnnullaProvvidenzeScolastiche";
        var idTrasfProvScolastiche = parseInt('@idTrasfProvScolastiche');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasfProvScolastiche: idTrasfProvScolastiche },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    var admin = result.admin;
                    var richiestaPS = result.richiestaPS;
                    var attivazionePS = result.attivazionePS;
                    var DocProvvidenzeScolastiche = result.DocProvvidenzeScolastiche;
                    var trasfAnnullato = result.trasfAnnullato;


                    $("#btNotificaRichiestaPS").attr("disabled", "disabled");
                    $("#btNotificaRichiestaPS").addClass("disabled");

                    $("#btNotificaRichiestaPS").removeAttr("hidden");
                    $("#btNotificaRichiestaPS").removeClass("hidden");


                    //se amministratore vedo i pulsanti altrimenti solo notifica
                    if (admin) {
                        $("#btAttivaRichiestaPS").removeAttr("hidden");
                        $("#btAttivaRichiestaPS").removeClass("hidden");

                        $("#btAnnullaRichiestaPS").removeAttr("hidden");
                        $("#btAnnullaRichiestaPS").removeClass("hidden");

                        $("#btAttivaRichiestaPS").attr("disabled", "disabled");
                        $("#btAttivaRichiestaPS").addClass("disabled");

                        $("#btAnnullaRichiestaPS").attr("disabled", "disabled");
                        $("#btAnnullaRichiestaPS").addClass("disabled");
                    }

                    //Se risulta in lavorazione con almeno un documento abilito la il pulsante notifica
                    if (
                            (
                                (

                                    (richiestaPS == false && attivazionePS == false && DocProvvidenzeScolastiche)
                                ) &&
                                    trasfAnnullato == false
                               ) 
                        ) {
                        $("#btNotificaRichiestaPS").removeAttr("disabled");
                        $("#btNotificaRichiestaPS").removeClass("disabled");
                    } else {
                        if (admin) {
                            if (richiestaPS && attivazionePS == false && trasfAnnullato == false) {
                                $("#btAttivaRichiestaPS").removeAttr("disabled");
                                $("#btAttivaRichiestaPS").removeClass("disabled");
                                $("#btAnnullaRichiestaPS").removeAttr("disabled");
                                $("#btAnnullaRichiestaPS").removeClass("disabled");
                       
                            }
                        }
                    }
                    //GestioneAttivitaTrasferimento();
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    // *************************************************************************************************

    function ModalNotificaRichiestaPS() {
        //debugger;
        $('#ModalNotificaRichiestaPS').modal().show();
    }

    function ModalAnnullaRichiestaPS() {
        //debugger;
        MessaggioAnnullaRichiestaPS();
        $('#ModalAnnullaRichiestaPS').modal().show();
    }

    function ModalAttivaRichiestaPS() {
        //debugger;
        $('#ModalAttivaRichiestaPS').modal().show();
    }

    function ConfermaNotificaRichiestaPS() {
        //debugger;
        var rotta = "/ProvvidenzeScolastiche/ConfermaNotificaRichiestaPS";
        var idTrasfProvScolastiche = parseInt('@idTrasfProvScolastiche');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasfProvScolastiche: idTrasfProvScolastiche },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    AttivitaProvvidenze();
                    GestionePulsantiNotificaAttivaAnnullaProvvidenzeScolastiche();
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });
    }

    function ConfermaAttivazioneRichiestaPS() {
        //debugger;
        var rotta = "/ProvvidenzeScolastiche/ConfermaAttivazioneRichiestaPS";
        var idTrasfProvScolastiche = parseInt('@idTrasfProvScolastiche');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasfProvScolastiche: idTrasfProvScolastiche },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    ElencoFormulariInseriti();
                    GestionePulsantiNotificaAttivaAnnullaProvvidenzeScolastiche();
                    //InfoElaborazioneAjax(result.msg);
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function ConfermaAnnullaRichiestaPS() {
        //debugger;
        var rotta = "/ProvvidenzeScolastiche/ConfermaAnnullaRichiestaPS";
        var idTrasfProvScolastiche = parseInt('@idTrasfProvScolastiche');
        var testoAnnullaPS = $('#FullDescription').val();

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasfProvScolastiche: idTrasfProvScolastiche, msg: testoAnnullaPS },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    ElencoFormulariInseriti();
                    GestionePulsantiNotificaAttivaAnnullaProvvidenzeScolastiche();
                    //InfoElaborazioneAjax(result.msg);
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function MessaggioAnnullaRichiestaPS() {
        //debugger;
        var rotta = "/ProvvidenzeScolastiche/MessaggioAnnullaProvvidenzeScolastiche";
        var idTrasfProvScolastiche = parseInt('@idTrasfProvScolastiche');
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasfProvScolastiche: idTrasfProvScolastiche },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                $("#viewAnnullaRichiestaPS").empty();
                $("#viewAnnullaRichiestaPS").html(result);
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }


    // *************************************************************************************************

    function ElencoFormulariInseriti() {
        //debugger;
        var rotta = "/ProvvidenzeScolastiche/ElencoFormulariInseriti";
        var idTrasferimento = parseInt($('#idTrasferimento').val());
        var idProvScolastiche = parseInt('@idProvScolastiche');
        var idTrasfProvScolastiche = parseInt('@idTrasfProvScolastiche');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento, idProvScolastiche: idProvScolastiche, idTrasfProvScolastiche: idTrasfProvScolastiche },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                //VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#tabElencoProvvidenze").empty();
                $("#tabElencoProvvidenze").html(result);

                //RicercaDocumenti();

            },
            complete: function () {
                GestionePulsantiNotificaAttivaAnnullaProvvidenzeScolastiche();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });
    }

    function ElencoDocumentiPS(idTipoDocumento) {
        //debugger;
        var idTrasfProvScolastiche = parseInt('@idTrasfProvScolastiche');
        var rotta = "/ProvvidenzeScolastiche/ElencoDocumentiPS";

        $.ajax({
            type: "POST",
            url: rotta,
            data: {
                idTipoDocumento: idTipoDocumento,
                idTrasfProvScolastiche: idTrasfProvScolastiche
            },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                $("#divTrasportoEffettiPartenza").empty();
                $("#divTrasportoEffettiPartenza").html(result);

                //RicercaDocumenti();

            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });

    }

</script>

