@using ReportViewerForMvc;
@using Microsoft.Reporting.WebForms;


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Consuntivo Spese Avvicendamento</title>
</head>
<body>
    @{
        ViewBag.Title = "Spese Avvicendamento";
    }


    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)


</body>
</html>