@model NewISE.Models.FunzioneEventoModel

@{
    bool admin = Convert.ToBoolean(ViewBag.Amministratore);
    string matricola = Convert.ToString(ViewBag.Matricola);
}
<div id="divControlliDipendenti">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("lblNominativo", "Nominativo", new { @class = "control-label col-xs-3" })
            <div id="divCombo2" class="col-xs-9">
                <div class="select2-container select2-container--classic">
                    @Html.DropDownList("NomeFunzione", ViewBag.ListDipendentiGepeNominativo as IEnumerable<SelectListItem>, new { @id = "NomeFunzione", @class = "form-control select2 select2-select" })
                </div>
            </div>
        </div>
     </div>
</div>