@using NewISE.Models.DBModel
@model IEnumerable<NewISE.Models.ViewModel.ElencoElementiHome>
@{
    decimal idMaggiorazioniFamiliari = Convert.ToDecimal(ViewData["idMaggiorazioniFamiliari"]);
    bool solaLettura = Convert.ToBoolean(ViewData["solaLettura"]);
    bool admin = Convert.ToBoolean(ViewBag.Amministratore);
}
@{
    ViewBag.Title = "Home";
}

<link href="~/Content/css/cssHome.css" rel="stylesheet" />
<input type="hidden" id="hAmministratore" value="@admin.ToString()" />

<div class="row">
    <div id="divPanelCalendEv" class="col-xs-12">        
            @Html.Action("GetListaHome", "Home")       
    </div>    
</div>
   
<script type="text/javascript">
    $('#tbDislocazioneDipEstero').DataTable({
            "order": [],
            "scrollY": 220,
            "scrollX": true,
            "language": {
                "sEmptyTable": "<b>Nessun dato presente nel calendario eventi</b>",
                "sInfo": "Vista da _START_ a _END_ di _TOTAL_ elementi",
                "sInfoEmpty": "Vista da 0 a 0 di 0 elementi",
                "sInfoFiltered": "(filtrati da _MAX_ elementi totali)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "Visualizza _MENU_ elementi",
                "sLoadingRecords": "Caricamento...",
                "sProcessing": "Elaborazione...",
                "sSearch": "Cerca:",
                "sZeroRecords": "La ricerca non ha portato alcun risultato.",
                "oPaginate": {
                    "sFirst": "Inizio",
                    "sPrevious": "Precedente",
                    "sNext": "Successivo",
                    "sLast": "Fine"
                },
                "oAria": {
                    "sSortAscending": ": attiva per ordinare la colonna in ordine crescente",
                    "sSortDescending": ": attiva per ordinare la colonna in ordine decrescente"
                }

            }
        });


        function invia() {
            //debugger
            //rotta = "/Statistiche/ArchivioVecchioISE/RptDislocazione";
            //var descr_ufficio = $("#codicesede").select2('val');
            //window.location.href = "/Statistiche/ArchivioVecchioISE/RptDislocazione?codicesede=" + codicesede;
            window.location.href = "/Statistiche/ArchivioVecchioISE/RptDislocazione";
        };

    // Calendario con possibilità di cambiare mese e anno
        $(document).ready(function() {
            $(".datepicker").datepicker({

                changeMonth :true,
                changeYear: true,
                //yearRange: "-15:+0",
                //defaultDate: '01/01/01'
            });
        });

        function PrelevaGigius(codicesede, txtMyField) {
            //debugger;

            rotta = "/Statistiche/ArchivioVecchioISE/Dislocazione";

            var descr_ufficio = $("#codicesede").select2('val');
            var data = $("#datepicker").val();

            var chk = true;

            $.ajax({
                type: "POST",
                url: rotta,
                data: {
                    codicesede: codicesede,
                    V_UTENTE: 'fantomas',
                    V_DATA: data,
                    V_UFFICIO: descr_ufficio
                    //V_DATA: '15/09/2017',
                    //data: DataDislocazione,
                    //V_UFFICIO: 'ACCRA'
                },
                dataType: 'html',
                beforeSend: function () {
                    //debugger;
                    $("#divPViewParametri").empty();
                    //VerificaAutenticazione();
                    //$("#DialogNewDoc").dialog("destroy");
                    //$("#divEffettoLoadAutNoDoc").show("slow");
                },
                success: function (result) {
                    //debugger;
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //$("#divPViewParametri").empty();
                    $("#divPViewParametri").html(result);

                    //RicercaDocumenti();

                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });

        }

        $("#codicesede").select2({
            placeholder: "Seleziona una sede",
            allowClear: true,
            language: "it",
            width: '350'

        });

</script>