<div id="divReport" class="text-center"></div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="panel panel-default">
                    <div class="panel-heading"><h5>
                        <b>Consuntivo dei Costi per Ufficio</b>
                        </h5>
                    </div>
                    <div class="panel-body">
                        <h5>
                        <div class="row">
                            <div class="col-xs-4 date">
                                <strong>Mese Anno Inizio</strong>
                            </div>

                            <div class="col-xs-4 date">
                                <strong>Mese Anno Fine</strong>
                            </div>

                            <div class="col-xs-4 date">
                                <strong>Ufficio</strong>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4 date">
                                <div class="input-group input-append date">
                                    @Html.DropDownList("cbMesiAnniElaboratiDa", ViewData["listMesiAnniElaboratiDa"] as IEnumerable<SelectListItem>, new { @id = "idMesiAnniElaboratiDa", @class = "form-control select2 select2-select js-data-example-ajax" })
                                </div>
                            </div>

                            <div class="col-xs-4 date">
                                <div class="input-group input-append date">
                                    @Html.DropDownList("cbMesiAnniElaboratiA", ViewData["listMesiAnniElaboratiA"] as IEnumerable<SelectListItem>, new { @id = "idMesiAnniElaboratiA", @class = "form-control select2 select2-select js-data-example-ajax" })
                                </div>
                            </div>
                            <div class="col-xs-4 date">
                                <div class="input-group input-append date">
                                    @Html.DropDownList("idUfficio", ViewBag.ElencoUffici as IEnumerable<SelectListItem>, new { @id = "idUfficio", @class = "form-control select2 select2-select" })
                                </div>

                            </div>
                        </div>

                        <div class="col-xs-12" style="margin-top:40px">
                            <center>
                                <button class="btn btn-small btn-success" id="btStampa">
                                    <i aria-hidden="true" class="fa fa-2x fa-print"></i>
                                    Stampa
                                </button>
                            </center>
                        </div>
                        </h5>
                    </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#cbMesiAnniElaboratiDa").select2({
        placeholder: "Seleziona il mese-anno",
        allowClear: false,
        language: "it",
        width: '150',
        ajax: {
            delay: 250,
            url: "/Statistiche/CostiUfficio/PrelevaMesiAnniElab",
            data: function (dati) {
                //debugger;
                var query = {
                    search: dati.term,
                    type: 'public'
                }

                // Query parameters will be ?search=[term]&type=public
                return query;
            },
            dataType: 'json',
            type: "post",
            processResults: function (data) {
                //debugger;
                return {
                    results: data.results
                }
            }
        }
    });

    $("#cbMesiAnniElaboratiDa").change(function () {
        //debugger;

        if (this.value != "") {
            var valore = this.value;

        }

    });

    $("#cbMesiAnniElaboratiA").select2({
        placeholder: "Seleziona il mese-anno",
        allowClear: false,
        language: "it",
        width: '150',
        ajax: {
            delay: 250,
            url: "/Statistiche/CostiUfficio/PrelevaMesiAnniElab",
            data: function (dati) {
                //debugger;
                var query = {
                    search: dati.term,
                    type: 'public'
                }

                // Query parameters will be ?search=[term]&type=public
                return query;
            },
            dataType: 'json',
            type: "post",
            processResults: function (data) {
                //debugger;
                return {
                    results: data.results
                }
            }
        }
    });

    $("#cbMesiAnniElaboratiA").change(function () {
        //debugger;

        if (this.value != "") {
            var valore = this.value;

        }

    });

    $("#idMesiAnniElaboratiDa").select2({
        placeholder: "Seleziona mese anno Dal",
        allowClear: true,
        language: "it",
        width: '170',
        allowClear: false

    });


    $("#idMesiAnniElaboratiA").select2({
        placeholder: "Seleziona mese anno Al",
        allowClear: true,
        language: "it",
        width: '170',
        allowClear: false

    });


    //$(".form-control:input").datepicker();

    var windowWidth = $(window).width();
    var windowHeight = $(window).height();

    $("#divReport").dialog({
        autoOpen: false,
        show: {
            //effect: "blind",
            //duration: 1000
        },
        hide: {
            //effect: "explode",
            //duration: 1000
        },
        close: function (event, ui) {
            $('.container').removeClass("NoOverflow");
        },
        height: windowHeight, width: windowWidth


    });

    $("#btStampa").on("click", function () {

        //debugger;

        $('.container').addClass("NoOverflow");

        $("#divReport").dialog("open");
        $("#divReport").css("background-color", "#ffffff");

        var rotta = "/Statistiche/CostiUfficio/RptCostiUfficio";

        var meseAnnoDa = $("#idMesiAnniElaboratiDa").val();
        var meseAnnoA = $("#idMesiAnniElaboratiA").val();
        var idUfficio = $("#idUfficio").val()

        $.ajax({
            type: "POST",
            url: rotta,
            data: {
                meseAnnoDa: meseAnnoDa,
                meseAnnoA: meseAnnoA,
                idUfficio: idUfficio
            },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                $("#divReport").empty();

            },
            success: function (result) {
                //debugger;
                $("#divReport").html(result);
            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }

        });

    });

    $("#idUfficio").select2({
        placeholder: "Seleziona Ufficio",
        allowClear: true,
        language: "it"
    });

</script>

