<div id="divReport" class="text-center"></div>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading text-center" style="background-color:lightgrey">
                    <h4>
                        <b>Consuntivo dei Costi per Ufficio</b>
                    </h4>
                </div>
                <div class="panel-body" style="font-size:1.2em">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <strong>Mese Inizio Elaborazione</strong>
                        </div>

                        <div class="col-xs-3 date">
                            <strong>Mese Fine Elaborazione</strong>
                        </div>

                        <div class="col-xs-3 date">
                            <strong>Ufficio</strong>
                        </div>
                        <div class="col-xs-3">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-3 date">
                            <div class="input-group input-append date">
                                @Html.DropDownList("cbMesiAnniElaboratiDa", ViewData["listMesiAnniElaboratiDa"] as IEnumerable<SelectListItem>, new { @id = "idMesiAnniElaboratiDa", @class = "form-control select2 select2-select js-data-example-ajax" })
                            </div>
                        </div>

                        <div class="col-xs-3 date">
                            <div class="input-group input-append date">
                                @Html.DropDownList("cbMesiAnniElaboratiA", ViewData["listMesiAnniElaboratiA"] as IEnumerable<SelectListItem>, new { @id = "idMesiAnniElaboratiA", @class = "form-control select2 select2-select js-data-example-ajax" })
                            </div>
                        </div>
                        <div class="col-xs-3 date">
                            <div class="input-group input-append date">
                                @Html.DropDownList("idUfficio", ViewBag.ElencoUffici as IEnumerable<SelectListItem>, new { @id = "idUfficio", @class = "form-control select2 select2-select" })
                            </div>
                            <div id="divUfficio" hidden>
                                <i class="fa fa-asterisk text-danger"></i>
                                <span id="errUfficio" class="text-danger">Campo obbligatorio</span>
                            </div>
                        </div>

                        <div class="col-xs-3">
                            <center>
                                <button class="btn btn-small btn-success" id="btStampa">
                                    <i aria-hidden="true" class="fa fa-2x fa-print"></i>
                                    Stampa
                                </button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#cbMesiAnniElaboratiDa").select2({
        placeholder: "Seleziona il mese-anno",
        allowClear: false,
        language: "it",
        width: '150',
        ajax: {
            delay: 250,
            url: "/Statistiche/CostiUfficio/PrelevaMesiAnniElab",
            data: function (dati) {
                //debugger;
                var query = {
                    search: dati.term,
                    type: 'public'
                }

                // Query parameters will be ?search=[term]&type=public
                return query;
            },
            dataType: 'json',
            type: "post",
            processResults: function (data) {
                //debugger;
                return {
                    results: data.results
                }
            }
        }
    });

    $("#cbMesiAnniElaboratiDa").change(function () {
        //debugger;

        if (this.value != "") {
            var valore = this.value;

        }

    });

    $("#cbMesiAnniElaboratiA").select2({
        placeholder: "Seleziona il mese-anno",
        allowClear: false,
        language: "it",
        width: '150',
        ajax: {
            delay: 250,
            url: "/Statistiche/CostiUfficio/PrelevaMesiAnniElab",
            data: function (dati) {
                //debugger;
                var query = {
                    search: dati.term,
                    type: 'public'
                }

                // Query parameters will be ?search=[term]&type=public
                return query;
            },
            dataType: 'json',
            type: "post",
            processResults: function (data) {
                //debugger;
                return {
                    results: data.results
                }
            }
        }
    });

    $("#cbMesiAnniElaboratiA").change(function () {
        //debugger;

        if (this.value != "") {
            var valore = this.value;

        }

    });

    $("#idMesiAnniElaboratiDa").select2({
        placeholder: "Seleziona mese anno Dal",
        allowClear: true,
        language: "it",
        width: '170',
        allowClear: false

    });


    $("#idMesiAnniElaboratiA").select2({
        placeholder: "Seleziona mese anno Al",
        allowClear: true,
        language: "it",
        width: '170',
        allowClear: false

    });


    //$(".form-control:input").datepicker();

    var windowWidth = $(window).width();
    var windowHeight = $(window).height();

    $("#divReport").dialog({
        autoOpen: false,
        show: {
            //effect: "blind",
            //duration: 1000
        },
        hide: {
            //effect: "explode",
            //duration: 1000
        },
        close: function (event, ui) {
            $('.container').removeClass("NoOverflow");
        },
        height: windowHeight, width: windowWidth


    });

    $("#btStampa").on("click", function () {

        //debugger;
        if (ValidazioneCostiUfficio()) {
            if (ValidazioneDateCostiUfficio()) {


                var rotta = "/Statistiche/CostiUfficio/RptCostiUfficio";

                var meseAnnoDa = $("#idMesiAnniElaboratiDa").val();
                var meseAnnoA = $("#idMesiAnniElaboratiA").val();
                var idUfficio = $("#idUfficio").val()

                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: {
                        meseAnnoDa: meseAnnoDa,
                        meseAnnoA: meseAnnoA,
                        idUfficio: idUfficio
                    },
                    dataType: 'html',
                    beforeSend: function () {
                        //debugger;
                        $("#divReport").empty();

                    },
                    success: function (result) {
                        //debugger;
                        $('.container').addClass("NoOverflow");
                        $("#divReport").dialog("open");
                        $("#divReport").css("background-color", "#ffffff");
                        $("#divReport").html(result);
                    },
                    complete: function () {
                        //$("#divEffettoLoadAutNoDoc").hide("slow");
                        //                $("#Centro").getNiceScroll().resize();
                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //debugger;
                        var msg = errorThrow.err;
                        AlertDialog(msg);
                    }
                });
            } else {
                $("#msgModalStatistiche").html("Mese Inizio Elaborazione non può essere superiore a Mese Fine Elaborazione");
                $('#myModalErrorStatistiche').modal('toggle');
            }
        }
    });

    function ValidazioneCostiUfficio() {
        //debugger;

        var ret = false;
        var idUfficio = $("#idUfficio").val()

        if (idUfficio != "" && idUfficio != undefined) {
            $("#divUfficio").hide()
            ret = true;
        }
        else {
            $("#divUfficio").show();
            ret = false;
        }
        return ret;
    }

    function ValidazioneDateCostiUfficio() {
        //debugger;
        var meseAnnoDa = $("#idMesiAnniElaboratiDa").val();
        var meseAnnoA = $("#idMesiAnniElaboratiA").val();
        if (parseInt(meseAnnoA) < parseInt(meseAnnoDa)) {
            return false;
        } else {
            return true;
        }
    }

    $("#idUfficio").select2({
        placeholder: "Seleziona Ufficio",
        allowClear: true,
        language: "it"
    });

</script>

