@using NewISE.Models.Enumeratori

@{
    decimal idTitoliViaggio = Convert.ToDecimal(ViewData["idTitoliViaggio"]);
}


<div class="row">
    <div class="col-xs-12">
        <div id="divTitoliViaggio_var" style="padding-top: 5px;padding-bottom:10px;border-bottom:solid;border-width:1px;border-color:limegreen">
            @Html.Action("ElencoTV_Completati", "VariazioneTitoliViaggio", new { idTitoliViaggio = idTitoliViaggio })
        </div>
    </div>
</div>


