@*@using NewISE.Models.DBModel*@
@model NewISE.Models.DBModel.RinunciaMABModel

@{
    decimal idRinunciaMAB = Convert.ToDecimal(Model.idRinunciaMAB);
    bool soloLettura = Convert.ToBoolean(ViewData["soloLettura"]);
    bool rinunciaMAB = Convert.ToBoolean(Model.rinuncia);
}

<div>
    <div class="row fa-border" style="background-color:white; margin-left:5px;  border:solid;border-width:thin;margin-bottom:15px;border-radius:15px;box-shadow:3px 3px 5px 2px #333333">
        <div class="col-xs-10 text-right" style="margin-top:3px;font-weight:bold;color:green">
            Rinuncia Magg. Abitazione
        </div>
        <div class="col-xs-1">
            @if (soloLettura)
            {
                if (rinunciaMAB)
                {
                    <input type="checkbox" disabled checked="checked">
                }
                else
                {
                    <input type="checkbox" disabled>
                }
            }
            else
            {
                if (rinunciaMAB)
                {
                    <input type="checkbox" checked="checked" onclick="AggiornaRinunciaMABPartenza(@idRinunciaMAB )">
                }
                else
                {
                    <input type="checkbox" onclick="AggiornaRinunciaMABPartenza(@idRinunciaMAB)">
                }
            }
        </div>
    </div>
</div>
