<body>
    @{
        decimal idTrasferimento = Convert.ToDecimal(ViewData["idTrasferimento"]);
    }

    <h4><strong>MAGGIORAZIONE FAMILIARE</strong></h4>
    <div class="row">
        <div class="col-xs-12" style="padding-left: 10px; padding-right:25px; border:0">
            <hr />
            <div class="nav nav-justified nav-tabs">
                <ul class="nav nav-tabs tabs-destro" id="tabsAttivitaMAB">
                    <li id="mnAttivitaMAB">
                        <a data-toggle="tab" href="#tabAttivitaMAB" id="lkAttivitaMAB" onclick="AttivitaMAB(@idTrasferimento);">M.AB.</a>
                    </li>
                    <li id="mnFormulariMAB">
                        <a data-toggle="tab" href="#tabFormulariMAB" id="lkFormulariMAB" onclick="FormulariMAB(@idTrasferimento);">Formulario</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="tabContenutiMAB" style="border:1px;border-color:red">
                <div class="active tab-pane" id="tabAttivitaMAB"></div>
                <div class="tab-pane" id="tabFormulariMAB"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <hr />
        <div class="col-xs-4">
            <div id="divRinunciaMABPartenza">
            </div>
        </div>
        <div class="col-xs-8">
            <div id="divAttivazioneMAB">
            </div>
        </div>
    </div>
</body>    


<script type="text/javascript">
    //debugger;
    AttivitaMAB(@idTrasferimento);

    GestioneRinunciaMABPartenza(@idTrasferimento);

    GestionePulsantiNotificaAttivaAnnullaMABPartenza(@idTrasferimento);

</script>


