<script src="~/Scripts/autoNumeric/autoNumeric-min.js"></script>

<script src="~/Scripts/ViewScripts/MaggiorazioneAbitazione.js"></script>
@{
    decimal idTrasferimento = Convert.ToDecimal(ViewData["idTrasferimento"]);
}

<div class="row">
    <div class="col-xs-12">
        <div id="divAttivitaMAB">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="divFormulariMAB">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="divAttivazioneMAB">
        </div>
    </div>
</div>




<script type="text/javascript">
    //debugger;
    AttivitaMAB();
</script>


