

<head>
    <script src="~/Scripts/autoNumeric/autoNumeric.min.js"></script>
    <script src="~/Scripts/ViewScripts/MaggiorazioneAbitazione.js"></script>
</head>

<body>
    @{
        decimal idTrasferimento = Convert.ToDecimal(ViewData["idTrasferimento"]);
    }

    @Html.Hidden("hiIdTipoDocumento", 0)
    <div id="divMaggiorazioneAbitazione">
    </div>
    <div class="modal fade" id="ModalDownloadFormularioMAB" tabindex="-1" role="dialog" aria-labelledby="ModalDownloadFormularioMABLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title alert alert-info text-info" id="DownloadFormularioMABLabel">Formulari Maggiorazione Abitazione</h3>
                </div>
                <div class="modal-body text-info" style="font-size: 1em;">
                    <div id="divFormularioMAB" class="modal-body alert alert-info text-info">
                        @Html.Action("ElencoDocumentiFormularioMAB", "MaggiorazioneAbitazione")
                    </div>
                </div>
                <div class="modal-footer text-info">
                    <div class="alert alert-info text-info">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="inviaDocMABModal" tabindex="-1" role="dialog" aria-labelledby="inviaDocModalMABLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title alert alert-info text-info" id="notificaModelMABLabel">Documentazione Maggiorazione Abitazione</h3>
                </div>
                <div class="modal-body text-info" style="font-size: 1em;">
                    <div id="divFormularioMAB" class="modal-body alert alert-info text-info">
                        <p id="viewDocumentoMAB">
                            <img src="~/Immagini/Loading/ajax-loader (1).gif" />
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btUploadDocMAB" type="button" class="btn btn-info" onclick="SalvaDocMAB(@idTrasferimento);">Salva</button>
                    <button id="btAnnullaDocMAB" type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalNotificaRichiestaMAB" tabindex="-1" role="dialog" aria-labelledby="ModalNotificaRichiestaMABLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title alert alert-info text-info" id="notificaModelLabel">Attenzione!!!</h3>
                </div>
                <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                    <p id="viewNotificaRichiestaMAB">
                        <label>Procedere con la notifica della richiesta?</label>
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="btConfermaNotificaRichiestaMAB" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaNotificaRichiestaMAB();">Procedi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalAttivaRichiestaMAB" tabindex="-1" role="dialog" aria-labelledby="ModalAttivaRichiestaMABLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title alert alert-info text-info" id="AttivaModelLabel">Attenzione!!!</h3>
                </div>
                <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                    <p id="viewAttivaRichiestaMAB">
                        <label>Procedere con l'attivazione della richiesta?</label>
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="btConfermaAttivazioneRichiestaMAB" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAttivaRichiestaMAB();">Procedi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalAnnullaRichiestaMAB" tabindex="-1" role="dialog" aria-labelledby="ModalAnnullaRichiestaMABLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document" style="width:auto">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title alert alert-info text-info" id="annullaModelLabel">Info!!!</h3>
                </div>
                <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                    <p id="viewAnnullaRichiestaMAB">
                        @*<label>Procedere con l'annullamento della richiesta?</label>*@
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="btConfermaAnnullaRichiestaMAB" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAnnullaRichiestaMAB();">Procedi</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>

</body>


<script type="text/javascript">
    //debugger;
    GestioneMAB(@idTrasferimento);

    function SalvaDocMAB(idTrasferimento) {
        //debugger;
        var idTipoDocumento = parseInt($("#hiIdTipoDocumento").val());
        SalvaDocumentoMAB(idTrasferimento, idTipoDocumento);
    }

</script>


