<div class="table" style="background-color:transparent;margin:0;padding:0;padding-top:20px">
    <div class="row">
        <div class="col-xs-1 text-nowrap" style="text-align:right">
            <label>Modulo 1</label>
        </div>
        <div class="col-xs-10">
            <label>Modulo 1 - Richiesta prima rata maggiorazione abitazione. Art. 8 - spese per abitazione (Disciplina del trattamento del personale di ruolo in servizio all'estero dell'ICE-Agenzia) </label>
        </div>
        <div class="col-xs-1">
            <a href="~/FormulariMaster/FormularioMA/modulo 1.pdf" target="_blank">
                <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30" />
            </a>
        </div>
    </div>
    <div class="row" style="padding-top:10px">
        <div class="col-xs-1 text-nowrap" style="text-align:right">
            <label>Modulo 2</label>
        </div>
        <div class="col-xs-10">
            <label>Dichiarazione resa ai sensi del D.P.R. 445/2000 (costo di locazione)</label>
        </div>
        <div class="col-xs-1">
            <a href="~/FormulariMaster/FormularioMA/modulo 2.pdf" target="_blank">
                <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30" />
            </a>
        </div>
    </div>
    <div class="row" style="padding-top:10px">
        <div class="col-xs-1 text-nowrap" style="text-align:right">
            <label>Modulo 3</label>
        </div>
        <div class="col-xs-10">
            <label>Attestazione spese di abitazione - Collaboratore</label>
        </div>

        <div class="col-xs-1">
            <a href="~/FormulariMaster/FormularioMA/modulo 3.pdf" target="_blank">
                <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30" />
            </a>
        </div>
    </div>
    <div class="row" style="padding-top:10px">
        <div class="col-xs-1 text-nowrap" style="text-align:right">
            <label>Modulo 4</label>
        </div>
        <div class="col-xs-10">
            <label>Dichiarazione resa ai sensi del D.P.R 445/2000 (costo di locazione)</label>
        </div>
        <div class="col-xs-1">
            <a href="~/FormulariMaster/FormularioMA/modulo 4.pdf" target="_blank">
                <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30" />
            </a>
        </div>
    </div>
    <div class="row" style="padding-top:10px">
        <div class="col-xs-1 text-nowrap" style="text-align:right">
            <label>Modulo 5</label>
        </div>
        <div class="col-xs-10">
            <label>Dichiarazione resa ai sensi del D.P.R. 445/2000 s.m.i. (clausole contratto di alloggio)</label>
        </div>
        <div class="col-xs-1">
            <a href="~/FormulariMaster/FormularioMA/modulo 5.pdf" target="_blank">
                <img src="~/Immagini/IconeDocumenti/PDF-icon.png" width="30" />
            </a>
        </div>
    </div>
</div>

