@{
    decimal idTrasferimento = Convert.ToDecimal(ViewBag.idTrasferimento);
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Attività
            </th>
            <th>
                Richiesta
            </th>
            <th>
                Stato Richiesta
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>
                @Ajax.ActionLink("Richiesta Maggiorazioni Familiari", "MaggiorazioniFamiliari", "MaggiorazioniFamiliari", new { idTrasferimento = idTrasferimento }, new AjaxOptions { UpdateTargetId = "divOperazioniAttivitaTrasf", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnFailure = "ErroreElaborazioneAjax(this);" })

            </th>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkMagFamiliariR" name="chkMagFamiliariR" type="checkbox" />
                    <label for="chkMagFamiliariR" class="label-success"></label>
                </div>
            </td>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkMagFamiliariSR" name="chkMagFamiliariSR" type="checkbox" />
                    <label for="chkMagFamiliariSR" class="label-success"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>
                Pratiche Passaporto
            </th>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkPratichePassaportoR" name="chkPratichePassaportoR" type="checkbox" />
                    <label for="chkPratichePassaportoR" class="label-success"></label>
                </div>
            </td>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkPratichePassaportoSR" name="chkPratichePassaportoSR" type="checkbox" />
                    <label for="chkPratichePassaportoSR" class="label-success"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>
                Richiesta Titoli di Viaggio
            </th>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkTitoliViaggioR" name="chkTitoliViaggioR" type="checkbox" />
                    <label for="chkTitoliViaggioR" class="label-success"></label>
                </div>
            </td>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkTitoliViaggioSR" name="chkTitoliViaggioSR" type="checkbox" />
                    <label for="chkTitoliViaggioSR" class="label-success"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>
                Richiesta Anticipi
            </th>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkAnticipiR" name="chkAnticipiR" type="checkbox" />
                    <label for="chkAnticipiR" class="label-success"></label>
                </div>
            </td>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkAnticipiSR" name="chkAnticipiSR" type="checkbox" />
                    <label for="chkAnticipiSR" class="label-success"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>
                Richiesta Traspoerto Effetti
            </th>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkTrasportoEffettiR" name="chkTrasportoEffettiR" type="checkbox" />
                    <label for="chkTrasportoEffettiR" class="label-success"></label>
                </div>
            </td>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkTrasportoEffettiSR" name="chkTrasportoEffettiSR" type="checkbox" />
                    <label for="chkTrasportoEffettiSR" class="label-success"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th>
                Richiesta Maggiorazione Abitazione
            </th>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkMABR" name="chkMABR" type="checkbox" />
                    <label for="chkMABR" class="label-success"></label>
                </div>
            </td>
            <td>
                <div class="material-switch pull-right">
                    <input id="chkMABSR" name="chkMABSR" type="checkbox" />
                    <label for="chkMABSR" class="label-success"></label>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div class="text-center" style="padding-bottom: 5px;">
    <button class="btn btn-default btn-sm disabled" disabled id="btNotifica">
        <i class="fa fa-2x fa-envelope" aria-hidden="true"></i>
        Attiva Trasferimento
    </button>

    <button class="btn btn-default btn-sm disabled" disabled id="btNotifica">
        <i class="fa fa-2x fa-envelope" aria-hidden="true"></i>
        Annulla Trasferimento
    </button>
</div>

