<div class="form-horizontal">
    <div class="form-group">
        @Html.Label("lblListaTrasferimento", "Trasferimento", new { @class = "control-label col-xs-3" })
        <div id="divCombo2" class="col-xs-9">
            <div class="select2-container select2-container--classic">
                @Html.DropDownList("listaTrasferimento", ViewBag.ListaTrasferimento as IEnumerable<SelectListItem>, new { @id = "ElencolistaTrasferimento", @class = "form-control select2 select2-select" })
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#ElencolistaTrasferimento").select2({
        placeholder: "Seleziona il trasferimento",
        allowClear: true,
        language: "it",
        width: '335',
        allowClear: false
    });

    $("#ElencolistaTrasferimento").change(function () {

        $("#hidTrasferimento").val($('#ElencolistaTrasferimento').val());
        $("#hMenuInLavorazione").val("mnNuovoTrasferimento");
        NuovoTrasferimento();
        //debugger;
        InfoTrasferimento();
        //debugger;
        GestioneMenu();
        MenuDaVisualizzare();



    });

    var idTrasf = $('#ElencolistaTrasferimento').val();
    $("#hidTrasferimento").val(idTrasf);

    InfoTrasferimento();
    //debugger;
    GestioneMenu();

    MenuDaVisualizzare();

</script>
