<link href="~/Content/css/CssCheckBox.css" rel="stylesheet" />
<link href="~/Content/css/GestioneTrasferimento.css" rel="stylesheet" />

@{
    decimal idTrasferimento = Convert.ToDecimal(ViewBag.idTrasferimento);
}


<div class="row">
    <div class="col-xs-4" style="padding-top:5px; padding-bottom:5px; ">
        <div id="divAttivitaTrasferimento">
            @Html.Action("AttivitaTrasferimento", new { idTrasferimento = idTrasferimento })
        </div>
    </div>
    <div class="col-xs-8">
        <div id="divOperazioniAttivitaTrasf">

        </div>
    </div>
</div>

<div class="modal fade" id="ModalNotificaAnnullaTrasf" tabindex="-1" role="dialog" aria-labelledby="ModalNotificaAnnullaTrasfLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="notificaModelLabel">Messaggio di annullamento del trasferimento.</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewNotificaAnnullaTrasf">
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaNotificaAnnullaTrasf" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaNotificaAnnullaTrasf();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalNotificaAttivaTrasf" tabindex="-1" role="dialog" aria-labelledby="ModalNotificaAttivaTrasfLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="notificaModelLabel">Attenzione!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewNotificaAttivaTrasf">
                    <label>Procedere con l'attivazione del trasferimento?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaNotificaAttivaTrasf" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaNotificaAttivaTrasf();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
      function ConfermaNotificaAnnullaTrasf() {
        debugger;
        var rotta = "/Trasferimento/ConfermaAnnullaTrasf";
        var idTrasferimento = parseInt('@idTrasferimento');
        var testoAnnullaTrasf = $('#FullDescription').val();          

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento, msg: testoAnnullaTrasf },            
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    $("#divOperazioniAttivitaTrasf").empty();
                    //InfoElaborazioneAjax(result.msg);
                    GestioneAttivitaTrasferimento();
                    //GestioneAbilitazioneMenu(idTrasferimento);
                    GestioneMenu();
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function ConfermaNotificaAttivaTrasf() {
        //debugger;
        var rotta = "/Trasferimento/ConfermaAttivaTrasf";
        var idTrasferimento = parseInt('@idTrasferimento');
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasferimento: idTrasferimento },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    $("#divOperazioniAttivitaTrasf").empty();
                    //InfoElaborazioneAjax(result.msg);
                    GestioneAttivitaTrasferimento();
                    ElencoTrasferimento();
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }



</script>