@model NewISE.Interfacce.ModelloMsgMail

<link href="~/Scripts/cleditor/jquery.cleditor.css" rel="stylesheet" />
<script src="~/Scripts/cleditor/jquery.cleditor.min.js"></script>
@{ 
    string msgAnnulla = Convert.ToString(Model.corpoMsg);
    decimal idTrasferimento = ViewBag.idTrasferimento;
}

@Html.Hidden("idTrasferimento",idTrasferimento)
<div class="form-group">
    <div ass="col-md-10">
        @Html.TextAreaFor(model=>model.corpoMsg, new { @id = "FullDescription"})
    </div>
</div>

<script type="text/javascript">
    $("#FullDescription").cleditor();

    $('#FullDescription').each(function () {
        this.contentEditable = true;
    });
</script>
