@using ReportViewerForMvc;
@using Microsoft.Reporting.WebForms;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Riepilogo delle Operazioni effettuate - Maggiorazione Abitazione</title>
</head>
<body>
    @{
        ViewBag.Title = "Riepilogo delle Operazioni effettuate - Maggiorazione Abitazione";
    }

    <div class="text-center">
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
    </div>

</body>
</html>
