@{
    decimal idTrasferimento = Convert.ToDecimal(ViewData["idTrasferimento"]);
}

<div class="row">
    <div class="col-xs-12" style="padding-right: 20px; margin-left: 0px">
        <div id="divPassaporto_var" style="margin-right:10px; margin-left:10px; padding-top: 5px;padding-bottom:10px;border-bottom:solid;border-width:1px;border-color:limegreen">
            @Html.Action("ElencoFamiliariPassaporti_Invio", "VariazionePassaporto", new { idTrasferimento = idTrasferimento })
        </div>
    </div>
</div>

<div id="divPusantiNotificaAndConcludiPassaporto_var">
    @Html.Action("GestPulsantiNotificaAndPraticaConclusa_Invio", "VariazionePassaporto", new { idTrasferimento = idTrasferimento })
</div>

