@using NewISE.Models.DBModel

@{
    decimal idTrasferimento = Convert.ToDecimal(ViewData["idTrasferimento"]);
    decimal idTERientro = Convert.ToDecimal(ViewData["idTERientro"]);
}

<link href="~/Content/css/CssCheckBox.css" rel="stylesheet" />

<div class="row">
    <div class="col-xs-12" style="text-align:center">
        <h4><strong>SALDO TRASPORTO EFFETTI RIENTRO</strong></h4>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div id="divVariazioneTER">
            @Html.Action("VariazioneTER", "VariazioneTrasportoEffetti", new { idTERientro = idTERientro})
        </div>
    </div>

    <div class="col-xs-12">
        <div class="row" style="margin-right:15px;margin-left:15px">
            <hr />
        </div>
        <div class="row">
            <div class="pull-right" style="margin-bottom: 10px;margin-right:30px">
                <button class="btn btn-default btn-sm hidden disabled" hidden disabled id="btNotificaRichiestaVariazioneTER" onclick="ModalNotificaRichiestaVariazioneTER();">
                    <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                    Notifica richiesta
                </button>
                <button class="btn btn-default btn-sm hidden disabled " hidden disabled id="btAttivaRichiestaVariazioneTER" onclick="ModalAttivaRichiestaVariazioneTER();">
                    <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                    Attiva richiesta
                </button>
                <button class="btn btn-default btn-sm hidden disabled" hidden disabled id="btAnnullaRichiestaVariazioneTER" onclick="ModalAnnullaRichiestaVariazioneTER();">
                    <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                    Annulla richiesta
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalNotificaRichiestaVariazioneTER" tabindex="-1" role="dialog" aria-labelledby="ModalNotificaRichiestaVariazioneTERLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="notificaModelLabel">Attenzione!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewNotificaRichiestaVariazioneTER">
                    <label>Procedere con la notifica della richiesta?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaNotificaRichiestaVariazioneTER" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaNotificaRichiestaVariazioneTER();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAttivaRichiestaVariazioneTER" tabindex="-1" role="dialog" aria-labelledby="ModalAttivaRichiestaVariazioneTERLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="AttivaModelLabel">Attenzione!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewAttivaRichiestaVariazioneTER">
                    <label>Procedere con l'attivazione della richiesta?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaAttivazioneRichiestaVariazioneTER" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAttivaRichiestaVariazioneTER();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAnnullaRichiestaVariazioneTER" tabindex="-1" role="dialog" aria-labelledby="ModalAnnullaRichiestaVariazioneTERLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="annullaModelLabel">Info!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewAnnullaRichiestaVariazioneTER">
                    <label>Procedere con l'annullamento della richiesta?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaAnnullaRichiestaVariazioneTER" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAnnullaRichiestaVariazioneTER();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    GestionePulsantiNotificaAttivaAnnullaVariazioneTER();

    function GestionePulsantiNotificaAttivaAnnullaVariazioneTER() {
        //debugger;
        var rotta = "/VariazioneTrasportoEffetti/GestionePulsantiNotificaAttivaAnnullaVariazioneTER";
        var idTERientro = parseInt('@idTERientro');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTERientro: idTERientro },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    var admin = result.admin;
                    var richiestaTER = result.richiestaTER;
                    var attivazioneTER = result.attivazioneTER;
                    var DocAttestazione = result.DocAttestazione;
                    var trasfAnnullato = result.trasfAnnullato;
                    var siAnticipo =result.siAnticipo;
                    var anticipoPercepito = result.anticipoPercepito;
                    var rinunciaTER=result.rinunciaTER;

                    $("#btNotificaRichiestaVariazioneTER").attr("disabled", "disabled");
                    $("#btNotificaRichiestaVariazioneTER").addClass("disabled");

                    $("#btNotificaRichiestaVariazioneTER").removeAttr("hidden");
                    $("#btNotificaRichiestaVariazioneTER").removeClass("hidden");


                    //se amministratore vedo i pulsanti altrimenti solo notifica
                    if (admin) {
                        $("#btAttivaRichiestaVariazioneTER").removeAttr("hidden");
                        $("#btAttivaRichiestaVariazioneTER").removeClass("hidden");

                        $("#btAnnullaRichiestaVariazioneTER").removeAttr("hidden");
                        $("#btAnnullaRichiestaVariazioneTER").removeClass("hidden");

                        $("#btAttivaRichiestaVariazioneTER").attr("disabled", "disabled");
                        $("#btAttivaRichiestaVariazioneTER").addClass("disabled");

                        $("#btAnnullaRichiestaVariazioneTER").attr("disabled", "disabled");
                        $("#btAnnullaRichiestaVariazioneTER").addClass("disabled");
                    }

                    //Se risulta in lavorazione con almeno un documento abilito il pulsante notifica
                    if (
                            (
                                richiestaTER==false &&
                                attivazioneTER==false &&
                                DocAttestazione &&
                                trasfAnnullato==false &&
                                siAnticipo
                            )
                        )

                    {
                        $("#btNotificaRichiestaVariazioneTER").removeAttr("disabled");
                        $("#btNotificaRichiestaVariazioneTER").removeClass("disabled");
                    } else {
                        if (admin) {
                            if (richiestaTER &&
                                attivazioneTER==false &&
                                trasfAnnullato==false &&
                                siAnticipo
                                ) {
                                $("#btAttivaRichiestaVariazioneTER").removeAttr("disabled");
                                $("#btAttivaRichiestaVariazioneTER").removeClass("disabled");
                                $("#btAnnullaRichiestaVariazioneTER").removeAttr("disabled");
                                $("#btAnnullaRichiestaVariazioneTER").removeClass("disabled");
                            }
                        }
                    }
                    //GestioneAttivitaTrasferimento();
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function ModalNotificaRichiestaVariazioneTER() {
        //debugger;
        $('#ModalNotificaRichiestaVariazioneTER').modal().show();
    }

    function ModalAnnullaRichiestaVariazioneTER() {
        //debugger;
        MessaggioAnnullaRichiestaVariazioneTER();
        $('#ModalAnnullaRichiestaVariazioneTER').modal().show();
    }

    function ModalAttivaRichiestaVariazioneTER() {
        //debugger;
        $('#ModalAttivaRichiestaVariazioneTER').modal().show();
    }


    function ConfermaNotificaRichiestaVariazioneTER() {
        //debugger;
        var rotta = "/VariazioneTrasportoEffetti/ConfermaNotificaRichiestaVariazioneTER";
        var idTERientro = parseInt('@idTERientro');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTERientro: idTERientro },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    VariazioneTER();
                    //GestioneRinunciaTEPartenza();
                    GestionePulsantiNotificaAttivaAnnullaVariazioneTER();
                    //InfoElaborazioneAjax(result.msg);
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });
    }

    function ConfermaAnnullaRichiestaVariazioneTER() {
        //debugger;
        var rotta = "/VariazioneTrasportoEffetti/ConfermaAnnullaRichiestaVariazioneTER";
        var idTERientro = parseInt('@idTERientro');
        var testoAnnullaTER= $('#FullDescriptionVariazioneTER').val();

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTERientro: idTERientro, msg:testoAnnullaTER },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    VariazioneTER();
                    //GestioneRinunciaTEPartenza();
                    GestionePulsantiNotificaAttivaAnnullaVariazioneTER();
                    //InfoElaborazioneAjax(result.msg);
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function ConfermaAttivaRichiestaVariazioneTER() {
        //debugger;
        var rotta = "/VariazioneTrasportoEffetti/ConfermaAttivaRichiestaVariazioneTER";
        var idTERientro = parseInt('@idTERientro');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTERientro: idTERientro },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    VariazioneTER();
                    //GestioneRinunciaTEPartenza();
                    GestionePulsantiNotificaAttivaAnnullaVariazioneTER();
                    //InfoElaborazioneAjax(result.msg);
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }


    //aggiungere funzione che esegue TrasportoEffettiPartenza
    function VariazioneTER() {
        //debugger;
        var rotta = "/VariazioneTrasportoEffetti/VariazioneTER";
        var idTERientro = @idTERientro;

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idTERientro: idTERientro},
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                Blocca();
            },
            success: function (result) {
                //debugger;
                $("#divVariazioneTER").empty();
                $("#divVariazioneTER").html(result);
            },
            error: function (error) {
                //debugger;
                Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function MessaggioAnnullaRichiestaVariazioneTER() {
        //debugger;
        var rotta = "/VariazioneTrasportoEffetti/MessaggioAnnullaVariazioneTER";
        var idTERientro = parseInt('@idTERientro');
        $.ajax({
            type: "POST",
            url: rotta,
            data:{idTERientro:idTERientro},
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                $("#viewAnnullaRichiestaVariazioneTER").empty();
                $("#viewAnnullaRichiestaVariazioneTER").html(result);
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function ConfermaEliminaDocumentoVariazioneTER(idTipoDocumento) {
        //debugger;
        var rotta = "/VariazioneTrasportoEffetti/EliminaDocumentoVariazioneTER";
        var idDocumento = parseInt($("#hIdDocumentoTER").val());


        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idDocumento: idDocumento }, //I dati, forniti sotto forma di oggetto FormData
            dataType: 'json',
            cache: false,
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                Blocca();
            },
            success: function (result) {
                //debugger;
                if (result.err != "" && result.err != undefined) {
                    ErroreElaborazioneAjax(result.err);
                }
                else {
                    $("#ModalEliminaDocumentoVariazioneTER").modal("hide");

                    //InfoElaborazioneAjax(result.msg);
                    //GestionePulsantiNotificaAttivaAnnullaVariazioneTEP();
                    //ElencoDocumentiVariazioniTEP(idTipoDocumento);
                }
            },
            complete: function () {
            },
            error: function (error) {
                //debugger;
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });

    }


</script>


