@using ReportViewerForMvc;
@using Microsoft.Reporting.WebForms;



@{
    ViewBag.Title = "RptIndennitaBase1";
}

<h2>RptIndennitaBase1</h2>

@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)