<div id="dialog"></div>


<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="panel panel-default">
                <div class="panel-heading"><h5><b>Elenco delle Sospensioni effettuate nel periodo</b></h5></div>
                <div class="panel-body">
                    <div class="row">
                        <h5>
                        <div class="col-xs-4 date">
                            <div class="input-group input-append date">
                                <input type="text" class="form-control" id="data1" />
                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>

                        <div class="col-xs-4 date">
                            <div class="input-group input-append date">
                                <input type="text" class="form-control" id="data2" />
                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="col-xs-4 date">
                            <button class="btn btn-small btn-success" id="opener">
                                <i aria-hidden="true" class="fa fa-2x fa-print"></i>
                                Stampa
                            </button>
                        </div>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#mesiAnniElaboratiDa").select2({
        placeholder: "Seleziona il mese-anno",
        allowClear: false,
        language: "it",
        width: '150',
        ajax: {
            delay: 250,
            url: "/RiepiloghiSospensioni/PrelevaMesiAnniElab",
            data: function (dati) {
                //debugger;
                var query = {
                    search: dati.term,
                    type: 'public'
                }
                // Query parameters will be ?search=[term]&type=public
                return query;
            },
            dataType: 'json',
            type: "post",
            processResults: function (data) {
                //debugger;
                return {
                    results: data.results
                }
            }
        }
    });

    $("#mesiAnniElaboratiA").select2({
        placeholder: "Seleziona il mese-anno",
        allowClear: false,
        language: "it",
        width: '150',
        ajax: {
            delay: 250,
            url: "/RiepiloghiSospensioni/PrelevaMesiAnniElab",
            data: function (dati) {
                //debugger;
                var query = {
                    search: dati.term,
                    type: 'public'
                }
                // Query parameters will be ?search=[term]&type=public
                return query;
            },
            dataType: 'json',
            type: "post",
            processResults: function (data) {
                //debugger;
                return {
                    results: data.results
                }
            }
        }
    });

    $("#mesiAnniElaboratiDa").change(function () {
        //debugger;
        if (this.value != "") {
            var valore = this.value;
        }
    });
    $("#mesiAnniElaboratiA").change(function () {
        //debugger;
        if (this.value != "") {
            var valore = this.value;
        }
    });

    function ValorizzazioneIniziale() {
        //debugger;
        var valore = $("#mesiAnniElaboratiDa").val();
    }

    $(".form-control:input").datepicker();

    var windowWidth = $(window).width();
    var windowHeight = $(window).height();


    $("#dialog").dialog({
        autoOpen: false,
        show: {
            //effect: "blind",
            //duration: 1000
        },
        hide: {
            //effect: "explode",
            //duration: 1000
        },
        close: function (event, ui) {
            $('.container').removeClass("NoOverflow");

        },
        height: windowHeight, width: windowWidth
    });

    $("#opener").on("click", function () {
        //debugger;

        $('.container').addClass("NoOverflow");

        $("#dialog").dialog("open");
        $("#dialog").css("background-color", "#ffffff");


        var rotta = "/Statistiche/RiepiloghiSospensioni/RptRiepiloghiSospensioni";

        var idIni = $("#data1").datepicker().val()
        var idFin = $("#data2").datepicker().val()

        //var idElabIni = $("#mesiAnniElaboratiDa").val();
        //var idElabFin = $("#mesiAnniElaboratiA").val();

        $.ajax({
            type: "POST",
            url: rotta,
            data: {
                idIni: idIni,
                idFin: idFin
            },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                $("#dialog").empty();

            },
            success: function (result) {
                //debugger;
                $("#dialog").html(result);
            },
            complete: function () {
                //$("#divEffettoLoadAutNoDoc").hide("slow");
                //                $("#Centro").getNiceScroll().resize();
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                AlertDialog(msg);
            }
        });
    });


    $("#mesiAnniElaboratiDa").select2({
        placeholder: "Seleziona la Data Dal",
        allowClear: true,
        language: "it",
        width: '170',
        allowClear: false
    });


    $("#mesiAnniElaboratiA").select2({
        placeholder: "Seleziona la Data Al",
        allowClear: true,
        language: "it",
        width: '170',
        allowClear: false
    });


</script>



