<link href="~/Areas/Statistiche/Content/Statistiche.css" rel="stylesheet" />

@{
    ViewBag.Title = "Statistiche";
    Layout = "~/Areas/Statistiche/Views/Shared/_Layout.cshtml";
}

<div style="margin: 15px"></div>
<div class="form-horizontal" id="divRiga1">
    <hr />
    <div class="form-group">
        @Html.Label("lblStampa", "Seleziona la Stampa per effettuare la Ricerca", new { @class = "control-label col-xs-2" })
        <div id="divCombo" class="col-xs-3 ">
            <div class="select2-container select2-container--classic" id="test">
                @Html.DropDownList("idOperazione", ViewBag.OperazioniEffettuate as IEnumerable<SelectListItem>, new { @class = "form-control select2 select2-select", @onchange = "prelevaPartiaViewStatistiche();", @onclick = "prelevaPartiaViewStatistiche();" })
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(function () {
            $("#idOperazione").select2({
                placeholder: "Seleziona la Tabella per effettuare la Ricerca",
                allowClear: true,
                language: "it",
                width: '400'
            });

        });

        // Calendario con possibilità di cambiare mese e anno
        $(document).ready(function () {
            $(".datepicker").datepicker({

                changeMonth: true,
                changeYear: true,
                //yearRange: '2001:2010',
                //dateFormat: 'dd-mm-yy',
                //defaultDate: '01-01-2001'
                //yearRange: "-15:+0",
                //defaultDate: '01/01/01'
            });
        });

        // Calendario con possibilità di cambiare mese e anno
        $(document).ready(function () {
            $(".datepicker1").datepicker({

                changeMonth: true,
                changeYear: true,
                //yearRange: '1920:2010',
                //dateFormat: 'dd-mm-yy',
                //defaultDate: '01-01-2001'
                //yearRange: "-15:+0",
                //defaultDate: '01/01/01'
            });
        });


        function prelevaPartiaViewStatistiche() {
            //debugger;
            var rotta = "";

            var tabParam = parseInt($("#idOperazione").select2('val'));

            //rotta = "/Statistiche/ArchivioVecchioISE/PresenzeLivelli";

            //var codicequalifica = $("#COD_QUALIFICA").select2('val');
            var data = $("#datepicker").val();
            var data1 = $("#datepicker1").val();

            var chk = true;


            switch (tabParam) {
                case 0:// Operazioni Effettuate - Indennità di Sede Estera
                    rotta = "/Statistiche/ArchivioVecchioISE/OpIndennitaEstera";
                    break;
                case 1:// Operazioni Effettuate - Contributo Abitazione
                    rotta = "/Statistiche/ArchivioVecchioISE/OpContributoAbitazione";
                    break;
                case 2:// Operazioni Effettuate - Uso Abitazione
                    rotta = "/Statistiche/ArchivioVecchioISE/OpUsoAbitazione";
                    break;
                case 3:// Operazioni Effettuate - Canone Anticipato
                    rotta = "/Statistiche/ArchivioVecchioISE/OpCanoneAnticipato";
                    break;
                case 4:// Operazioni Effettuate - Spese Diverse
                    rotta = "/Statistiche/ArchivioVecchioISE/OpSpeseDiverse";
                    break;
                case 5:// Operazioni Effettuate - Maggiorazione Abitazione
                    rotta = "/Statistiche/ArchivioVecchioISE/OpMaggiorazioneAbitazione";
                    break;
                default:
            }

            $.ajax({
                type: "POST",
                url: rotta,
                //data: { escludiAnnullati: chk },
                data: {
                    //tabParam: idOperazione,
                    VDATA: data,
                    VDATA1: data1
                },
                dataType: 'html',
                beforeSend: function () {
                    //debugger;
                    //VerificaAutenticazione();
                    //$("#DialogNewDoc").dialog("destroy");
                    //$("#divEffettoLoadAutNoDoc").show("slow");
                },
                success: function (result) {
                    //debugger;
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    $("#divPViewParametri").empty();
                    $("#divPViewParametri").html(result);

                    //RicercaDocumenti();

                },
                complete: function () {
                    //$("#divEffettoLoadAutNoDoc").hide("slow");
                    //                $("#Centro").getNiceScroll().resize();
                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    AlertDialog(msg);
                }

            });

        }

    </script>
}
