@using NewISE.Models.DBModel
@model IEnumerable<NewISE.Models.DBModel.ViaggioCongedoModel>

@{
    // decimal idViaggioCongedo = Convert.ToDecimal(ViewData["idViaggioCongedo"]);
    //decimal idAttivazioneTitoliViaggio = Convert.ToDecimal(ViewData["idAttivazioneTitoliViaggio"]);
    //bool richiestaEseguita = Convert.ToBoolean(ViewData["richiestaEseguita"]);
    //EnumStatoTraferimento statoTrasferimento = (EnumStatoTraferimento)Convert.ToDecimal(ViewData["statoTrasferimento"]);
    decimal idTrasferimento = Convert.ToDecimal(ViewData["idTrasferimento"]);
    bool admin = Convert.ToBoolean(ViewBag.Amministratore);
    decimal id_Viaggio_Congedo= Convert.ToDecimal(ViewData["id_Viaggio_Congedo"]) ;
    decimal id_Attiv_Viaggio_Congedo = Convert.ToDecimal(ViewData["id_Attiv_Viaggio_Congedo"]);
    decimal idFaseInCorso = Convert.ToDecimal(ViewData["idFaseInCorso"]);
}
<div id="divViaggioCongedioMain">
    <div class="row">
        <div class="col-xs-5" style="margin-top:5px;left:10px">
            <table id="tabUploadPreventiviViaggio">
                @Html.Action("ElencoUploadPreventiviViaggiCongedo", "ViaggiCongedo", new { idViaggioCongedo = id_Viaggio_Congedo, idAttivViaggioCongedo= id_Attiv_Viaggio_Congedo, idTrasferimento=idTrasferimento , idFaseInCorso = idFaseInCorso })
            </table>
        </div>
    </div>
    <div class="row">
        <div id="tabListaPreventiviDiViaggi" class="pull-left" style="margin-top:5px;margin-left:40px;width:1110px">
            <table>
                @Html.Action("ListaPreventiviDiViaggio", "ViaggiCongedo", new {  idTrasferimento = idTrasferimento })
            </table>
        </div>
    </div>
    <div class="row">
        <div id="tabFase2PDFPreventiviDiViaggi" style="margin-top:5px;margin-left:300px;width:500px">
            <table id="tabUploadDocumentiViaggiCongedo">
                @Html.Action("ElencoUploadDocumentiViaggiCongedo", "ViaggiCongedo", new { idViaggioCongedo = id_Viaggio_Congedo, idAttivViaggioCongedo = id_Attiv_Viaggio_Congedo, idFaseInCorso= idFaseInCorso, idTrasferimento= idTrasferimento })
            </table>
        </div>
    </div>

</div>

        <div class="row">
            <div id="tabPulsantiPreventiviDiViaggi" style="margin-top:5px;margin-left:40px;width:500px" class="pull-right">
                <table>
                    @Html.Action("PulsantiPreventiviDiViaggio", "ViaggiCongedo", new { idViaggioCongedo = id_Viaggio_Congedo, idAttivViaggioCongedo = id_Attiv_Viaggio_Congedo, idTrasferimento = idTrasferimento })
                </table>
            </div>
    </div>


        <script type="text/javascript">


            function TabElencoPreventivi() {
                //debugger;
                var rotta = "/ViaggiCongedo/ListaPreventiviDiViaggio";
                var idTrasferimento = @idTrasferimento;
                //   var idTipoDocumento = parseInt($("#hiNuovoDocumento").val());

                $.ajax({
                    url: rotta,
                    type: "POST", //Le info testuali saranno passate in POST
                    data: { idTrasferimento: idTrasferimento },
                    dataType: 'html',
                    async: false,
                    beforeSend: function () {
                        //debugger;
                        VerificaAutenticazione();
                        //$('#inviaDocModal').modal('show');
                        //  Blocca();
                    },
                    success: function (result) {
                        //debugger;
                        $("#tabListaPreventiviDiViaggi").empty();
                        $("#tabListaPreventiviDiViaggi").html(result);
                    },
                    error: function (error) {
                        //debugger;
                        //     Sblocca();
                        var msg = error.responseText;
                        ErroreElaborazioneAjax(msg);
                    }
                });
            }

            function ConfermaNotificaPreventiviRichiesta() {
               // debugger;
                var rotta = "/ViaggiCongedo/ConfermaNotificaPreventiviRichiesta";
                //  var valoreSelezionato = $('input:radio[name="attivare"]:checked').val();
                @*//  var idAttivazioneVC = parseInt(@id_Attiv_Viaggio_Congedo);*@
                var idAttivazioneVC = parseInt($('#HIid_Attiv_Viaggio_Congedo').val());

                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: { idAttivazioneVC: idAttivazioneVC },
                    dataType: 'json',
                    beforeSend: function () {
                        //debugger;
                        VerificaAutenticazione();
                        //$("#DialogNewDoc").dialog("destroy");
                        //$("#divEffettoLoadAutNoDoc").show("slow");
                    },
                    success: function (result) {
                      //  debugger;
                        if (result.err == "") {
                            //TrasportoEffettiPartenza();
                            //GestioneRinunciaTEPartenza();
                            //GestionePulsantiNotificaAttivaAnnullaTrasportoEffettiPartenza();
                            //InfoElaborazioneAjax(result.msg);
                            //
                            //$("#tabPulsantiPreventiviDiViaggi").empty();
                            //$("#tabPulsantiPreventiviDiViaggi").html(result);
                            GestionePulsantiPVC();
                            TabElencoPreventivi();
                            GestionePulsantiUploadPreventivi();
                        } else {
                            ErroreElaborazioneAjax(result.err);
                        }
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        debugger;
                        //var msg = errorThrow.err;
                        //ErroreElaborazioneAjax(msg);
                    }
                });
            }

            function GestionePulsantiPVC() {
              //  debugger;
                var rotta = "/ViaggiCongedo/PulsantiPreventiviDiViaggio";
                //  var valoreSelezionato = $('input:radio[name="attivare"]:checked').val();
                var idAttivazioneVC = parseInt($('#HIid_Attiv_Viaggio_Congedo').val());
                var id_Viaggio_Congedo = parseInt('@id_Viaggio_Congedo');
                var idTrasferimento = parseInt('@idTrasferimento');

                $.ajax({
                    type: "POST",
                    url: rotta,
                    // data: { idAttivazioneVC: idAttivazioneVC },
                    data: { idViaggioCongedo :id_Viaggio_Congedo,  idAttivViaggioCongedo:idAttivazioneVC ,  idTrasferimento:idTrasferimento},
                    dataType: 'html',
                    beforeSend: function () {
                        //debugger;
                        VerificaAutenticazione();
                        //$("#DialogNewDoc").dialog("destroy");
                        //$("#divEffettoLoadAutNoDoc").show("slow");
                    },
                    success: function (result) {
                      //  debugger;
                             //TrasportoEffettiPartenza();
                            //GestioneRinunciaTEPartenza();
                            //GestionePulsantiNotificaAttivaAnnullaTrasportoEffettiPartenza();
                            //InfoElaborazioneAjax(result.msg);
                            //
                        $("#PulsantiDiPVC").empty();
                        $("#PulsantiDiPVC").html(result);

                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        debugger;
                        var msg = errorThrow.err;
                        ErroreElaborazioneAjax(msg);
                    }
                });
            }

            function GestionePulsantiUploadPreventivi() {
                //  debugger;
                var rotta = "/ViaggiCongedo/ElencoUploadPreventiviViaggiCongedo";
                //  var valoreSelezionato = $('input:radio[name="attivare"]:checked').val();
                var idAttivazioneVC = parseInt($('#HIid_Attiv_Viaggio_Congedo').val());
                var id_Viaggio_Congedo = parseInt('@id_Viaggio_Congedo');
                var idTrasferimento = parseInt('@idTrasferimento');

                $.ajax({
                    type: "POST",
                    url: rotta,
                    // data: { idAttivazioneVC: idAttivazioneVC },
                    data: { idViaggioCongedo :id_Viaggio_Congedo,  idAttivViaggioCongedo:idAttivazioneVC ,  idTrasferimento:idTrasferimento},
                    dataType: 'html',
                    beforeSend: function () {
                        //debugger;
                        VerificaAutenticazione();
                        //$("#DialogNewDoc").dialog("destroy");
                        //$("#divEffettoLoadAutNoDoc").show("slow");
                    },
                    success: function (result) {
                       // debugger;
                        //TrasportoEffettiPartenza();
                        //GestioneRinunciaTEPartenza();
                        //GestionePulsantiNotificaAttivaAnnullaTrasportoEffettiPartenza();
                        //InfoElaborazioneAjax(result.msg);
                        //
                        $("#PulsantiUploadPreventivi").empty();
                        $("#PulsantiUploadPreventivi").html(result);

                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        debugger;
                        var msg = errorThrow.err;
                        ErroreElaborazioneAjax(msg);
                    }
                });
            }

            function ConfermaAttivaPreventiviRichiesta()
            {
                //debugger;
                var rotta = "/ViaggiCongedo/ConfermaAttivaPreventiviRichiesta";
                var idDocumento = $('input:radio[name="attivare"]:checked').val();
                var idAttivazioneVC = @id_Attiv_Viaggio_Congedo;

                $.ajax({
                    type: "POST",
                    url: rotta,
                    data: { idAttivazioneVC: idAttivazioneVC, idDocumento :idDocumento},
                    dataType: 'json',
                    beforeSend: function () {
                        //debugger;
                        VerificaAutenticazione();
                        //$("#DialogNewDoc").dialog("destroy");
                        //$("#divEffettoLoadAutNoDoc").show("slow");
                    },
                    success: function (result) {
                        //debugger;
                        if (result.err == "") {
                            //TrasportoEffettiPartenza();
                            //GestioneRinunciaTEPartenza();
                            //GestionePulsantiNotificaAttivaAnnullaTrasportoEffettiPartenza();
                            //InfoElaborazioneAjax(result.msg);
                            //
                            GestionePulsantiPVC();
                            TabElencoPreventivi();
                            GestionePulsantiUploadPreventivi();
                        } else {
                            ErroreElaborazioneAjax(result.err);
                        }
                    },
                    complete: function () {

                    },
                    error: function (jqXHR, textStatus, errorThrow) {
                        //    debugger;
                        var msg = errorThrow.err;
                        ErroreElaborazioneAjax(msg);
                    }
                });
            }

       function ElencoDocumentiViaggioCongedo() {
            //    debugger;
        
         $("#tabFase2PDFPreventiviDiViaggi").hide();

        var rotta = "/ViaggiCongedo/ElencoDocumentiVC";
        var idTrasferimento = @idTrasferimento;
        //   var idTipoDocumento = parseInt($("#hiNuovoDocumento").val());

        $.ajax({
            url: rotta,
            type: "POST", //Le info testuali saranno passate in POST
            data: { idTrasferimento: idTrasferimento },
            dataType: 'html',
            async: false,
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$('#inviaDocModal').modal('show');
                //  Blocca();
            },
            success: function (result) {
                //debugger;
                $("#divViaggioCongedioMain").empty();
                $("#divViaggioCongedioMain").html(result);
            },
            error: function (error) {
                //debugger;
                //     Sblocca();
                var msg = error.responseText;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

        </script>


