@using NewISE.Models.DBModel
@model IEnumerable<NewISE.Models.DBModel.ViaggioCongedoModel>

@{
        // decimal idViaggioCongedo = Convert.ToDecimal(ViewData["idViaggioCongedo"]);
        //decimal idAttivazioneTitoliViaggio = Convert.ToDecimal(ViewData["idAttivazioneTitoliViaggio"]);
        //bool richiestaEseguita = Convert.ToBoolean(ViewData["richiestaEseguita"]);
        //EnumStatoTraferimento statoTrasferimento = (EnumStatoTraferimento)Convert.ToDecimal(ViewData["statoTrasferimento"]);
        decimal idTrasferimento = Convert.ToDecimal(ViewData["idTrasferimento"]);
        bool admin = Convert.ToBoolean(ViewBag.Amministratore);
        decimal id_Viaggio_Congedo = Convert.ToDecimal(ViewData["id_Viaggio_Congedo"]);
        decimal id_Attiv_Viaggio_Congedo = Convert.ToDecimal(ViewData["id_Attiv_Viaggio_Congedo"]);
        bool NotificaInviata = Convert.ToBoolean(ViewData["NotificaInviata"]);
        decimal ConteggioElementi = (decimal)ViewData["ConteggioElementi"];
        bool AttivazioneInviata= Convert.ToBoolean(ViewData["AttivazioneInviata"]) ;
    }

    @Html.Hidden("HIid_Attiv_Viaggio_Congedo", id_Attiv_Viaggio_Congedo)

<div class="row">
    @*<div class="col-md-5" style="margin-top:5px;"><br />
        <table id="tabUploadDocumentiViaggiCongedo">
            @Html.Action("ElencoUploadDocumentiViaggiCongedo", "ViaggiCongedo", new { idViaggioCongedo = id_Viaggio_Congedo, idAttivViaggioCongedo = id_Attiv_Viaggio_Congedo })
        </table>
    </div>*@

    <div id="PulsantiDiPVC" class="pull-right" style="margin-top: 5px; margin-bottom: 10px;margin-right:55px ">

        @if (NotificaInviata)
        {
            <button class="btn btn-default btn-sm disabled" disabled id="btNotificaPreventiviRichiesta">
                <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                Notifica richiesta
            </button>
        }
        else
        {
            if (ConteggioElementi != 0)
            {
                <button class="btn btn-default btn-sm"  id="btNotificaPreventiviRichiesta" onclick="ModalNotificaPreventiviRichiesta();">
                <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                Notifica richiesta
                </button>
            }
            else
            {
                <button class="btn btn-default btn-sm disabled" disabled id="btNotificaPreventiviRichiesta">
                    <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                    Notifica richiesta
                </button>
            }
        }
        @if(@admin)
        {
            <button class="btn btn-default btn-sm disabled" disabled id="btAttivaPreventivi" onclick="ModalAttivaPreventiviRichiesta(); ">
                <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                Attiva preventivo
            </button>

            if (AttivazioneInviata)
            {
                <button class="btn btn-default btn-sm disabled" disabled id="btAnnullaPreventivi" onclick="ModalAnnullaPreventiviRichiesta();">
                    <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                    Annulla richiesta
                </button>
            }
            else if (NotificaInviata)
            {
            <button class="btn btn-default btn-sm"   id="btAnnullaPreventivi" onclick="ModalAnnullaPreventiviRichiesta();">
                <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                Annulla richiesta
            </button>
            }            
            else
            {
                <button class="btn btn-default btn-sm disabled" disabled id="btAnnullaPreventivi" onclick="ModalAnnullaPreventiviRichiesta();">
                    <i aria-hidden="true" class="fa fa-2x fa-envelope"></i>
                    Annulla richiesta
                </button>
            }
        }
    </div>
</div>

<div class="modal fade" id="ModalNotificaPreventiviRichiesta" tabindex="-1" role="dialog" aria-labelledby="ModalNotificaPreventiviRichiestaLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="notificaModelLabel">Attenzione!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewNotificaPreventiviRichiesta">
                    <label>Procedere con la notifica della richiesta?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaNotificaPreventiviRichiesta" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaNotificaPreventiviRichiesta();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAttivaPreventiviRichiesta" tabindex="-1" role="dialog" aria-labelledby="ModalAttivaPreventiviRichiestaLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="AttivaModelLabel">Attenzione!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewAttivaPreventiviRichiesta">
                    <label>Procedere con l'attivazione della richiesta?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaAttivazionePreventiviRichiesta" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAttivaPreventiviRichiesta();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAnnullaPreventiviRichiesta" tabindex="-1" role="dialog" aria-labelledby="ModalAnnullaPreventiviRichiestaLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="annullaModelLabel">Info!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewAnnullaPreventiviRichiesta">
                    <label>Procedere con l'annullamento della richiesta?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaAnnullaPreventiviRichiesta" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAnnullaPreventiviRichiesta();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function ModalNotificaPreventiviRichiesta() {
        //debugger;
        $('#ModalNotificaPreventiviRichiesta').modal().show();
    }

    function ModalAnnullaPreventiviRichiesta() {
        //debugger;
        //MessaggioAnnullaPreventiviRichiesta();
        $('#ModalAnnullaPreventiviRichiesta').modal().show();
    }

    function ModalAttivaPreventiviRichiesta() {
        //debugger;
        $('#ModalAttivaPreventiviRichiesta').modal().show();
    }
   
    function MessaggioAnnullaPreventiviRichiesta() {
        //debugger;
        var rotta = "/ViaggiCongedo/MessaggioAnnullaTEPartenza";
        var idTrasportoEffettiPartenza = 0;@*// parseInt('@idTrasportoEffettiPartenza');*@
        $.ajax({
            type: "POST",
            url: rotta,
            data: { idTrasportoEffettiPartenza: idTrasportoEffettiPartenza },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                $("#viewAnnullaPreventiviRichiesta").empty();
                $("#viewAnnullaPreventiviRichiesta").html(result);
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }
    //()
    
</script>
