@model NewISE.Models.DBModel.PrimaSistemazioneModel

<script src="~/Scripts/autoNumeric/autoNumeric-min.js"></script>

@{
    decimal idPrimaSistemazione = Convert.ToDecimal(ViewData["idPrimaSistemazione"]);
}

<div class="row">
    <div class="col-xs-12">
        <div id="divAttivitaAnticipi">
            @*@Html.Action("AttivitaAnticipi", "Anticipi", new { idPrimaSistemazione = idPrimaSistemazione })*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="divAttivazioneAnticipi">
            @*@Html.Action("GestionePulsantiAnticipi", "Anticipi", new { idPrimaSistemazione = idPrimaSistemazione })*@
        </div>
    </div>
</div>




<script type="text/javascript">
    //debugger;

    AttivitaAnticipi();

    function GestionePulsantiNotificaAttivaAnnullaAnticipi() {
        //debugger;
        var rotta = "/Anticipi/GestionePulsantiAnticipi";
        var idPrimaSistemazione = parseInt('@idPrimaSistemazione');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idPrimaSistemazione: idPrimaSistemazione },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                $("#divAttivazioneAnticipi").empty();
                $("#divAttivazioneAnticipi").html(result);
                //CalcolaAnticipo();
                Sblocca();
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });
    }

    function AttivitaAnticipi() {
        //debugger;
        var rotta = "/Anticipi/AttivitaAnticipi";
        var idPrimaSistemazione = parseInt('@idPrimaSistemazione');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idPrimaSistemazione: idPrimaSistemazione },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                $("#divAttivitaAnticipi").empty();
                $("#divAttivitaAnticipi").html(result);
                GestionePulsantiNotificaAttivaAnnullaAnticipi();

            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });
    }

    function ConfermaNotificaRichiestaAnticipi(idAttivitaAnticipi) {
        //debugger;
        var rotta = "/Anticipi/ConfermaNotificaRichiestaAnticipi";
        //var percentualeRichiesta = document.getElementById("PercentualeAnticipoRichiesto").value;
        var percentualeRichiesta = parseInt($("#PercentualeAnticipoRichiesto").autoNumeric('get'));


        $.ajax({
            type: "POST",
            url: rotta,
            data: { idAttivitaAnticipi: idAttivitaAnticipi, percentualeRichiesta: percentualeRichiesta },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    InfoElaborazioneAjax(result.msg);
                    AttivitaAnticipi();
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });
    }

    function ConfermaAnnullaRichiestaAnticipi(idAttivitaAnticipi) {
        //debugger;
        var rotta = "/Anticipi/ConfermaAnnullaRichiestaAnticipi";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idAttivitaAnticipi: idAttivitaAnticipi },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    InfoElaborazioneAjax(result.msg);
                    AttivitaAnticipi();
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function ConfermaAttivaRichiestaAnticipi(idAttivitaAnticipi) {
        //debugger;
        var rotta = "/Anticipi/ConfermaAttivaRichiestaAnticipi";

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idAttivitaAnticipi: idAttivitaAnticipi },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    InfoElaborazioneAjax(result.msg);
                    AttivitaAnticipi();
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function CalcolaAnticipo(idAttivitaAnticipi,ValsoloLettura) {

        //debugger;
        var rotta = "/Anticipi/CalcolaAnticipo";

        var percRichiesta = parseInt($("#PercentualeAnticipoRichiesto").autoNumeric('get'));

        if (!isNaN(percRichiesta))
        {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idAttivitaAnticipi: idAttivitaAnticipi, percRichiesta: percRichiesta },
                async: true,
                dataType: 'json',
                beforeSend: function () {
                    //debugger;
                    VerificaAutenticazione();
                    $("#divLoader").show();
                    $("#divImportoPercepito").hide();
                },
                success: function (result) {
                    //debugger;
                    if (result.err == "") {
                       
                        $("#ValImportoPercepito").autoNumeric('set', result.importoPercepito);

                        var percRichiesta_old = parseFloat($("#hiPercentualeRichiesta").val());

                        if (ValsoloLettura==0 && percRichiesta_old != percRichiesta && percRichiesta>0) {
                            $("#btNotificaRichiestaAnticipi").removeAttr("disabled");
                            $("#btNotificaRichiestaAnticipi").removeClass("disabled");
                        } else
                        {
                            $("#btNotificaRichiestaAnticipi").attr("disabled", "disabled");
                            $("#btNotificaRichiestaAnticipi").addClass("disabled");
                        }
                    } else {
                        ErroreElaborazioneAjax(result.err);
                    }
                    $("#divLoader").hide();
                    $("#divImportoPercepito").show();

                },
                complete: function () {

                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    ErroreElaborazioneAjax(msg);
                }

            });
        } else
        {
            $("#btNotificaRichiestaAnticipi").attr("disabled", "disabled");
            $("#btNotificaRichiestaAnticipi").addClass("disabled");
        }
    }



</script>