@model NewISE.Models.DBModel.PrimaSistemazioneModel

<script src="~/Scripts/autoNumeric/autoNumeric-min.js"></script>

@{
    decimal idPrimaSistemazione = Convert.ToDecimal(ViewData["idPrimaSistemazione"]);
}

<div class="row">
    <div class="col-xs-12">
        <div id="divAttivitaAnticipi">
            @*@Html.Action("AttivitaAnticipi", "Anticipi", new { idPrimaSistemazione = idPrimaSistemazione })*@
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="divAttivazioneAnticipi">
            @*@Html.Action("GestionePulsantiAnticipi", "Anticipi", new { idPrimaSistemazione = idPrimaSistemazione })*@
        </div>
    </div>
</div>

<div class="modal fade" id="ModalNotificaRichiestaAnticipi" tabindex="-1" role="dialog" aria-labelledby="ModalNotificaRichiestaAnticipiLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="notificaModelLabel">Attenzione!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewNotificaRichiestaAnticipi">
                    <label>Procedere con la notifica della richiesta?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaNotificaRichiestaAnticipi" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaNotificaRichiestaAnticipi();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAttivaRichiestaAnticipi" tabindex="-1" role="dialog" aria-labelledby="ModalAttivaRichiestaAnticipiLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="AttivaModelLabel">Attenzione!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewAttivaRichiestaAnticipi">
                    <label>Procedere con l'attivazione della richiesta?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaAttivazioneRichiestaAnticipi" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAttivaRichiestaAnticipi();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAnnullaRichiestaAnticipi" tabindex="-1" role="dialog" aria-labelledby="ModalAnnullaRichiestaAnticipiLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title alert alert-info text-info" id="annullaModelLabel">Info!!!</h3>
            </div>
            <div class="modal-body alert alert-info text-info" style="font-size: 1em;">
                <p id="viewAnnullaRichiestaAnticipi">
                    <label>Procedere con l'annullamento della richiesta?</label>
                </p>
            </div>
            <div class="modal-footer">
                <button id="btConfermaAnnullaRichiestaAnticipi" type="button" class="btn btn-info" data-dismiss="modal" onclick="ConfermaAnnullaRichiestaAnticipi();">Procedi</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    //debugger;

    AttivitaAnticipi();

    function GestionePulsantiNotificaAttivaAnnullaAnticipi() {
        //debugger;
        var rotta = "/Anticipi/GestionePulsantiAnticipi";
        var idPrimaSistemazione = parseInt('@idPrimaSistemazione');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idPrimaSistemazione: idPrimaSistemazione },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                $("#divAttivazioneAnticipi").empty();
                $("#divAttivazioneAnticipi").html(result);
                //CalcolaAnticipo();
                Sblocca();
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });
    }

    function AttivitaAnticipi() {
        //debugger;
        var rotta = "/Anticipi/AttivitaAnticipi";
        var idPrimaSistemazione = parseInt('@idPrimaSistemazione');

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idPrimaSistemazione: idPrimaSistemazione },
            dataType: 'html',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                $("#divAttivitaAnticipi").empty();
                $("#divAttivitaAnticipi").html(result);
                GestionePulsantiNotificaAttivaAnnullaAnticipi();

            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });
    }

    function ConfermaNotificaRichiestaAnticipi() {
        //debugger;
        var rotta = "/Anticipi/ConfermaNotificaRichiestaAnticipi";
        var percentualeRichiesta = parseInt($("#PercentualeAnticipoRichiesto").autoNumeric('get'));
        var idAttivitaAnticipi = parseInt($('#hiIdAttivitaAnticipi').val());


        $.ajax({
            type: "POST",
            url: rotta,
            data: { idAttivitaAnticipi: idAttivitaAnticipi, percentualeRichiesta: percentualeRichiesta },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    //InfoElaborazioneAjax(result.msg);
                    AttivitaAnticipi();
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }

        });
    }

    function ConfermaAnnullaRichiestaAnticipi() {
        //debugger;
        var rotta = "/Anticipi/ConfermaAnnullaRichiestaAnticipi";
        var idAttivitaAnticipi = parseInt($('#hiIdAttivitaAnticipi').val());

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idAttivitaAnticipi: idAttivitaAnticipi },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    //InfoElaborazioneAjax(result.msg);
                    AttivitaAnticipi();
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {
            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function ConfermaAttivaRichiestaAnticipi() {
        //debugger;
        var rotta = "/Anticipi/ConfermaAttivaRichiestaAnticipi";
        var idAttivitaAnticipi = parseInt($('#hiIdAttivitaAnticipi').val());

        $.ajax({
            type: "POST",
            url: rotta,
            data: { idAttivitaAnticipi: idAttivitaAnticipi },
            dataType: 'json',
            beforeSend: function () {
                //debugger;
                VerificaAutenticazione();
                //$("#DialogNewDoc").dialog("destroy");
                //$("#divEffettoLoadAutNoDoc").show("slow");
            },
            success: function (result) {
                //debugger;
                if (result.err == "") {
                    //InfoElaborazioneAjax(result.msg);
                    AttivitaAnticipi();
                } else {
                    ErroreElaborazioneAjax(result.err);
                }
            },
            complete: function () {

            },
            error: function (jqXHR, textStatus, errorThrow) {
                //debugger;
                var msg = errorThrow.err;
                ErroreElaborazioneAjax(msg);
            }
        });
    }

    function CalcolaAnticipo(idAttivitaAnticipi, ValsoloLettura) {

        //debugger;
        var rotta = "/Anticipi/CalcolaAnticipo";

        var percRichiesta = parseInt($("#PercentualeAnticipoRichiesto").autoNumeric('get'));

        if (!isNaN(percRichiesta)) {
            $.ajax({
                type: "POST",
                url: rotta,
                data: { idAttivitaAnticipi: idAttivitaAnticipi, percRichiesta: percRichiesta },
                async: true,
                dataType: 'json',
                beforeSend: function () {
                    //debugger;
                    VerificaAutenticazione();
                    $("#divLoader").show();
                    $("#divImportoPercepito").hide();
                },
                success: function (result) {
                    //debugger;
                    if (result.err == "") {

                        $("#ValImportoPercepito").autoNumeric('set', result.importoPercepito);

                        var percRichiesta_old = parseFloat($("#hiPercentualeRichiesta").val());

                        if (ValsoloLettura == 0 && percRichiesta_old != percRichiesta && percRichiesta > 0) {
                            $("#btNotificaRichiestaAnticipi").removeAttr("disabled");
                            $("#btNotificaRichiestaAnticipi").removeClass("disabled");
                        } else {
                            $("#btNotificaRichiestaAnticipi").attr("disabled", "disabled");
                            $("#btNotificaRichiestaAnticipi").addClass("disabled");
                        }
                    } else {
                        ErroreElaborazioneAjax(result.err);
                    }
                    $("#divLoader").hide();
                    $("#divImportoPercepito").show();

                },
                complete: function () {

                },
                error: function (jqXHR, textStatus, errorThrow) {
                    //debugger;
                    var msg = errorThrow.err;
                    ErroreElaborazioneAjax(msg);
                }

            });
        } else {
            $("#btNotificaRichiestaAnticipi").attr("disabled", "disabled");
            $("#btNotificaRichiestaAnticipi").addClass("disabled");
        }
    }



</script>