@{
    decimal idTrasferimento = (decimal)ViewData["idTrasferimento"];
}

<div class="row">
    <div class="col-xs-12">
        <div id="ContenitoreAticipi">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="ContenitoreAttivazioneAnticipi">

        </div>
    </div>
</div>