@using ReportViewerForMvc;
@using Microsoft.Reporting.WebForms;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>Riepilogo delle Operazioni effettuate - Spese Diverse</title>
</head>
<body>
    @{
        ViewBag.Title = "Riepilogo delle Operazioni effettuate - Spese Diverse";
    }


    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)


</body>
</html>
